<script>
var dataTable = null;
var prev_status = "<%=@prev_status%>"
var registration_type ="<%= params[:registration_type] rescue '' %>"
var amendment = "<%=@amendment rescue ''%>";

function addRows(data, skip_parse) {
  if (skip_parse == true){
      people = data;
  }else {
      people = JSON.parse(data);
  }
  for (var i = 0; i < people.length; i++) {
    den = people[i]['den'],
    drn = people[i]['drn'],
    name = people[i]['name'];
    gender = people[i]['gender'];
    dob = people[i]['dob'];
    dob = people[i]['dod'];
    place_of_death = people[i]['place_of_death'];
    physical_address = people[i]["physical_address"];
    person_id = people[i]["person_id"];
    spam = document.createElement("spam");

    var btn = document.createElement("input");
      btn.setAttribute("type", "button");
      btn.setAttribute("value", "View");
      btn.setAttribute("class", "btn btn-info btn-small");
      btn.setAttribute("person_id", person_id);
      btn.setAttribute("onclick", ("window.location = '/view_cases/"  + person_id + "'"));
      spam.appendChild(btn);

      /*age = patients[i]["age"];
      patient_id = patients[i]["patient_id"];
      account_number = patients[i]["account_number"];*/
    dataTable.api().row.add([drn, den, name, gender,dob,dob, place_of_death, spam.innerHTML]).draw();

  }

  if(people.length > 0) {
    current_page ++;
    getCases();
  }

}

var current_page = parseInt(<%=(@page.to_i rescue 0)%>);

function getCases() {    
  var url                                                   

  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }
                                                                           
  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      var results = xmlhttp.responseText;

      console.log(results);

      if(results == 'undefined' || results == '' || results == '"not validate"' || results.length == 0) {
        return;                                                               
      }else{

       //dataTable.fnClearTable();
        addRows(results);                                                           
      }                                                                       
    }                                                                         
  } 

  var url ="";                                                                  
  if(prev_status && prev_status.length > 0){
      var status = "";
      <% @statuses.each {|s|%>
        status = "<%= s%>";
      <% } %>
      url = ("/add_more_open_cases_with_prev_status/"+current_page + "?status="+status+"&prev_status=<%=@prev_status%>")
  }else if(registration_type && registration_type.length > 0){
      url = ("/add_more_special_cases/"+current_page + "?registration_type="+registration_type)
  }else if(amendment && amendment.length > 0){
      url = ("/add_more_reprint_or_amended/"+current_page)
  }else{
       var status = ""
      <% @statuses.each {|s|%>
        if (status == ""){
            status = "<%= s.split(/\s+/).join('_')%>";
        }else{
            status += ("|" + "<%= s.split(/\s+/).join('_')%>");
        }
      <% } %>
      url = ("/add_more_open_cases/"+current_page + "?statuses=" + status)
  }
 

  xmlhttp.open("GET",url,true);
  xmlhttp.send();                                                             
}


</script>

<!--table id="cases">
  <thead>
    <tr>
      <th style="min-width: 70px;">DRN</th>
      <th style="min-width: 82px;">DEN</th>
      <th>First name</th>
      <th>Middle name</th>
      <th>Last name</th>
      <th>DOB</th>
      <th>Gender</th>

      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  </tbody>

  <tfoot>
  </tfoot>
</table-->
<style type="text/css">
    #containt_table{
      width: 100%;
      padding: 1%;
      background: #ffffff;
      box-shadow: 1.0px 1.0px 0.5px #adaba8;
      border-top: 2px solid darkgoldenrod;
    }
    table th{
      color :#394a59 !important;
    }
    table td {
        color :#394a59;
    }
    h3{
        margin-left: 1%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        color: #4c79a3;
    }
    #cases th, #cases td {
        width: 7% !important;
        text-align: center;
    }
</style>
<div id="containt_table">
    <h3><%= @title.humanize rescue ''%></h3>
    <table class="table table-striped table-advance table-hover" id="cases">
    <thead>
      <tr>
        <th><i class=""></i> DRN</th>
        <th><i class=""></i> DEN</th>
        <th><i class=""></i> Name</th>
        <th><i class=""></i> Gender</th>
        <th><i class=""></i> DOB</th>
        <th><i class=""></i> DOD</th>
        <th><i class=""></i> Place of Death</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tfoot>
    </tfoot>

    </table>
</div>
<script>

function initDataTable(){        
  try {  
    dataTable = $('#cases').dataTable({
                  "pageLength": 7,
                  "autoWidth": true,
                  "lengthChange": true,
                  "order": [[ 1, "asc" ]]
                });
  }catch(e){
    alert(e);
  }

  var cases = [];
  var h = {}

  <% (@cases || []).each do |cas|
        keys = cas.keys
        keys.each do |k|
          v = cas[k] %>
          h['<%= k %>'] = '<%= v%>';
        <%end%>

        cases.push(h);
        h = {};
  <%end%>

  if (cases && cases.length > 0){
    addRows(cases, true);
  }
  getCases();
}

setTimeout(initDataTable(), 2000);
</script>
