<style>
  input[type=radio].css-checkbox {
      position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
    }

    input[type=radio].css-checkbox + label.css-label {
              padding-left:24px;
              height:19px; 
              display:inline-block;
              line-height:19px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:1.0em;
              vertical-align:middle;
              cursor:pointer;

    }

    input[type=radio].css-checkbox:checked + label.css-label {
              background-position: 0 -19px;
    }
    label.css-label {
        background-image:url(/assets/checkbox/checkbox1.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #31404d;
    }
  .table-cell{
      width: 50%;
      padding: 4px;
      padding-left: 30px !important;
      color: darkslategray;
  }
  .btn{
      min-width: 100px;
      margin-left: 10px;
  }
  .dynamic-button{
      margin-left: 15px;
      margin-right: 25px;
  }
  .summary{
      margin-bottom: 1%;
      width: 100%;
  }
   .summary th{
      background: #344351;
      color:#ffffff;
      text-align: center;
    }
  .summary td {
      background: #ffffff;
      text-align: left !important;
      padding: 5px;
      padding-left: 10px;
      border: 1px solid lightslategrey;
      color :#344351;

  }
  .clickable{

      font-weight: bold;
  }

  th{
      padding: 8px;
  }

  #shield{
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      left: 0px;
      top: 0px;
      background: rgba(128,128,128,0.35);
      z-index: 1050;
      display: none;
    }
    .modal-body{
      background: #ffffff;
    }
    .user_role {
        color: #322d2d !important;
    }
</style>

<%
    
%>

<div style="background: white">
  <div style="height: 535px; overflow: auto;padding: 0px; margin:0px;">
    <table class="summary" id="summary"  style="">
        <% if @locked && false%>
          <tr>
              <td colspan="6" style="color:red;text-align:center"> <center><b>Record is locked since it is been reviewed by another user please check later</b></center></td>
          </tr>
        <%end%>

          <tr>
              <% if @person.cause_of_death1.blank? && @person.manner_of_death.present? %>
                <td style="background: #dbdada;font-weight: bold;">
                    NR-10C
                </td>
              <%else%>
                <td style="background: #dbdada;font-weight: bold;">
                    NR10
                </td>
              <%end%>
              <% if @person.court_order.present? && @person.registration_type == "Missing Persons"%>
              <td ><b >Court order attached ? :</b> </td>
              <td colspan="2" style="text-align:left"><%= @person.court_order%></td>
              <%end%>
              <% if @person.police_report.present? && (@person.registration_type == "Abnormal Deaths" || @person.registration_type == "Unclaimed bodies")%>
              <td><b>Police report attached ? :</b></td>
              <td colspan="2" style="text-align:left"><%= @person.police_report%></td>
              <%end%>
              <% if @person.proof_of_death_abroad.present? && @person.registration_type == "Deaths Abroad" %>
              <td colspan="3"><b>Proof of death abroad attached? :</b></td>
              <td colspan="2" style="text-align:left"><%=  @person.proof_of_death_abroad %> </td>
              <%end%>

              <td colspan="3" style="border-right:none"><b>Place of Registration : </b></td>
              <% if @person.facility_code.to_s.present? %>
                <td colspan="3" style="color:#4775a1;border-left:none"><%= HealthFacility.by_facility_code.key(@person.facility_code).first.name %> , <%= District.find(@person.district_code).name %></td>
              <%else%>
                 <% if@person.registration_type == "Dead on Arrival" %>
                      <td colspan="3" style="color:#4775a1;border-left:none"><%= @person.place_of_registration %>,<%= District.find(@person.district_code).name %></td>
                 <%else%>
                  <td colspan="3" style="color:#4775a1;border-left:none"><%= District.find(@person.district_code).name %> DRO</td>
                <%end%>
              <%end%>
          </tr>
          <tr>
            <td style="border-right:none"><b>Registration Category : </b></td>
            <td colspan="2" style="color:#4775a1; border-left:none"><%= @person.registration_type%></td>
            <td colspan="2" style="border-right:none"><b>Record Status : </b></td>
            <td colspan="2" style="color:#4775a1;border-left:none"><%= @status.status == "HQ CAN PRINT" ? "CAN PRINT" : @status.status%></td>
            <td style="border-right:none"><b>DEN : </b></td>
            <td style="color:#4775a1;border-left:none"><%= @person.den rescue ''%></td>
            <td style="border-right:none"><b>DRN : </b></td>
            <td style="color:#4775a1;border-left:none"><%= @person.drn rescue ''%></td>
          </tr>
          <tr>
          <tr>
            <th colspan="11">Section 1 : Particulars of the deceased</th>
          </tr>

          <tr>
            <td rowspan="<%= @person.cause_of_death1.blank? && @person.manner_of_death.present? ? 14 : 10 %>" style="background-color:#dbdada;">PART 1 <br/>PERSONAL DETAILS OF DECEASED</td>
            <td>1</td>
            <td  class="clickable" onclick="editField('last_name')">Surname</td>
            <td colspan="2" ><%= @person.last_name %></td>
            <td class="clickable" onclick="editField('first_name')" >First name</td>
            <td  colspan="1"><%= @person.first_name %></td>
            <td class="clickable" onclick="editField('middle_name')" >Other</td>
            <td colspan="1"><%= @person.middle_name rescue "" %></td>
            <td class="clickable" >Barcode No.</td>
            <td colspan="1"><%= @person.barcode rescue "" %></td>
          </tr>
          <tr>
            <td>2</td>
            <td class="clickable" onclick="editField('id_number')" >ID No.</td>
            <td style="border-bottom :1.5px solid black"><%= @person.id_number rescue ""%></td>
            <td>3</td>
            <td class="clickable" onclick="editField('nationality')">Nationality</td>
            <td colspan="2" style="border-bottom :1.5px solid black"><%= @person.nationality rescue ""%></td>
            <td>4</td>
            <td class="clickable" onclick="editField('gender')">Sex</td>
            <td style="border-bottom:1.5px solid black"> <%= @person.gender %></td>
          </tr>
          <tr>
            <td>5</td>
            <td class="clickable" onclick="editField('birthdate')" >Birth Date</td>
            <td style="border-bottom: 1.5px solid black" colspan="3"><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
            <td>6</td>
            <td class="clickable" onclick="editField('date_of_death')" colspan="2" >Date of Death</td>
            <td style="border-bottom: 1.5px solid black" colspan="2"><%= Date.parse(@person.date_of_death.to_s).strftime("%d/%b/%Y") %></td>
          </tr>
          <tr>
            <td rowspan="4">7</td>
            <td class="clickable" onclick="editField('place_of_death')" >Place of Death</td>
          
          <%if (@person.place_of_death.present? || @person.other_place_of_death.present?) %>
            <td colspan="8"><%= @person.place_of_death %></td>
          <%else%>
            <td colspan="8"><%= @person.place_of_death_foreign %>
          <%end%>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('hospital_of_death')" ><input type="radio" name="radiog_dark" id="facility" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Health Facility</label></td>
            <td colspan="8" style="border-bottom: 1.5px solid black"> <%= @person.hospital_of_death %></td>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('hospital_of_death')" ><input type="radio" name="radiog_dark" id="home" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Home</label></td>
          <% if (@person.place_of_death_country == 'Malawi' || @person.place_of_death_village) %>
            <td class="clickable">Address</td>
            <td class="clickable" onclick="editField('place_of_death_district')" >District</td>
            <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_district %></td>
            <td class="clickable" onclick="editField('place_of_death_ta')">TA</td>
            <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_ta %></td>
            <td class="clickable" onclick="editField('place_of_death_village')" >Village</td>
            <td style="border-bottom:1.5px solid black" colspan="2"><%= @person.place_of_death_village %></td>
          <%else%>
            <td class="clickable" onclick="editField('place_of_death_country')" >Country</td>
            <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_country %></td>
            <td class="clickable" onclick="editField('place_of_death_foreign_state')">State</td>
            <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_foreign_state %></td>
            <td class="clickable" onclick="editField('place_of_death_foreign_district')" >District</td>
            <td style="border-bottom:1.5px solid black" ><%= @person.place_of_death_foreign_district  %></td>
            <td class="clickable" onclick="editField('place_of_death_foreign_village')" >Town</td>
            <td style="border-bottom:1.5px solid black" ><%= @person.place_of_death_foreign_village  %></td>
          <% end %>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('place_of_death_country')" ><input type="radio" name="radiog_dark" id="other" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Other</label></td>
            <td colspan="8"><%= @person.other_place_of_death rescue '' %></td>
          </tr>
  <% if @person.cause_of_death1.blank? && @person.manner_of_death.present? %>
      <tr>
        <td rowspan="2">8</td>
        <td rowspan="2" class="clickable">Manner of Death</td>
        <td>
            <input type="radio" name="manner_of_death" id="natural" class="css-checkbox" 
               <%= @person.manner_of_death == 'Natural'? 'checked = true' : '' %> disabled/>
               <label for="natural" class="css-label radGroup2">Natural</label>
        </td>
        <td>
            <input type="radio" name="manner_of_death" id="accident" class="css-checkbox"
              <%= @person.manner_of_death == 'Accident'? 'checked = true' : '' %> disabled />
            <label for="accident" class="css-label radGroup2">Accident</label>
        </td>
        <td>
            <input type="radio" name="manner_of_death" id="homicide" class="css-checkbox" 
              <%= @person.manner_of_death == 'Homicide'? 'checked = true' : '' %> disabled/>
            <label for="homicide" class="css-label radGroup2">Homicide</label>
        </td>
        <td>
            <input type="radio" name="manner_of_death" id="sucide" class="css-checkbox"
              <%= @person.manner_of_death == 'Sucide'? 'checked = true' : '' %> disabled />
            <label for="sucide" class="css-label radGroup2">Sucide</label>
        </td>
        <td colspan="2">
            <input type="radio" name="manner_of_death" id="pending_investigation" class="css-checkbox" 
              <%= @person.manner_of_death == 'Pending Investigation'? 'checked = true' : '' %> disabled/>
              <label for="pending_investigation" class="css-label radGroup2">Pending Investigation</label>
        </td>
        <td colspan="2">
            <input type="radio" name="manner_of_death" id="could_not_be_determined" class="css-checkbox"
              <%= @person.manner_of_death == 'Could not be determined'? 'checked = true' : '' %> disabled/>
              <label for="could_not_be_determined" class="css-label radGroup2">Could not be determined</label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="radio" name="manner_of_death" id="other" class="css-checkbox"
              <%= @person.manner_of_death == 'Other'? 'checked = true' : '' %> disabled />
              <label for="other" class="css-label radGroup2">Other</label>
        </td>
        <td class="clickable">
          Specify 
        </td>
        <td colspan="5">
            <%= @person.other_manner_of_death rescue '' %>
        </td>
      </tr>
      <tr>
        <td rowspan="2">9</td>
        <td rowspan="2" class="clickable">If Accident, how did it occur?</td>
        <td colspan="2">
          <input type="radio" name="death_by_accident" id="Motor Vehicle(Driver)" class="css-checkbox"
            <%= @person.death_by_accident == 'Motor vehicle(Driver)'? 'checked = true' : '' %> disabled />
          <label for="Motor Vehicle(Driver)" class="css-label radGroup2">Motor Vehicle(Driver)</label>
        </td>
        <td colspan="3">
          <input type="radio" name="death_by_accident" id="Motor Vehicle(Passenger)" class="css-checkbox" 
            <%= @person.death_by_accident == 'Motor vehicle(Passenger)'? 'checked = true' : '' %> disabled/>
          <label for="Motor Vehicle(Passenger)" class="css-label radGroup2">Motor Vehicle(Passenger)</label>
        </td>
        <td colspan="3">
          <input type="radio" name="death_by_accident" id="Motor vehicle(Pedestrian)" class="css-checkbox" 
            <%= @person.death_by_accident == 'Motor vehicle(Pedestrian)'? 'checked = true' : '' %> disabled/>
          <label for="Motor vehicle(Pedestrian)" class="css-label radGroup2">Motor vehicle(Pedestrian)</label>
        </td>

      </tr>
      <tr>
        <td colspan="2">
          <input type="radio" name="death_by_accident" id="Drowning" class="css-checkbox" 
            <%= @person.death_by_accident == 'Drowning'? 'checked = true' : '' %> disabled/>
          <label for="Drowning" class="css-label radGroup2">Drowning</label>
        </td>
        <td>
          <input type="radio" name="death_by_accident" id="Other" class="css-checkbox" 
            <%= @person.death_by_accident == 'Other'? 'checked = true' : '' %> disabled/>
          <label for="Other" class="css-label radGroup2">Other</label>
        </td>
        <td class="clickable">
          Specify
        </td>
        <td colspan="4">
            <%= @person.other_death_by_accident rescue '' %>
        </td>
      </tr>
      <tr>
        <td>10</td>
        
      <% if (@person.current_country == "Malawi" || @person.current_district) %>
        <td colspan="3" class="clickable" onclick="editField('current_district')">Physical residential address</td>
        <td class="clickable" onclick="editField('current_district')" >District </td>
        <td><%= @person.current_district%></td>
        <td class="clickable" onclick="editField('current_ta')">TA</td>
        <td><%= @person.current_ta %></td>
        <td class="clickable" onclick="editField('current_village')" >Village</td>
        <td><%= @person.current_village %></td>
      <%else%>
        <td class="clickable" onclick="editField('current_district')">Physical address</td>
        <td class="clickable" onclick="editField('current_country')" >Country</td>
        <td style="border-bottom:1.5px solid black"><%= @person.current_country.to_s !='Other'? @person.current_country : (@person.other_current_country rescue '') %></td>
        <td class="clickable" onclick="editField('current_foreign_state')">State</td>
        <td style="border-bottom:1.5px solid black"><%= @person.current_foreign_state %></td>
        <td class="clickable" onclick="editField('current_foreign_district')" >District</td>
        <td style="border-bottom:1.5px solid black" ><%= @person.current_foreign_district  %></td>
        <td class="clickable" onclick="editField('current_foreign_village')" >Town</td>
        <td style="border-bottom:1.5px solid black" ><%= @person.current_foreign_village  %></td>
      <%end%>
      </tr>
      <tr>
        <td>11</td>
        <td colspan="3" class="clickable" onclick="editField('home_district')">Home address</td>
        <td class="clickable" onclick="editField('home_district')" >District </td>
        <td><%= @person.home_district %></td>
        <td class="clickable" onclick="editField('home_ta')">TA</td>
        <td><%= @person.home_ta %></td>
        <td class="clickable" onclick="editField('home_village')" >Village</td>
        <td><%= @person.home_village %></td>
      </tr>
      <tr>
        <td>12</td>
        <% if @person.died_while_pregnant == "Yes" ||  @person.died_while_pregnant == "NO" %>
          <td colspan="8" class="clickable" onclick="editField('died_while_pregnant')" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
          <td><%= @person.died_while_pregnant rescue "" %></td>
        <%else%>
          <td colspan="8" class="clickable" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
          <td>N/A</td>
        <%end%>
      </tr> 

  <%else%>

      <tr>
        <td>8</td>
        
      <% if (@person.current_country == "Malawi" || @person.current_district) %>
        <td colspan="3" class="clickable" onclick="editField('current_district')">Physical residential address</td>
        <td class="clickable" onclick="editField('current_district')" >District </td>
        <td><%= @person.current_district%></td>
        <td class="clickable" onclick="editField('current_ta')">TA</td>
        <td><%= @person.current_ta %></td>
        <td class="clickable" onclick="editField('current_village')" >Village</td>
        <td><%= @person.current_village %></td>
      <%else%>
        <td class="clickable" onclick="editField('current_district')">Physical address</td>
        <td class="clickable" onclick="editField('current_country')" >Country</td>
        <td style="border-bottom:1.5px solid black"><%= @person.current_country.to_s !='Other'? @person.current_country : (@person.other_current_country rescue '') %></td>
        <td class="clickable" onclick="editField('current_foreign_state')">State</td>
        <td style="border-bottom:1.5px solid black"><%= @person.current_foreign_state %></td>
        <td class="clickable" onclick="editField('current_foreign_district')" >District</td>
        <td style="border-bottom:1.5px solid black" ><%= @person.current_foreign_district  %></td>
        <td class="clickable" onclick="editField('current_foreign_village')" >Town</td>
        <td style="border-bottom:1.5px solid black" ><%= @person.current_foreign_village  %></td>
      <%end%>
      </tr>
      <tr>
        <td>9</td>
        <td colspan="3" class="clickable" onclick="editField('home_district')">Home address</td>
        <td class="clickable" onclick="editField('home_district')" >District </td>
        <td><%= @person.home_district %></td>
        <td class="clickable" onclick="editField('home_ta')">TA</td>
        <td><%= @person.home_ta %></td>
        <td class="clickable" onclick="editField('home_village')" >Village</td>
        <td><%= @person.home_village %></td>
      </tr>
      <tr>
        <td>10</td>
        <% if @person.died_while_pregnant == "Yes" ||  @person.died_while_pregnant == "NO" %>
          <td colspan="8" class="clickable" onclick="editField('died_while_pregnant')" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
          <td><%= @person.died_while_pregnant rescue "" %></td>
        <%else%>
          <td colspan="8" class="clickable" >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
          <td>N/A</td>
        <%end%>
      </tr>
    <%end%>
          <tr>
            <td rowspan="6">PART 2 <br/><br/>DETAILS OF PARENT</td>
            <td colspan="10" class="clickable" onclick="" ><center>Mother's details</center></td>
          </tr>
          <tr>
            <td rowspan="2">1</td>
            <td class="clickable" onclick="editField('mother_last_name')" >Surname</td>
            <td colspan="2"><%= @person.mother_last_name %></td>
            <td class="clickable" onclick="editField('mother_first_name')" >First name</td>
            <td colspan="2"><%= @person.mother_first_name %></td>
            <td rowspan="">2</td>
            <td rowspan="" class="clickable" onclick="editField('mother_id_number')">ID No.</td>
            <td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.mother_id_number %></td>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('mother_middle_name')">Other names</td>
            <td colspan="5"><%= @person.mother_middle_name %></td>
            <td rowspan="">3</td>
            <td rowspan="" class="clickable" onclick="editField('mother_nationality')">Nationality </td>
            <td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.mother_nationality %></td>
          </tr>
          <tr>
            <td colspan="10" class="clickable" onclick=""><center>Father's details</center></td>
          </tr>
          <tr>
            <td rowspan="2">4</td>
            <td class="clickable" onclick="editField('father_last_name')">Surname</td>
            <td colspan="2"><%= @person.father_last_name %></td>
            <td class="clickable" onclick="editField('father_first_name')">First name</td>
            <td colspan="2"><%= @person.father_first_name %></td>
            <td rowspan="">5</td>
            <td rowspan="" class="clickable" onclick="editField('father_id_number')">ID No.</td>
            <td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.father_id_number %></td>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('father_middle_name')">Other names</td>
            <td colspan="5"><%= @person.father_middle_name %></td>
            <td rowspan="">6</td>
            <td rowspan="" class="clickable" onclick="editField('father_nationality')">Nationality </td>
            <td rowspan ="" style="border-bottom:1.5px solid black"><%= @person.father_nationality %></td>
          </tr>

          <tr>
            <td rowspan="7" style="background-color:#dbdada;">PART 3 <br/>INFORMANTS DETAILS</td>
            <td rowspan="2">1</td>
            <td class="clickable" onclick="editField('informant_last_name')" >Surname</td>
            <td colspan="2"><%= @person.informant_last_name %></td>
            <td class="clickable" onclick="editField('informant_first_name')">First name</td>
            <td colspan="2"><%= @person.informant_first_name %></td>
            <td rowspan="2">2</td>
            <td rowspan="2" class="clickable" onclick="editField('informant_id_number')">ID No.</td>
            <td rowspan="2"><%= @person.informant_id_number %></td>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('informant_middle_name')">Other name</td>
            <td colspan="5"><%= @person.informant_middle_name %></td>
          </tr>
          <tr>
            <td>3</td>
            <td class="clickable" onclick="editField('informant_relationship_to_deceased')">Relation to the deceased</td>
            <td colspan="8">
              <%= @person.informant_relationship_to_deceased rescue @person.informant_relationship_to_deceased_other %>
            </td>
          </tr>
          <tr>
            <td rowspan="2">4</td>
            <td><b>Address</b></td>
            <td class="clickable" onclick="editField('informant_current_district')">District</td>
            <td colspan="2"><%= @person.informant_current_district %></td>
            <td class="clickable" onclick="editField('informant_current_ta')">TA</td>
            <td colspan="2"><%= @person.informant_current_ta %></td>
            <td class="clickable" onclick="editField('informant_current_village')">Village</td>
            <td><%= @person.informant_current_village %></td>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('informant_address')">Postal address :</td>
            <td colspan="6">
              <%= @person.informant_addressline1 rescue "" %>
              <%= " #{@person.informant_city}" rescue "" %> 
            </td>
            <td class="clickable" onclick="editField('informant_phone_number')">Telephone Number</td>
            <td><%= @person.informant_phone_number %></td>
          </tr>
          <tr>
            <td rowspan="2">5</td>
            <th colspan="9" style="background: #ffffff; color:black">I certify that the above information is correct and I am aware that I could face criminal prosecution if this information is incorrect in material respect.</th>
          </tr>
          <tr>
            <td class="clickable" onclick="editField('informant_signed')">Informant signed ?</td>
            <td><%= @person[:informant_signed] rescue "No" %></td>
            <td class="clickable" onclick="editField('informant_signature_date')">Date:</td>
            <td colspan="6"><%= Date.parse(@person.informant_signature_date.to_s).strftime("%d/%b/%Y") rescue "" %></td>
          </tr>
          <tr>  
          </tr>
        </table>
        <% if @person.facility_code.blank? %>
        <table class="verification">
          <tr>
            <th colspan="2">Verification by Village Headman</th>
          </tr>
          <tr class="clickable" onclick="editField('headman_verified')">
            <td class="clickable" onclick="editField('headman_verified')">Signed?</td>
            <td><%= @person.headman_verified rescue "No" %></td>
          </tr>
          <% if @person.headman_verified == "Yes" %>
            <tr class="clickable" onclick="editField('headman_verified')">
              <td>Date Signed</td>
              <td><%= Date.parse(@person.headman_verification_date.to_s).strftime("%d/%b/%Y") %></td>
            </tr>
          <%end%>
        </table>
        <table class="verification" style="margin-bottom:1.5%">
          <tr>
            <th colspan="2">Verification by Senior member of village/ Religous Institution</th>
          </tr>
          <tr  class="clickable" onclick="editField('church_verified')">
            <td>Signed?</td>
            <td><%= @person.church_verified rescue "No" %></td>
          </tr>
          <% if @person.church_verified == "Yes" %>
            <tr  class="clickable" onclick="editField('church_verified')">
              <td>Date Signed</td>
              <td><%= Date.parse(@person.church_verification_date.to_s).strftime("%d/%b/%Y")  %></td>
            </tr>
          <%end%>
        </table>
        <%end%>
      <%if has_role("Authorise printing") && @person.cause_of_death_available =='Yes'%>
        <%= render :partial=>"/hq/section2" %>
      <%end%>
  </div>

  <div class="table-container-footer" style="padding: 0px;margin-bottom: 0px;">
    <table class="table table-striped table-hover table-condensed table-bordered">
      <tfoot>
      <tr>
        <th colspan="2" style="padding-left: 10px !important;">
          <%
             comment = false
            cancel_url = request.referrer
            cancel_url = "/" if (!cancel_url.match('case/') rescue true)
          %>

          <div onclick= "clearLockAndRedirect()" class="dynamic-button btn btn-small btn-default pull-left btn-primary"><span>Back</span></div>
          <% @tasks.each do |task|
            onclick = ''


            if task['route'].present?
                onclick = "window.parent.location = '" + task['route'] + "&person_id=" + @person.id + "'"
            elsif task['ajax_route'].present?
                onclick = "ajaxify('#{task['ajax_route']}')"
            elsif task['popup'].present?
                onclick = "loadPopup('#{task['popup']}')"
            elsif task['function'].present?
              onclick = "#{task['function']}"
            end
            next if task['button_name'].blank?

            if ((task['ajax_route'].match(/comment/) || task['route'].match(/comment/)) rescue false)
                comment = true
            end
          %>

              <div onclick= "<%= onclick %>" class="dynamic-button btn btn-small btn-primary pull-right <%= task['class'].downcase rescue ''%>"><span><%= task['button_name']%></span></div>
          <% end %>

          <% if (has_role("Authorise printing") &&  @covid.blank? || has_role("Manage incomplete records") &&  @covid.blank?) && ["HQ CAN PRINT", "HQ PRINTED","DC PRINTED","HQ DISPATCHED","HQ CAN RE PRINT"].include?(@person.status) %>
            <div onclick= "covidPop()" class="dynamic-button btn btn-small btn-warning pull-right"><span>Record COVID-19 Related? </span></div>
          <%end%>
          <% if ( has_role("Add cause of death") || has_role("Authorise printing") || has_role("Manage incomplete records")) && @covid.present? %>
            <div onclick= "covidInfoPop()" class="dynamic-button btn btn-small btn-primary pull-right"><span>View COVID-19 Info </span></div>
          <%end%>
          <% if comment == true %>
            <div onclick= "ajaxPullComments()" class="dynamic-button btn btn-small btn-primary pull-right primary"><span>View Trail</span></div>
          <% end %>
          <div id="comment_div" onclick= "ajaxPullComments()" class="dynamic-button btn btn-small btn-primary pull-right primary" style="visibility: hidden;"><span>View Trail</span></div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div id="shield">
<div class="" id="printers">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary" >
        <button type="button" class="close"  onclick="__$('printers').style.display = 'none'">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Select a printer</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12">
            <table class="table table-condensed table-striped table-hover">
              <tbody>
                <% @available_printers.each do |printer| %>
                    <tr onmousedown="updateValue(this);setPrinter('<%= printer %>')" value="<%= printer %>" class="table-row" style="cursor: pointer">
                      <td class="table-cell"><input type="radio" class="printer_radio_button" value="<%= printer %>" name="printer_name"/></td>
                      <td class="table-cell" style="text-align: left; padding-left:50px;"><%= printer %></td>
                    </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <% if @dispatch.present? && @dispatch %>
              <button type="button" class="btn btn-primary" onclick="dispatchSelected()" >Dispatch</button>
            <%else%>
              <button type="button" class="btn btn-primary" onclick="printSelected()" > Print </button>
            <%end%>
            <button type="button" class="btn btn-default" onclick="__$('printers').style.display = 'none';hideModal()" > Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" id="completeness">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary" >
        <button type="button" class="close"  onclick="__$('completeness').style.display = 'none'">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Completeness Check</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12">

            <div class=" form-group">
              <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                    <tr class="table-row">
                        <th class="table-cell">Death Entry Number</th>
                        <td class="table-cell"><%= @person.den%></td>
                    </tr>
                    <tr class="table-row">
                        <th class="table-cell"> Name</th>
                        <td class="table-cell"><%= @person.first_name%> <%= @person.middle_name rescue ''%> <%= @person.last_name%></td>
                    </tr>

                    <tr class="table-row">
                        <th class="table-cell"> Nationality</th>
                        <td class="table-cell"><%= @person.nationality != 'Other'? @person.nationality : @person.other_nationality %></td>
                    </tr>
                    <tr class="table-row">
                      <th class="table-cell">Date of Birth</th>
                      <td class="table-cell"><%= @person.birthdate.to_date.strftime('%d/%b/%Y') rescue nil%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Sex</th>
                      <td class="table-cell"><%= @person.gender%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Date of Death</th>
                      <td class="table-cell"><%= @person.date_of_death.to_date.strftime('%d/%b/%Y') rescue nil%></td>
                    </tr>

                    <tr>
                      <th class="table-cell" >Place of death</th>

                      <td class="table-cell"><%= @place_of_death %></td>

                    
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Name of Mother</th>
                      <td class="table-cell"><%= @person.mother_first_name%> <%= @person.mother_middle_name rescue ''%> <%= @person.mother_last_name  rescue 'N/A'%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Name of Father</th>
                      <td class="table-cell"><%= @person.father_first_name%> <%= @person.father_middle_name rescue ''%> <%= @person.father_last_name  rescue 'N/A'%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Date of Registration</th>
                      <td class="table-cell"><%= @person.created_at.to_date.strftime('%d/%b/%Y')%></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"onclick="changeStatusComment('<%= @next_state[@current_user.role][1] rescue nil%>','Reason for marking record incomplete')" > Incomplete </button>
        <button type="button" class="btn btn-success" onclick="ajaxChange('<%= @next_state[@current_user.role][0] rescue nil%>')" id="complete_button" > Complete </button>
        <button type="button" class="btn btn-default" onclick="__$('completeness').style.display = 'none';hideModal()" > Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="" id="approve_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary" >
        <button type="button" class="close"  onclick="__$('approve_modal').style.display = 'none'">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="approve_title">Approve Record</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12">

            <div class=" form-group">
              <table class="table table-condensed table-striped table-bordered table-hover">
                <tbody>
                    <tr class="table-row">
                        <th class="table-cell">Death Entry Number</th>
                        <td class="table-cell"><%= @person.den%></td>
                    </tr>
                    <tr class="table-row">
                        <th class="table-cell"> Name</th>
                        <td class="table-cell"><%= @person.first_name%> <%= @person.middle_name rescue ''%> <%= @person.last_name%></td>
                    </tr>

                    <tr class="table-row">
                        <th class="table-cell"> Nationality</th>
                        <td class="table-cell"><%= @person.nationality != 'Other'? @person.nationality : @person.other_nationality %></td>
                    </tr>
                    <tr class="table-row">
                      <th class="table-cell">Date of Birth</th>
                      <td class="table-cell"><%= @person.birthdate.to_date.strftime('%d/%b/%Y') rescue nil%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Sex</th>
                      <td class="table-cell"><%= @person.gender%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Date of Death</th>
                      <td class="table-cell"><%= @person.date_of_death.to_date.strftime('%d/%b/%Y') rescue nil%></td>
                    </tr>

                    <tr>
                      <th class="table-cell" >Place of death</th>

                      <td class="table-cell"><%= @place_of_death %></td>

                    
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Name of Mother</th>
                      <td class="table-cell"><%= @person.mother_first_name%> <%= @person.mother_middle_name rescue ''%> <%= @person.mother_last_name  rescue 'N/A'%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Name of Father</th>
                      <td class="table-cell"><%= @person.father_first_name%> <%= @person.father_middle_name rescue ''%> <%= @person.father_last_name  rescue 'N/A'%></td>
                    </tr>

                    <tr class="table-row">
                      <th class="table-cell">Date of Registration</th>
                      <td class="table-cell"><%= @person.created_at.to_date.strftime('%d/%b/%Y')%></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success pull-right" id="approve_modal_button" > Proceed </button>
        <button type="button" class="btn btn-default pull-left" onclick="__$('approve_modal').style.display = 'none';hideModal()" > Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="" id="comments">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <h4 class="modal-title">Death Record Comments</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12">

            <div class=" form-group">
              <div class="container">
                <div class="row" style="width: 550px;">

                    <div id="comments-list">

                    </div>

                    <div style="width: 100%;margin-top: 20px;border-top: 1px solid #d3d3d3" class="hidden">
                        <form id="comment-form" action="/ajax_save_comment">
                          <textarea class="form-control" name="comment" placeholder="New Comment" id="textarea" style="width: 98%;margin-top: 4px;margin-bottom: 4px;"></textarea>

                          <div onclick="saveComment();" class="btn btn-sm btn-primary pull-left">Submit</div>
                        </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default pull-left" onclick="__$('comments').style.display = 'none';hideModal()" > Close </button>
            <button id="comment_close" type="button" class="btn btn-sm btn-success hidden" onclick="__$('textarea').value = ''; hideModal()" > Finish </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="" id="action_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <h4 class="modal-title" id="action_modal_title">Add Comments</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-12">

            <div class=" form-group">
              <div class="container">
                <div class="row" style="width: 550px;">

                    <div id="action_comments_list">

                    </div>

                    <div style="width: 100%;margin-top: 20px;border-top: 1px solid #d3d3d3">
                        <form id="comment-form" action="/ajax_save_comment">
                          <textarea class="form-control" name="comment" placeholder="Add Comment" id="action_textarea" style="width: 98%;margin-top: 4px;margin-bottom: 4px;"></textarea>
                        </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" id="close" class="btn btn-sm btn-default pull-left" onclick="__$('action_modal').style.display = 'none';hideModal()" > Close </button>
            <button id="action_comment_proceed" type="button" class="btn btn-sm btn-success" > Proceed </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" id="wait">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <center><h4 class="modal-title" id="action_modal_title">Waiting for server to respond...</h4></center>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<div class="" id="covid">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <center><h4 class="modal-title" >COVID-19 Case details</h4></center>
        <button type="button" class="close" aria-label="Close">
      </div>
      <div class="modal-body">
      <form id="covidForm" method="post" action="/covid/new">
           <input type="hidden" name="id"  value="<%=@person.id%>" />
           <input type="hidden" name="next_url" value="<%= params[:next_url] %>" />
           <input type="hidden" name="test_result" id="test_result" value="Positive"/>
        <% if false %>
           <div class="form-group">
              <label for="test_results">Covid-19 Result:</label>
              <select class="form-control" name="test_result" id="test_result" required>
                  <option value='Positive'>Positive</option>
                  <option value='Negative'>Negative</option>
              </select>
            </div>
        <%end%>
            <div class="form-group">
              <label for="comment">Comment :</label>
              <textarea class="form-control" id="covidcomment" name="comment" ></textarea>
            </div>
            <div class="modal-footer">
              <div class="form-group">
                <button class="btn btn-danger pull-left" onclick="cancelCovid()">Cancel</button> <button class="btn btn-primary pull-right"onclick="saveCovidRecord()" >Save</button>
              </div>   
            </div>
      </form>
      </div>
    </div>
  </div>
</div>
<% if @covid.present? %>
<div class="" id="covid-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header btn-primary">
        <center><h4 class="modal-title" id="action_modal_title">COVID 19 Info</h4></center>
      </div>
      <div class="modal-body" style="text-align:center">
        <% if false %>
          <h4><b>COVID 19 Result</b></h4>
          <h4 style="color: <%= @covid.test_result == 'Positive'? style='red' : 'green'  %>" ><%= @covid.test_result %></h4>
        <%end%>  
          <h4><b>Comment</b></h4>
          <h4><%= @covid.comment %></h4>
          <div class="modal-footer">
            <div class="form-group">
                <button class="btn btn-danger pull-left" onclick="cancelInfoCovid()">Cancel</button> 
                <% if (has_role("Authorise printing") || has_role("Manage incomplete records")) && ((Time.now - @covid.created_at)/ 86400) < 2 %>
                <button class="btn btn-primary pull-right"onclick="editCovid()" >Edit</button>
                <%end%>
              
            </div> 
          </div>
      </div>
    </div>
  </div>
</div>
<%end%>
<div class="" id="duplicate_modal">
  <div class="modal-dialog" style="width: 100%">
    <div class="modal-content" style="width: 100%">
      <div class="modal-header btn-primary">
          <center> <h4 class="modal-title" id="duplicate_modal_title">Record is potential duplicate</h4> </center>
      </div>
      <div class="modal-body" style="width: 100%">
                      <table style="width: 100%">
                        <tr>
                          <th colspan="9" style="color: red; text-align: center; background: lightgray">
                              <h4>New Record</h4>
                          </th>
                        </tr>
                        <tr>
                            <th>DEN</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>BOB</th>
                            <th>DOD</th>
                            <th>District of Death</th>
                            <th>Mother's Name</th>
                            <th>Father's Name</th>
                            <th>Status</th>

                        </tr>
                        <tr>
                            <td><%= @person.den %></td>
                            <td><%= @person.person_name %></td>
                            <td><%= @person.gender %></td>
                            <td><%= @person.birthdate.to_date.strftime("%d/%b/%Y") %></td>
                            <td><%= @person.date_of_death.strftime("%d/%b/%Y") %></td>
                            <td><%= @person.place_of_death_district %></td>
                            <td><%= @person.mothers_name %></td>
                            <td><%= @person.fathers_name %></td>
                             <td><%= @person.status %></td>
                        </tr>
                        <tr>
                          <th colspan="9" style="color: darkgreen; text-align: center; background: lightgray">
                              <h4>Existing  Record(s)</h4>
                          </th>
                        </tr>
                        <tr>
                            <th>DEN</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>BOB</th>
                            <th>DOD</th>
                            <th>District of Death</th>
                            <th>Mother's Name</th>
                            <th>Father's Name</th>
                            <th>Status</th>

                        </tr>
                        <% @results.each do |result|%>
                            <tr>
                              <% @duplicate = Person.find(result["_id"]) %>
                              <td><%= @duplicate.den rescue ''%></td>
                              <td><%= @duplicate.person_name %></td>
                              <td><%= @duplicate.gender %></td>
                              <td><%= @duplicate.birthdate.to_date.strftime("%d/%b/%Y") %></td>
                              <td><%= @duplicate.date_of_death.to_date.strftime("%d/%b/%Y") %></td>
                              <td><%= @duplicate.place_of_death_district %></td>
                              <td><%= @duplicate.mothers_name %></td>
                              <td><%= @duplicate.fathers_name %></td>
                              <td><%= @duplicate.status %></td>
                            </tr>
                        <%end%>
                      </table>
          <div class="modal-footer">
            <button id="duplicate_proceed" type="button" class="btn btn-sm btn-success" onclick="window.location='/open_cases'" > Proceed </button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div id="clone_me" class="media" style="padding: 5px;display:none;border-top: 1px solid lightgrey;">
  <div class="media-body" style="width: 550px;">
    <h4 class="media-heading user_name"><a class="name"> <small class="role"> </small></a></h4>
    <span class="comment" style="width: 100%;"></span>
  </div>
</div>

<form id="dispatch_form" method="post" class="hidden">
      <input type="hidden" name="printer_name">
      <input type="hidden" name="next_url" value="<%=request.path%>">

</form>

<%= form_tag("/do_print_these", "method" => "post", "id" => "frm") do %>
    <input type="hidden" id="selected" name="selected" value="<%= params[:person_id]%>"/>
    <input type="hidden" id="printer_name" name="printer_name" value=""/>
<% end %>

<script>
    var next_status ="";
    function loadPopup(id){
      __$("shield").style.display = "none";
      var popups = ["#completeness", "#printers", "#comments","#action_modal","#duplicate_modal","#approve_modal","#wait"]
      for(var i = 0 ; i < popups.length ; i++){
        $(popups[i]).css("display","none")
      }
      $("#shield").show()
        __$(id).style.display = "block";
    }



    function __$(id){
        return document.getElementById(id);
    }

    function ___$(clas){
        return document.getElementsByClassName(clas)[0];
    }

    function updateValue(obj){
        obj.getElementsByTagName('input')[0].checked = true
        __$("printer_name").value = obj.getAttribute('value');
    }

    var printer = "";

    var district = "<%= District.find(@person.district_code).name rescue 'Lilongwe' %>".trim();

    function selectPrinter(){
        __$("printer_name").value = '';
        $(".printer_radio_button").prop( "checked", false );

        printer = printer_name;
    }

    function clearLockAndRedirect(){
      var next_url = "<%= params[:next_url].present? ? params[:next_url] : '/' %>";
      window.location.href = next_url
    }

    function setPrinter(printer_name){
          printer = printer_name;
    }
    function ajaxChange(status){
        loadPopup("wait");
        $.ajax({
            url: "/ajax_change_status?next_status=" + status + "&person_id=<%=params['person_id']%>",
            success: function(feedback){
                jQuery(".modal-dialog").parent().hide();

                var status_arr = ["HQ INCOMPLETE", "HQ POTENTIAL INCOMPLETE", "HQ CONFIRMED INCOMPLETE",
                    "HQ POTENTIAL DUPLICATE", "HQ DUPLICATE", "HQ CONFIRMED DUPLICATE", "HQ VOID", "HQ REOPEN",
                    "HQ AMMEND"
                ];

                if(status_arr.indexOf(status) >= 0){
                    var link = "<%= (session[:return_url] || '/')%>".trim();
                    next_status = status;
                    ajaxPullComments(link);
                }else {
                    window.parent.location = "<%= (session[:return_url] || request.referrer)%>";
                }
            },
            error: function(error){
                window.location.reload();
                //alert("Something went wrong!");
            }
        })
    }

    function ajaxify(route, btn){
        $.ajax({
            url: route + "&person_id=<%=params['person_id']%>",
            success: function(feedback){
                window.parent.location = "<%= session[:return_url] || request.referrer%>";
            },
            error: function(error){
                window.location.reload();
                //alert("Something went wrong!");
            }
        })
    }

    function covidPop(){
      jQuery("#shield").show();
      jQuery("#covid").show()      
    }
    
    function cancelCovid(){
      jQuery("#covidForm").submit(function(e){
        e.preventDefault();
        jQuery("#covid").hide();
        jQuery("#shield").hide();
      })
    }
    function saveCovidRecord(){
      jQuery("#covidForm").submit();

      /***
      jQuery("#covidForm").submit(function(e){
        e.preventDefault();
        var comment = jQuery("#comment").val()
        if(comment.length > 0){
          jQuery("#covidForm").unbind(e);
          jQuery("#covidForm").submit();
        }else{
          jQuery("#comment").css("border", "1px solid red");
          jQuery("#comment").focus();
        }
      })***/s

    }


    function covidInfoPop(){
      jQuery("#shield").show();
      jQuery("#covid-info").show()      
    }

    function cancelInfoCovid(){
     
      jQuery("#covid-info").hide();
      jQuery("#shield").hide();
    
    }

  <% if @covid.present? %>
    function editCovid(){
      jQuery("#covid-info").hide();
      jQuery("#shield").show();
      jQuery("#covid").show();
      jQuery("#comment").val("<%= @covid.comment%>");
      jQuery("#test_result").val("<%= @covid.test_result%>").change();
    }
<%end%>

    function ajaxPullComments(link){
        jQuery("#comment-list").html("");

        jQuery.ajax(
                {
                    url: "/get_comments?person_id=<%= params[:person_id]%>",
                    success: function(results){
                        results = JSON.parse(results);
                        var parent = document.getElementById("comments-list");
                        parent.innerHTML = "";
                        var clone = document.getElementById("clone_me");
                        for(var i = 0; i < results.length; i++){
                            var dup = clone.cloneNode(true);
                            dup.id = i;
                            dup.style.display = "block";
                            //set values
                            dup.getElementsByClassName("name")[0].innerHTML = results[i]['user']
                                    + " <small class='user_role'>" + results[i]['user_role'] + " - " + results[i]['date_added'] + " </small>";
                            dup.getElementsByClassName("comment")[0].innerHTML = results[i]['comment'];

                            parent.appendChild(dup);
                        }
                        jQuery("#shield").show();
                        jQuery("#comments").show();

                        parent.scrollTop = parent.scrollHeight;

                        document.getElementById("comment_close").onmousedown = function(){
                            if(link){
                                window.parent.location = link;
                            }else{
                                window.parent.location = "/";
                            }
                        }
                    },
                    error: function(e){
                        window.location.reload();
                        //alert("Something went wrong!")
                    }
                }
        )
    }

    function saveComment(){
        var url = "/ajax_save_comment?person_id=<%= params[:person_id]%>&next_status="+next_status+"&comment="
        jQuery.ajax(
                {
                    url: url,
                    data: {
                        'comment' : __$("textarea").value,
                        "authenticity_token": "<%= form_authenticity_token %>"
                    },
                    success: function(result){
                        console.log(url);
                        result = JSON.parse(result);
                        var parent = document.getElementById("comments-list");
                        var clone = document.getElementById("clone_me");

                        var dup = clone.cloneNode(true);

                        dup.style.display = "block";
                        //set values
                        dup.getElementsByClassName("name")[0].innerHTML = result['user']
                                + " <small class='user_role'>" + result['user_role'] + " - " + result['date_added'] + " </small>";
                        dup.getElementsByClassName("comment")[0].innerHTML = result['comment'];
                        dup.style.background = "lightblue";

                        parent.appendChild(dup);
                        parent.scrollTop = parent.scrollHeight;
                        __$("textarea").value = "";
                       // alert("Comment Added Successfully")
                    },
                    error: function(){
                        window.location.reload();
                        //alert("Something went wrong!")
                    }
                }
        )
    }
    $(document).ready(function(){
        <%if  @person.status =="HQ POTENTIAL DUPLICATE TBA" %>
               $("#shield").show()
              __$("duplicate_modal").style.display = "block";
        <%end%>

        jQuery.ajax(
                {
                    url: "/get_comments?person_id=<%= params[:person_id]%>",
                    success: function(results){
                        results = JSON.parse(results);
                        if(results.length > 0){
                            console.log($("#comment_div"));
                            $("#comment_div").css("visibility", "visible"); 
                        }
                    },
                    error: function(e){
                        window.location.reload();
                        //alert("Something went wrong!")
                    }
                }
        )

        var place_of_death = "<%= @person.place_of_death %>"
        if (place_of_death.length == 0){
          place_of_death ="<%= @person.place_of_death_foreign %>"
        }

        if(place_of_death.trim() == 'Home'){
          __$('home').checked = true
          __$('home').setAttribute('disabled','disabled');
          __$('facility').setAttribute('disabled','disabled')
          __$('other').setAttribute('disabled','disabled')
        }
        if(place_of_death.trim().toLowerCase().match('facility')){
          __$('facility').checked = true
          __$('home').setAttribute('disabled','disabled');
          __$('facility').setAttribute('disabled','disabled')
          __$('other').setAttribute('disabled','disabled')
        }
        if(place_of_death.trim().toLowerCase().match('Other')){
          __$('other').checked = true
          __$('home').setAttribute('disabled','disabled');
          __$('facility').setAttribute('disabled','disabled')
          __$('other').setAttribute('disabled','disabled')
        }
    });

    function hideModal(){
        $("#shield").css('display','none')
    }

    function rejectRecord(){
        $("#shield").show()
        __$("action_modal").style.display = "block";
        __$("action_comments_list").innerHTML = ""
        jQuery.ajax(
                {
                    url: "/get_comments?person_id=<%= params[:person_id]%>",
                    success: function(results){
                        results = JSON.parse(results);
                        var parent = document.getElementById("action_comments_list");
                        parent.innerHTML = "";
                        var clone = document.getElementById("clone_me");
                        for(var i = 0; i < results.length; i++){
                            var dup = clone.cloneNode(true);
                            dup.id = i;
                            dup.style.display = "block";
                            //set values
                            dup.getElementsByClassName("name")[0].innerHTML = results[i]['user']
                                    + " <small class='user_role'>" + results[i]['user_role'] + " - " + results[i]['date_added'] + " </small>";
                            dup.getElementsByClassName("comment")[0].innerHTML = results[i]['comment'];

                            parent.appendChild(dup);
                        }
                        parent.scrollTop = parent.scrollHeight;
                    },
                    error: function(e){
                        window.location.reload();
                        //alert("Something went wrong!")
                    }
                }
        )

        __$("action_modal_title").innerHTML = "Rejection reason";
        var url = "/ajax_change_status?next_status=HQ CAN REJECT&person_id=<%=params[:person_id]%>"
        __$("action_comment_proceed").setAttribute("onclick","changeStatus('"+url+"')")
    }

    function rejectRecordToDC(){
        $("#shield").show()
        __$("action_modal").style.display = "block";
        __$("action_modal_title").innerHTML = "Rejecting to DC reason";
        jQuery.ajax(
                {
                    url: "/get_comments?person_id=<%= params[:person_id]%>",
                    success: function(results){
                        results = JSON.parse(results);
                        var parent = document.getElementById("action_comments_list");
                        parent.innerHTML = "";
                        var clone = document.getElementById("clone_me");
                        for(var i = 0; i < results.length; i++){
                            var dup = clone.cloneNode(true);
                            dup.id = i;
                            dup.style.display = "block";
                            //set values
                            dup.getElementsByClassName("name")[0].innerHTML = results[i]['user']
                                    + " <small class='user_role'>" + results[i]['user_role'] + " - " + results[i]['date_added'] + " </small>";
                            dup.getElementsByClassName("comment")[0].innerHTML = results[i]['comment'];

                            parent.appendChild(dup);
                        }
                        parent.scrollTop = parent.scrollHeight;
                    },
                    error: function(e){
                        window.location.reload();
                        //alert("Something went wrong!")
                    }
                }
        )
        var url = "/ajax_change_status?next_status=HQ REJECTED&person_id=<%=params[:person_id]%>"
        __$("action_comment_proceed").setAttribute("onclick","changeStatus('"+url+"')")
    }

    function changeStatusComment(status,title){
        $("#shield").show()
        __$("action_modal").style.display = "block";
        __$("action_modal_title").innerHTML = title;
        __$("action_comments_list").innerHTML = ""
        jQuery.ajax(
                {
                    url: "/get_comments?person_id=<%= params[:person_id]%>",
                    success: function(results){
                        results = JSON.parse(results);
                        var parent = document.getElementById("action_comments_list");
                        parent.innerHTML = "";
                        var clone = document.getElementById("clone_me");
                        for(var i = 0; i < results.length; i++){
                            var dup = clone.cloneNode(true);
                            dup.id = i;
                            dup.style.display = "block";
                            //set values
                            dup.getElementsByClassName("name")[0].innerHTML = results[i]['user']
                                    + " <small class='user_role'>" + results[i]['user_role'] + " - " + results[i]['date_added'] + " </small>";
                            dup.getElementsByClassName("comment")[0].innerHTML = results[i]['comment'];

                            parent.appendChild(dup);
                        }
                        parent.scrollTop = parent.scrollHeight;
                    },
                    error: function(e){
                        window.location.reload();
                        //alert("Something went wrong!")
                    }
                }
        )
        var url = "/ajax_change_status?next_status="+status+"&person_id=<%=params[:person_id]%>"
        __$("action_comment_proceed").setAttribute("onclick","changeStatus('"+url+"')")
    }
    function changeStatus(url){
      var comment = __$("action_textarea").value
      if (comment.length == 0){
          __$("action_textarea").style.border ="1px solid red";
          __$("action_textarea").focus();
          return;
      }
      url = url +"&comment="+comment;

      loadPopup("wait")

      $.ajax({
            url: url,
            success: function(feedback){
                window.parent.location = "<%= session[:return_url] || request.referrer%>";
            },
            error: function(error){
                //window.location.record();
                //alert("Something went wrong!");
            }
        })
    }

    function showApprovalModal(){
        jQuery("#shield").show();
        jQuery("#approve_modal").show();
    }

    function approve(status, title,comments){
        showApprovalModal();
        __$("approve_title").innerHTML = title;
        if (comments) {
            __$("approve_modal_button").onmousedown =function(){
                changeStatusComment(status,title + " Comment")
            }
        }else{
          __$("approve_modal_button").onmousedown = function(){
              ajaxChange(status)
          }
        }
    }

    function completenessCheck(comments){
        jQuery("#shield").show();
        jQuery("#completeness").show();
        
        if (comments) {
            __$("complete_button").removeAttribute("onclick")
            var status = "<%= @next_state[@current_user.role][0] rescue nil%>";
            __$("complete_button").onmousedown =function(){
                changeStatusComment(status,"Completeness Check comment")
            }
        }
    }

    function viewCertificate(){
        window.location = "/view_certificate/<%= @person.id%>?next_url=<%=request.fullpath %>"
    }

    function dispatchRecord(){
        loadPopup('printers');
    }


    function dispatchSelected(){
        if(printer.length > 0){
          var dispatch_url =  "/hq/do_dispatch_these"
          var ids = ["<%= @person.id%>"];
          __$("printer_name"),value = printer

          var form = __$("dispatch_form");
          form.setAttribute("method","post");
          form.setAttribute("action",dispatch_url);

          for(var i = 0; i < ids.length; i++){
            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "ids[]");
            input.value = ids[i];
            form.appendChild(input);

          }

          form.submit();
        }else{

            loadPopup('printers');

        }
    }
</script>
<style>
  #completeness, #printers, #comments,#action_modal,#duplicate_modal,#approve_modal,#wait,#covid,#covid-info{
      position : absolute;
      left: 30%;
      top: 13.5%;
      display: none;
      z-index: 4000
  }

  #duplicate_modal{
      width: 70%;
      left: 15%;
  }

  #duplicate_modal th, td{
      border-collapse: collapse;
      border: 1px solid gray;
  }

  .user_name{
      font-size:14px;
      font-weight: bold;
  }
  .comments-list .media{
      border-bottom: 1px dotted #ccc;
  }
  #comments-list{
      max-height: 300px;
      overflow: auto;
      width: 100%;
  }
</style>
