<style type="text/css">
        form{
            margin: auto;
            background: #ffffff;
            color: #344351;
        }
        fieldset{
            width: 96%;
            margin:auto;
        }
        input, select ,option{
            color:#1a2732 !important;
        }
        label{
            color: #344351;
        }
</style>



<style type="text/css">
  .left{
    float: left;
  }
  .right {
      float: right;
  }
  #details {
      width: 100%;
      border-collapse: collapse;
      margin-left: 1%;
      margin-top: 4%
  }

  #details tr:nth-child(odd){
    background: #dcdbdb;
  }
  #details td, #details th {
     border: 1px solid lightgray;
     font-size: 1.1em;
     padding: 1em;
  }
  #details th{
    background: #4c79a3;
    color:#ffffff;
    font-size: 1.2em;
    padding: 0.8em;
  }
  .btn-primary{
    background-color:  #4c79a3;
     border: 1px solid lightgray;
  }
  
</style>
<div id="main" >
  <div id="button-container">
      <div class="left" style="width:90%; text-align:center">

         <%= form_for @user, :url => '/update_demographics' ,:method => :post, :html => {:class => "form-horizontal",:role=>"form"} do |f| %>

                 <input type="hidden" value="<%= @user.id %>" id="user_id" name="user[id]">


    <fieldset>
        <legend>Edit user details</legend>
            <!-- <% if flash[:notice].present? %>
                <div style="width:60%;text-align:center;color:red">
                    <p><%= flash[:notice] %></p>
                </div>    
              <% end %>-->
              <% if @user.errors.any? %>
              <div id="error_explanation">
                <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

                <ul>
                  <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

              <div class="form-group">
                <label class="control-label col-sm-2" for="first_name">Firstname</label>
                <div class="col-sm-10">
                  <input type="first_name" class="form-control" id="first_name"  name="user[first_name]" <%= f.text_field :first_name, :class => "input_cell",  :required => true  %> 
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="last_name">Surname</label>
                <div class="col-sm-10">
                  <input type="last_name" class="form-control" id="last_name"  name="user[last_name]" <%= f.text_field :last_name, :class => "input_cell", :required => true %>
                </div>
              </div>
               
              <div class="form-group">
                <label class="control-label col-sm-2" for="email"  name="user[email]">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" <%= f.text_field :email, :class => "input_cell", :required => true %> 
                </div>
              </div>
               <div class="form-group">
                <label class="control-label col-sm-2" for="email">Signature</label>
                <div class="col-sm-10">
                   <%= f.file_field :signature, :class => "form-control", :onchange =>"validateFiles(this);", 
                         :data => {:max_file_size => 1.megabyte},  :placeholder => "Signature", 
                         :optional => true, :disabled => "disabled" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-success pull-right">Update Demographics</button>
                </div>
              </div>
    </fieldset>
    
<%end%>

      </div>
  </div>
</div>      
  

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p id="modal-message">Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
        var validations = {};
        function matchPassword(){
            var password = $("#password").val();
            var confirm = $("#confirm_password").val();
            if(password == confirm){
                validations["Passwords don't match"] = true;
            }else{
                validations["Passwords don't match"]= false;
                showMessageModal("Password validation","Passwords don't match");
            }
        }
        function showMessageModal(title,message){
            $("#modal-title").html(title);
            $("#modal-message").html(message);
            $("#myModal").modal();
        }
        $(document).ready(function() {
        console.log(validations);
          $('#new_user').on('submit', function(e){
            var valid;
            var validations_keys = Object.keys(validations);
            console.log(validations_keys);
            for (var i = 0 ;i < validations_keys.length ; i++){
                if(validations[validations_keys[i]]){
                    valid = true;
                }
                else{
                    valid =false;
                    showMessageModal("Password validation",validations_keys[i]);
                    break;
                }
            }
            if(valid) {
              
            }else{
                e.preventDefault();
            }
          });
        });
</script>












