
<style type="text/css">
  .left{
    float: left;
  }
  .right {
      float: right;
  }
  #details {
      width: 100%;
      border-collapse: collapse;
      margin-left: 1%;
      margin-top: 4%
  }

  #details tr:nth-child(odd){
    background: #dcdbdb;
  }
  #details td, #details th {
     border: 1px solid lightgray;
     font-size: 1.1em;
     padding: 1em;
  }
  #details th{
    background: #4c79a3;
    color:#ffffff;
    font-size: 1.2em;
    padding: 0.8em;
  }
  .btn-primary{
    background-color:  #4c79a3;
     border: 1px solid lightgray;
  }
  
</style>
<div id="main" >
  <div id="button-container">
      <div class="left" style="width:96%; text-align:center">
            <table id="details">
                  <tr>
                      <th colspan="2" style="text-align: center;">Details</th>
                  </tr>
                  <tr>
                      <td>Username</td>
                      <td><%= @user.username%></td>
                  </tr>
                  <tr>
                      <td>First name</td>
                      <td><%= @user.first_name %></td>
                  </tr>
                  <tr>
                    <td>Surname</td>
                    <td><%= @user.last_name%></td>
                  </tr>
                  <tr>
                      <td>Role</td>
                      <td><%= @user.role%></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><%= @user.email%></td>
                  </tr>
                   <tr>
                    <td>Created at</td>
                    <td><%= @user.created_at.to_date.strftime("%d/%b/%Y") rescue nil %></td>
                  </tr>
                  <tr>
                    <td>Updated at</td>
                    <td><%= @user.updated_at.to_date.strftime("%d/%b/%Y") rescue nil %></td>
                  </tr>
            </table>
              
      </div>
    </div>
  </div>

  <div class="table-container-footer" style="padding: 0px;margin-top:1%;">
    <button class="btn btn-primary pull-left" onclick="window.location = '/users/edit_account?id=<%= @user.id%>'">Edit Demographics</button>
 </div>

 <div class="table-container-footer" style="padding: 0px;margin-top:1%;">
    <button class="btn btn-primary pull-right" onclick="window.location ='/users/change_password?id=<%= @user.id%>'">Change Password</button>
 </div>

