<style type="text/css">
       input[type=radio].css-checkbox {
          position:absolute;
           z-index:-1000;
           left:-1000px;
           overflow: hidden;
           clip: rect(0 0 0 0);
           height:1px;
           width:1px;
           margin:-1px;
           padding:0;
           border:0;
        }

        input[type=radio].css-checkbox + label.css-label {
                  padding-left:24px;
                  height:19px;
                  display:inline-block;
                  line-height:19px;
                  background-repeat:no-repeat;
                  background-position: 0 0;
                  font-size:1.0em;
                  vertical-align:middle;
                  cursor:pointer;

        }

        input[type=radio].css-checkbox:checked + label.css-label {
                  background-position: 0 -19px;
        }
        label.css-label {
            background-image:url(/assets/checkbox/checkbox1.png);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #31404d;
            font-weight: normal;
        }
</style>
<table class="summary">
              <tr>
                <th colspan="9" >Section-2: Medical Certificate of Death and

                Cause of Death (FOR HEALTH FACILITY DEATH ONLY)</th>
              </tr>
              <tr>
                  <td colspan="2"><b>Barcode Number : </b><%= @person.barcode rescue ""%></td>
                  <td colspan="2"><b>DEN </b>: <font id="den"><%= @person.den %></font></td>
                  <td colspan="2"><b>Tentative ICD Code: </b> <%= @person_icd_code.tentative_code rescue "" %></td>
                  <td colspan="2"><b>Final ICD Code</b> : <%= @person_icd_code.final_code rescue ""%></td>
              </tr>
              <tr>
                  <td rowspan="7" style="background-color:#dbdada;">1</td>
                  <td colspan="3"><b>Cause of Death </b></td>
                  <td colspan="2"><b>Time interval between onset and death</b></td>
                  <td colspan="2"><b>ICD Code</b></td>
              </tr>
              <tr>
                  <td rowspan="4" style="width:20%">
                      <b>Part I</b><br/>
                      Disease or condition directly leading to death<br/>
                      <b>Antecedent cause</b><br/>
                      Morbid conditions, if any, giving rise to the above cause, stating the underlying condition last
                  </td>
                  <td colspan="2">(a) <font id="cause_of_death_1"><%= @person.cause_of_death1 rescue "" %></font><br/>
                  <%if @person.cause_of_death2.present? %>
                      <i style="font-size:0.9em">Due to (or as a consequence of)</i>
                  <%end%>
                  </td>
                  <td colspan="2"><%= @person.onset_death_interval1 rescue "" %></td>
                  <td colspan="2"><%= @person.icd_10_1 rescue "" %> <% if @person.icd_10_1.present? && request.fullpath.include?("/review") %> <i class='fa fa-edit' onclick="editCode('icd_10_1')"></i> <%end%></td>
              </tr>
              <tr>
                  <td colspan="2">(b) <font id="cause_of_death_2"><%= @person.cause_of_death2 rescue "" %></font><br/>
                    <%if @person.cause_of_death3.present? %>
                       <i style="font-size:0.9em">Due to (or as a consequence of)</i>
                    <%end%>
                  </td>
                  <td colspan="2"><%= @person.onset_death_interval2 rescue "" %></td>
                  <td colspan="2"><%= @person.icd_10_2 rescue "" %> <% if @person.icd_10_2.present? && request.fullpath.include?("/review") %> <i class='fa fa-edit' onclick="editCode('icd_10_2')"></i> <%end%></td>
              </tr>
              <tr>
                  <td colspan="2">(c) <font id="cause_of_death_3"><%= @person.cause_of_death3 rescue "" %></font><br/>
                  <%if @person.cause_of_death4.present? %>
                      <i style="font-size:0.9em">Due to (or as a consequence of)</i>
                  <%end%>

                  </td>
                  <td colspan="2"><%= @person.onset_death_interval3 rescue "" %></td>
                  <td colspan="2"><%= @person.icd_10_3 rescue "" %> <% if @person.icd_10_3.present? &&request.fullpath.include?("/review") %> <i class='fa fa-edit' onclick="editCode('icd_10_3')"></i> <%end%></td>
              </tr>
              <tr>
                  <td colspan="2">(d) <font id="cause_of_death_4"><%= @person.cause_of_death4 rescue "" %></font></td>
                  <td colspan="2"><%= @person.onset_death_interval4 rescue "" %></td>
                  <td colspan="2"><%= @person.icd_10_4 rescue "" %> <%  if @person.icd_10_4.present? && request.fullpath.include?("/review") %> <i class='fa fa-edit' onclick="editCode('icd_10_4')"></i> <%end%></td>
              </tr>

              <tr>
                  <td><b>Part II</b> Other significant conditions contributing to the death, but not related to the disease or condition causing it</td>
                  <td id="other_cause_of_death" colspan="6" style="padding:0px !important" valign="top">
                      <table style="width:100%" style="margin:0px !important">

                            <%  (@person.cause_of_death_conditions.keys rescue []).each do |key| %>
                            <tr>
                              <td style="width:13%;border-right:none"><b>Condition :</b></td>
                              <td style="border-left:none">
                                  <%= @person.cause_of_death_conditions[key]["cause"]%>
                              </td>
                              <td style="width:13%;border-right:none"><b>ICD Code :</b></td>
                              <td  style="border-left:none">
                                  <%= @person.cause_of_death_conditions[key]["icd_code"]%>
                              </td>
                             </tr>
                            <%end%>
                      </table>
                    
                  </td>
              </tr>
              <tr>
                  <td colspan="7" >
                    <font style="font-size:11px;font-weight:bold">This does not mean the mode of dying, e.g heart failure,
                    respiratory failure. It means the disease, injury, or complication that caused death
                    </font>
                  </td>
             </tr>

             <tr>
                <td rowspan="2">2</td>
                <td colspan="2">a)  Was an autopsy requested?</td>
                 <td >
                 <% if @person.autopsy_requested == "Yes" %> 
                  <input type="radio" name="autopsy" class="css-checkbox" id="autopsy_certification_yes"  checked ="true" disabled>
                 <%else%>
                    <input type="radio" name="autopsy"  class="css-checkbox" id="autopsy_certification_yes"   disabled>
                 <%end%>
                 <label for="autopsy_yes" class="css-label radGroup2">
                               Yes  
                  </label>
                </td>
                <td colspan="4">
                  <% if @person.autopsy_requested == "No" %> 
                  <input type="radio" name="autopsy" class="css-checkbox" id="autopsy_certification_no" checked ="true" disabled>
                  <%else%>
                    <input type="radio" name="autopsy" class="css-checkbox" id="autopsy_certification_no" disabled>
                  <%end%>
                   <label for="autopsy_no" class="css-label radGroup2">
                            No 
                  </label>
                </td>
             </tr>
              <tr>
                <td colspan="2">b)  If yes, were the findings used for certification?</td>
                <td >
                <% if @person.autopsy_used_for_certification == "Yes" %> 
                 <input type="radio" name="autopsy_certification" class="css-checkbox" id="autopsy_certification_yes"  checked ="true" disabled>
                <%else%>
                    <input type="radio" name="autopsy_certification" class="css-checkbox" id="autopsy_certification_yes"  disabled>
                <%end%>
                 <label for="autopsy_certification_yes" class="css-label radGroup2">
                               Yes  
                  </label>
                </td>
                <td colspan="4">
                <% if @person.autopsy_used_for_certification == "No" %> 
                    <input type="radio" name="autopsy_certification" class="css-checkbox" id="autopsy_certification_no" checked ="true" disabled>
                <%else%>
                    <input type="radio" name="autopsy_certification" class="css-checkbox" id="autopsy_certification_no" disabled>
                <%end%>
                   <label for="autopsy_certification_no" class="css-label radGroup2">
                                No 
                  </label>
                </td>

             </tr>
             <tr>
               <td rowspan="2" style="background-color:#dbdada;">3</td>
               <td rowspan="2"><b>Manner of death</b></td>
               <% ['Natural','Accident','Homicide','Suicide','Pending Investigation'].each do |manner| %>
                    <%if @person.manner_of_death.present? && manner == @person.manner_of_death %>
                          <td>
                                <input type="radio" name="radio" id="<%= manner %>" class="css-checkbox"  checked ="true" disabled>
                                <label for="<%= manner %>" class="css-label radGroup2">
                                    <%= manner %>
                                </label>
                          </td>
                    <%else%>
                          <td>
                              <input type="radio" name="radio" id="<%= manner %>" class="css-checkbox" disabled>
                                <label for="<%= manner %>" class="css-label radGroup2">
                                    <%= manner %>
                                </label>
                          </td>
                    <%end%>
               <%end%>
             </tr>
             <tr>
                <%if @person.manner_of_death.present? && @person.manner_of_death=="Could not be determined" %>
                          <td>
                              <input type="radio" name="radio" id="<%= 'Could not be determined' %>" class="css-checkbox"  checked ="true" disabled>
                                <label for="<%= 'Could not be determined' %> " class="css-label radGroup2">
                                   Could not be determined
                                </label>
                          </td>
                <%else%>
                          <td>
                              <input type="radio" name="radio" id="<%= 'Could not be determined' %>" class="css-checkbox"  disabled>
                                <label for="<%= 'Could not be determined' %> " class="css-label radGroup2">
                                   Could not be determined
                                </label>
                          </td>
                <%end%>
                <%if @person.manner_of_death.present? && @person.manner_of_death=="Other" %>
                          <td>
                                <input type="radio" name="radio" id="<%= 'Other' %>" class="css-checkbox" checked="true"  disabled>
                                <label for="<%= 'Other' %> " class="css-label radGroup2">
                                   Other
                                </label>
                          </td>
                          <td>Specify</td>
                          <td colspan="4"><%= @person.other_manner_of_death rescue ""%></td>
                <%else%>
                          <td>
                              <input type="radio" name="radio" id="<%= 'Other' %>" class="css-checkbox" disabled>
                                <label for="<%= 'Other' %> " class="css-label radGroup2">
                                   Other
                                </label>
                          </td>
                          <td>Specify</td>
                          <td colspan="4"></td>
                <%end%>

            </tr>
            <tr>
                <td rowspan="2" ">4</td>
                <td rowspan="2"><b>If accidental death, how did it occur:</b></td>

                <% if @person.death_by_accident.present? && @person.death_by_accident.match("driver").present? %>
                    <td>
                        <input type="radio" name="radio1" id="<%= 'Motor Vehicle(driver)' %>" class="css-checkbox" checked="true" disabled>
                                <label for="<%= 'Motor Vehicle(driver)' %> " class="css-label radGroup2">
                                   Motor Vehicle(driver)
                                </label>
                    </td>
                <%else%>
                     <td>
                          <input type="radio" name="radio1" id="<%= 'Motor Vehicle(driver)' %>" class="css-checkbox" disabled>
                                <label for="<%= 'Motor Vehicle(driver)' %> " class="css-label radGroup2">
                                   Motor Vehicle(driver)
                          </label>
                     </td>
                <%end%>
                 <% if @person.death_by_accident.present? && @person.death_by_accident.match("passenger").present? %>
                    <td  colspan="2">
                        <input type="radio" name="radio1" id="<%= 'Motor Vehicle(passenger)' %>" class="css-checkbox" checked="true" disabled>
                                <label for="<%= 'Motor Vehicle(passenger)' %> " class="css-label radGroup2">
                                   Motor Vehicle(passenger)
                                </label>
                    </td>
                <%else%>
                     <td  colspan="2">
                          <input type="radio" name="radio1" id="<%= 'Motor Vehicle(passenger)' %>" class="css-checkbox" disabled>
                                <label for="<%= 'Motor Vehicle(passenger)' %> " class="css-label radGroup2">
                                   Motor Vehicle(passenger)
                                </label>
                     </td>
                <%end%>

                 <% if @person.death_by_accident.present? && @person.death_by_accident.match("pedestrian").present? %>
                    <td  colspan="3">
                           <input type="radio" name="radio1" id="<%= 'Motor Vehicle(padestrian)' %>" class="css-checkbox" checked="true" disabled>
                                <label for="<%= 'Motor Vehicle(padestrian)' %> " class="css-label radGroup2">
                                   Motor Vehicle(padestrian)
                                </label>
                    </td>
                <%else%>
                     <td  colspan="3">
                           <input type="radio" name="radio1" id="<%= 'Motor Vehicle(padestrian)' %>" class="css-checkbox"  disabled>
                                <label for="<%= 'Motor Vehicle(padestrian)' %> " class="css-label radGroup2">
                                   Motor Vehicle(padestrian)
                                </label>
                     </td>
                <%end%>
            </tr>
            <tr>
                 <% if @person.death_by_accident.present? && @person.death_by_accident.match("Drowning").present? %>
                    <td>
                           <input type="radio" name="radio1" id="<%= 'Drowning' %>" class="css-checkbox" checked="true" disabled>
                                <label for="<%= 'Drowning' %> " class="css-label radGroup2">
                                   Drowning
                                </label>
                    </td>
                <%else%>
                     <td>
                          <input type="radio" name="radio1" id="<%= 'Drowning' %>" class="css-checkbox" disabled>
                                <label for="<%= 'Drowning' %> " class="css-label radGroup2">
                                   Drowning
                                </label>
                     </td>
                <%end%>
                 <% if @person.death_by_accident.present? && @person.death_by_accident.match("Other").present? %>
                    <td>
                            <input type="radio" name="radio1" id="<%= 'Other' %>" class="css-checkbox" checked="true" disabled>
                                <label for="<%= 'Other' %> " class="css-label radGroup2">
                                  Other
                                </label>
                    </td>
                     <td>Specify</td>
                    <td colspan="3"><%= @person.other_death_by_accident rescue ""%></td>
                <%else%>
                     <td>
                        <input type="radio" name="radio1" id="<%= 'Other' %>" class="css-checkbox" disabled>
                        <label for="<%= 'Other' %> " class="css-label radGroup2">
                                  Other
                        </label>
                     </td>
                      <td><Specify</td>
                      <td colspan="3"></td>
                <%end%>

            </tr>

            <tr>
                <td rowspan="4" style="background-color:#dbdada;">5</td>
                <td colspan="7"><b>I certify that to the best of my knowledge and belief, the above named peron died on the date and from the cause of death stated herein</b></td>
            </tr>
            <tr>
              <td><b>Date</b></td>
              <td><%= Date.parse(@person.date_certifier_signed.to_s).strftime("%d/%b/%Y") rescue "" %> </td>
              <td><b>Name</b></td>
              <td colspan="4"> <%= @person.certifier_name %></td>
            </tr>
            <tr>
                <td rowspan="2"><b>Designation of the medical certifier</b></td>
                <%['Physician','Medical Doctor','Clinical Officer','Medical Assistant'].each do |position| %>
                    <%if @person.position_of_certifier.present? && position == @person.position_of_certifier %>
                          <td colspan="1">
                              <input type="radio" name="radio1" id="<%= position %>" checked="true" class="css-checkbox" disabled>
                            <label for="<%= position %>   " class="css-label radGroup2">
                                    <%= position %>
                            </label>
                        </td>
                    <%else%>
                          <td colspan="1">
                            <input type="radio" name="radio1" id="<%= position %>" class="css-checkbox" disabled>
                            <label for="<%= position %>   " class="css-label radGroup2">
                                    <%= position %>
                            </label>
                          </td>
                    <%end%>
                <%end%>
            </tr>
            <tr>
                <%if @person.position_of_certifier.present? && @person.position_of_certifier =="Other" %>
                          <td>
                              <input type="radio" name="radio1" id="Other" class="css-checkbox" checked="true" disabled>
                              <label for="Other" class="css-label radGroup2">
                                      Other
                              </label>
                          </td>
                          <td>Specify</td>
                          <td colspan="4"><%= @person.other_position_of_certifier.present??  @person.other_position_of_certifier  : "" %></td>
                    <%else%>
                          <td>
                              <input type="radio" name="radio1" id="Other" class="css-checkbox" disabled>
                              <label for="Other" class="css-label radGroup2">
                                      Other
                              </label>
                          </td>
                          <td>Specify</td>
                          <td colspan="4"></td>
                    <%end%>

            </tr>
      </table>
<script type="text/javascript">

</script>