<script type="text/javascript">
      var status = "<%= @person.status%>"
</script>
<link href="/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<style>

    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }
    .input-group-btn .btn-group {
        display: flex !important;
    }
    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        #adv-search, #adv-search2, #adv-search3{
            width: 150;
            margin: 5px auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 350px;
        }
    }

    .radio {
        padding-left: 20px; margin: 25px;
        color: darkslategray}
    .radio label {
        display: inline-block;
        border-bottom: 1px dotted lightgray;
        position: relative;
        padding-left: 5px; }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
    .radio input[type="radio"] {
        opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
        opacity: 0.65; }
    .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca; }

    .custom{
        width: 85%;
        display: none;
    }

    .form-group{
        border: 1px solid lightgray;
        padding: 3px;
        padding-bottom: 7px;
        padding-left: 15px;
        border-radius: 2px;
        background: #eeeeee;
    }

    .form-control{
        background: rgb(254, 254, 254);
        width: 98%;
        margin-bottom: 1%;
    }
    #summary {
       width:  100%;
       margin: auto;
    }
    
    #summary td {
        padding: 0.5em;
        color :#242020;
    }

    #summary th{
      background: #1a2732;
      color:#ffffff;
    }
    
    /*.ui-state-default{
        padding: 7px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    .ui-state-hover{
        background: #80b7f5;
        color: white;
        padding: 7px 7px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    .ui-icon-circle-triangle-e{
        float: right;
        margin-right: 8%;
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block
    }
    .ui-icon-circle-triangle-w{
        padding: 8px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block
    }

    .ui-datepicker-next-hover{
        float: right;
        margin-right: 8%;
    }*/
    .messagebox{
            position: absolute;
            top: 25%;
            left: 35%;
            display: none;

    }
    #shield{
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      left: 0px;
      top: 0px;
      background: rgba(128,128,128,0.35);
      z-index: 1050;
      display: none;
    }
    .table{
        border: none;
        box-shadow: 1.0px 1.0px 0.5px #adaba8;
    }
    .table td{
        border: 1px solid #adaba8 !important;
    }
    input, select ,option{
        color:#1a2732 !important;
    }
</style>
 <link rel="stylesheet" href="/select2/select2.min.css">

<table class="table" style="background: white;height: 97%;width: 99.5%">
    <tr class="" style="width: 100%">
      <td class="" style="width: 20%;border: 1px solid gray">
        <div id="person_details_radio" class="radio radio-primary" onmousedown="showControls('person_details')">
          <input type="radio" name="radio" id="radio0">
              <label for="radio0">
                Person details
              </label>
        </div>
         <div id="cause_of_death_check_radio" class="radio radio-primary" onmousedown="showControls('cause_of_death_check')">
          <input type="radio" name="radio" id="radio1">
              <label for="radio1">
                Check question
              </label>
        </div>
        <div id="cause_of_death_radio" class="radio radio-primary" onmousedown="showControls('cause_of_death')">
          <input type="radio" name="radio" id="radio2" disabled="true">
              <label for="radio2">
                Cause of death
              </label>
        </div>

        <div id="manner_of_death_radio" class="radio radio-primary" onmousedown="showControls('manner_of_death')">
            <input type="radio" name="radio" id="radio3" disabled="true">
                <label for="radio3">
                    Manner of death
                </label>
        </div>

        <div id="certification_radio" class="radio radio-primary" onmousedown="showControls('certification')">
            <input type="radio" name="radio" id="radio4" disabled="true">
                <label for="radio4">
                    Certification
                </label>
        </div>

        <div id="icd_10_radio" class="radio radio-primary" onmousedown="showControls('icd_10')">
            <input type="radio" name="radio" id="radio5" disabled="true">
                <label for="radio5">
                    ICD 10 Code
                </label>
        </div>
        </td>

        <td id = "input-td" class="" style="width: 100%; border: 1px solid gray">
          <form id="frm" class="form-horizontal" role="form" action="/save_cause_of_death">

          <div id="person_details" class="container custom"  style="width:100%">
              <div style="height: 520px; overflow: auto;padding: 0px; margin:0px;width:100%;margin-bottom: 15px; border-left:1px solid #d9d8d7; border-top:1px solid #d9d8d7;border-bottom:1px solid #d9d8d7">
                  <table class="summary" id="summary" style="">

                    <tr>
                      <th colspan="11">Section 1 : Particulars of the deceased</th>
                    </tr>

                    <tr>
                      <td rowspan="11" style="background-color:#dbdada;">PART 1 <br/>PERSONAL DETAILS OF DECEASED</td>
                      <td>1</td>
                      <td  class="clickable" >Surname</td>
                      <td colspan="2" >*************</td>
                      <td class="clickable"  >First name</td>
                      <td  colspan="2">*************</td>
                      <td class="clickable"  >Other</td>
                      <td colspan="2">*************</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td class="clickable"  >ID No.</td>
                      <td style="border-bottom :1.5px solid black">*************</td>
                      <td>3</td>
                      <td class="clickable" >Nationality</td>
                      <td colspan="2" style="border-bottom :1.5px solid black"><%= @person.nationality rescue ""%></td>
                      <td>4</td>
                      <td class="clickable" >Sex</td>
                      <td style="border-bottom:1.5px solid black"> <%= @person.gender %></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td class="clickable" >Birth Date</td>
                      <td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
                      <td rowspan="2">6</td>
                      <td rowspan="2" class="clickable" >Birth certificate No.</td>
                      <td rowspan="2" style="border-bottom :1.5px solid black">*************</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td class="clickable"  >Date of Death</td>
                      <td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@person.date_of_death.to_s).strftime("%d/%b/%Y") %></td>
                    </tr>
                    <tr>
                      <td rowspan="4">8</td>
                      <td class="clickable"  >Place of death</td>
                      <td colspan="9"><%= @person.place_of_death %></td>
                    </tr>
                    <tr>
                      <td class="clickable"  >Health Facility</td>
                      <td colspan="8" style="border-bottom: 1.5px solid black"> <%= @person.hospital_of_death %></td>
                    </tr>
                    <tr>
                      <td class="clickable"  >Home</td>
                      <td>Address</td>
                      <td class="clickable"  >District</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.home_district %></td>
                      <td class="clickable" >TA</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.home_ta %></td>
                      <td class="clickable"  >Village</td>
                      <td style="border-bottom:1.5px solid black" colspan="2"><%= @person.home_village %></td>
                    </tr>
                    <tr>
                      <td>Other</td>
                      <td colspan="8"></td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td colspan="3">Physical residential address</td>
                      <td class="clickable"  >District </td>
                      <td><%= @person.current_district %></td>
                      <td class="clickable" >TA</td>
                      <td><%= @person.current_ta %></td>
                      <td class="clickable"  >Village</td>
                      <td><%= @person.current_village %></td>
                    </tr>
                    <tr>
                      <td rowspan="2">11</td>
                      <td colspan="8" class="clickable"  >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
                      <td><%= @person.died_while_pregnant rescue "No" %></td>
                    </tr>
                    <tr>

                      <td colspan="9"></td>
                    </tr>
                    <tr>
                      <td rowspan="6">PART 2 <br/><br/>DETAILS OF PARENT</td>
                      <td rowspan="3">1</td>
                      <td colspan="6" class="clickable"  >Mother's name</td>
                      <td rowspan="3">2</td>
                      <td rowspan="3" class="clickable" >ID No.</td>
                      <td rowspan ="3" style="border-bottom:1.5px solid black">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable"  >Surname</td>
                      <td colspan="2">*************</td>
                      <td class="clickable" >First name</td>
                      <td colspan="2">************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Other names</td>
                      <td colspan="5">*************</td>
                    </tr>
                    <tr>
                      <td rowspan="3">3</td>
                      <td colspan="6" class="clickable" >Father's name</td>
                      <td rowspan="3">4</td>
                      <td rowspan="3" class="clickable" >ID No.</td>
                      <td rowspan ="3" style="border-bottom:1.5px solid black">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Surname</td>
                      <td colspan="2">*************</td>
                      <td class="clickable">First name</td>
                      <td colspan="2">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Other names</td>
                      <td colspan="5">*************</td>
                    </tr>

                    <tr>
                      <td rowspan="7" style="background-color:#dbdada;">PART 3 <br/>INFORMANTS DETAILS</td>
                      <td rowspan="2">1</td>
                      <td class="clickable"  >Surname</td>
                      <td colspan="2">*************</td>
                      <td class="clickable" >First name</td>
                      <td colspan="2">*************</td>
                      <td rowspan="2">2</td>
                      <td rowspan="2" class="clickable" >ID No.</td>
                      <td rowspan="2">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Other name</td>
                      <td colspan="5">*************</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td class="clickable" >Relation to the deceased</td>
                      <td colspan="8">
                        <%= @person.informant_relationship_to_deceased rescue @person.informant_relationship_to_deceased_other %>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">4</td>
                      <td>Adress</td>
                      <td class="clickable" >District</td>
                      <td colspan="2"><%= @person.informant_current_district %></td>
                      <td class="clickable" >TA</td>
                      <td colspan="2"><%= @person.informant_current_ta %></td>
                      <td class="clickable" >Village</td>
                      <td><%= @person.informant_current_village %></td>
                    </tr>
                    <tr>
                      <td class="clickable" >Postal address :</td>
                      <td colspan="6">
                       *************
                      </td>
                      <td class="clickable" >Telephone Number</td>
                      <td>*************</td>
                    </tr>
                    <tr>
                      <td rowspan="2">5</td>
                      <th colspan="9" style="background: #ffffff; color:black">I certify that the above information is correct and I am aware that I could face criminal prosecution if this information is incorrect in material respect.</th>
                    </tr>
                    <tr>
                      <td>Date:</td>
                      <td colspan="8"><%= Date.parse(@person.informant_signature_date.to_s).strftime("%d/%b/%Y") rescue "" %></td>
                    </tr>
                  </table>
              </div>
              <div onclick="hit('cause_of_death_check_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
          </div>
          <div id="cause_of_death_check" class="container custom">
            <div class="form-group">
              <div class="col-lg-12 col-md-12">
                      <label for="cause_of_death_available">Has the form been completed? </label>

                      <div id="form_completed_yes_radio" class="radio radio-primary" onmousedown="">
                       <input type="radio" name="cause_of_death_available" id="radioY">
                       <label for="radioY">Yes</label>
                      </div>
                      <div id="form_completed_no_radio" class="radio radio-primary" onmousedown="">
                       <input type="radio" name="cause_of_death_available" id="radioN">
                        <label for="radioN">No</label>
                      </div>

               </div>
              </div>
              <div onclick="hit('person_details_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="checkCauseFunction()" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
            </div>

          </div>
          <div id="cause_of_death" class="container custom" disabled="true">
            <input name="person_id" value="<%= @person.id%>" type="hidden" type="text" />
            <fieldset>
              <legend>Part I</legend>
              <p>Disease or condition directly leading to death <i style='color: red'>*</i></p>
               <div class="form-group" style=" padding-bottom:1%">
               <div class="col-md-6">
                    <label for="onset_death_interval1">cause of Death 1 </label>
                    <select name="cause_of_death1" id="cause_of_death1" load="<%= @person.cause_of_death1 rescue (@person.other_cause_of_death1 rescue '')%>" class="form-control select2" style="width:100%" onchange ="setRequired(this,1)" >
                      </select>
                </div>

                <div class="col-md-6">
                    <label for="icd_10_1">ICD-10 </label>
                    <input name="icd_10_1" id="icd_10_1"  value="" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)" />
                </div>
                   

               
              <div class="col-md-6">
                    <label for="onset_death_interval1">Onset to death Interval </label>
                    <input name="onset_death_interval1" id="onset_death_interval1"  value="<%= @person.onset_death_interval1%>" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)" />
                </div>
                <div class="col-md-6">
                    <label for="interval_unit1">Units</label>
                    <select name="interval_unit1" id="interval_unit1" load="Second(s)" class="form-control" onchange="clearOnset(1)">
                      <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>

                    </select>
                </div>
               </div>
              <p><b>Antecedent cause : </b> Morbid conditions, if any. giving rise to the above cause , stating th underlying cindition last</p>
              <div class="form-group" style=" padding-bottom:1%">
                <div class="col-md-6">
                    <label for="">Cause of Death 2 </label>
                     <select name="cause_of_death2" id="cause_of_death2" load="<%= @person.cause_of_death2 rescue (@person.other_cause_of_death2 rescue '')%>" class="form-control select2" style="width:100%" onchange ="setRequired(this,2)">
                      <option value=""></option>
                    </select>
                </div>
                  
                <div class="col-md-6">
                    <label for="icd_10_2">ICD-10 </label>
                    <input name="icd_10_2" id="icd_10_2"  value="" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)" />
                </div>
                 

                 <div class="col-md-6">
                    <label for="">Onset to death Interval </label>
                    <input name="onset_death_interval2" id="onset_death_interval2"  value="<%= @person.onset_death_interval2%>" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)" />
                </div>
                <div class="col-md-6">
                    <label for="">Units</label>
                    <select name="interval_unit2" id="interval_unit2"  load="Second(s)" class="form-control" onchange="clearOnset(2)">
                      <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>
                    </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                    <label for="">Cause of Death 3</label>
                     <select name="cause_of_death3" id="cause_of_death3" load="<%= @person.cause_of_death3 rescue (@person.other_cause_of_death3 rescue '')%>" class="form-control select2" style="width:100%" onchange ="setRequired(this,3)">
                      <option value=""></option>
                    </select>
                </div>

               <div class="col-md-6">
                    <label for="icd_10_3">ICD-10 </label>
                    <input name="icd_10_3" id="icd_10_3"  value="" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)" />
                </div>

                <div class="col-md-6">
                    <label for="">Onset to death Interval </label>
                    <input name="onset_death_interval3" id="onset_death_interval3"  value="<%= @person.onset_death_interval3%>" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)"/>
                </div>
                <div class="col-md-6">
                    <label for="">Units</label>
                    <select name="interval_unit3" id="interval_unit3"  load="Second(s)" class="form-control" onchange="clearOnset(3)">
                     <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>
                    </select>
                </div>
              </div>


              <div class="form-group">
              <div class="col-md-6">
                  <label for="">Cause of Death 4</label>
                  <select name="cause_of_death4" id="cause_of_death4" load="<%= @person.cause_of_death4%>" class="form-control select2" style="width:100%" onchange ="setRequired(this,4)">
                    <option value=""></option>
                  </select>
                </div>

                <div class="col-md-6">
                    <label for="icd_10_4">ICD-10 </label>
                    <input name="icd_10_4" id="icd_10_4"  value="" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)" />
                </div>
                

                 <div class="col-md-6">
                    <label for="">Onset to death Interval </label>
                    <input name="onset_death_interval4" id="onset_death_interval4"  value="<%= @person.onset_death_interval4%>" class="form-control" type="text" type="number" onkeyup="checkIfNumber(this)" />
                </div>
                <div class="col-md-6">
                    <label for="">Units</label>
                    <select name="interval_unit4" id="interval_unit4"  load="Second(s)" class="form-control" onchange="clearOnset(4)">
                      <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>
                    </select>
                </div>
              </div>
            </fieldset>
            <fieldset style="margin-bottom:2%">
              <legend>Part II</legend>
              <p>Other significant conditions contributing to death , but not related to the disease or condition causing it</p>
              <div class="form-group">
                <div class="col-lg-12 col-md-12" style=" padding-bottom:2%">
                  <label for=""></label>
                  <!--input type="" name="cause_of_death_conditions" load="<%= @person.cause_of_death_conditions%>" class="form-control" style="width:100%"-->
                  <select name="cause_of_death_conditions[]" id="cause_of_death_conditions" class="form-control select2" style="width:100%; margin-bottom:2%" multiple="multiple" multiple=true>
                  </select>
                </div>
              </div>
            </fieldset>
              <div onclick="hit('cause_of_death_check_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="hit('manner_of_death_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
            </div>


          <div id="manner_of_death" class="container custom" style="display: none;" disabled="true">
              <div class="form-group">
                <label class="col-md-12" for="manner">Manner of death </label>

               
                     <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_natural" load="<%= @person.manner_of_death%>">
                          <label for="manner_natural">Natural</label>                                  
                    </div>

                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_accident" load="<%= @person.manner_of_death%>">
                          <label for="manner_accident">Accident</label>                                 
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_homicide" load="<%= @person.manner_of_death%>">
                          <label for="manner_homicide">Homicide</label>                                  
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_suicide" load="<%= @person.manner_of_death%>">
                          <label for="manner_suicide">Suicide</label>                                  
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_pending_investigation" load="<%= @person.manner_of_death%>">
                          <label for="manner_pending_investigation">Pending Investigation</label>                                  
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_not_determined" load="<%= @person.manner_of_death%>">
                          <label for="manner_not_determined">Could not be determined</label>                                  
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_other" load="<%= @person.manner_of_death%>">
                          <label for="manner_other">Other</label>                                  
                      </div>

                

                <label class="col-md-12" for="">Other manners of death</label>
                <input name="other_manner_of_death"
                       value="<%= @person.other_manner_of_death%>" id="other_manner_of_death" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label class="col-md-12" for="">How did injury/accident occur?</label>
                   <div name="death_by_accident" load="<%= @person.death_by_accident%>" id="death_by_accident" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="motor_vehicle_driver" load=""<%= @person.death_by_accident%>">
                          <label for="motor_vehicle_driver">Motor vehicle(driver)</label>                    
                    </div>

                    <div name="death_by_accident" load="<%= @person.death_by_accident%>" id="death_by_accident" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="motor_vehicle_passenger" load=""<%= @person.death_by_accident%>">
                          <label for="motor_vehicle_passenger">Motor vehicle(passenger)</label>                     
                    </div>

                    <div name="death_by_accident" load="<%= @person.death_by_accident%>" id="death_by_accident" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="motor" load=""<%= @person.death_by_accident%>">
                          <label for="motor">Motor vehicle</label>                                  
                    </div>

                    <div name="death_by_accident" load="<%= @person.death_by_accident%>" id="death_by_accident" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="drowning" load=""<%= @person.death_by_accident%>">
                          <label for="drowning">Drowning</label>                                  
                    </div>

                    <div name="death_by_accident" load="<%= @person.death_by_accident%>" id="death_by_accident" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="other" load=""<%= @person.death_by_accident%>">
                          <label for="other">Other</label>                                  
                    </div>


                <label class="col-md-12" for="other_death_by_accident">Other accident specify</label>
                <input name="other_death_by_accident"
                       value="<%= @person.other_death_by_accident%>" id="other_death_by_accident" class="form-control" type="text" />
              </div>

              <div onclick="hit('cause_of_death_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="hit('certification_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
          </div>

          <div id="certification" class="container custom" style="display: none;" disabled="true">
            <div class="form-group">
              <label for="certifier_signed">Certifier Signed</label>
       

                   <div id="certifier_signed_yes_radio" class="radio radio-primary" onmousedown="">
                         <input type="radio" name="certifier_signed" id="radiocsy">
                          <label for="radiocsy">Yes</label>                                          
                      </div>
                      
                       <div id="certifier_signed_no_radio" class="radio radio-primary" onmousedown="">
                          <input type="radio" name="certifier_signed" id="radiocsn">
                          <label for="radiocsn">No</label>
                      </div>

              
              <label for="">Date certifier signed</label>
                <input name="date_certifier_signed" value="<%= @person.date_certifier_signed%>" id="date_certifier_signed" class="form-control" type="text" />
      </i>
    </span>
            </div>

            <div class="form-group">
              <label for="">Certifier surname</label>
              <input name="certifier_last_name" value="<%= @person.certifier_last_name%>" id="certifier_last_name" class="form-control" type="text" />

              <label for="">Certifier first name</label>
              <input name="certifier_first_name" value="<%= @person.certifier_first_name%>" id="certifier_first_name" class="form-control" type="text" />

              <label for="">MCM Registration No.</label>
              <input name="certifier_license_number" value="<%= @person.certifier_license_number%>" id="certifier_first_name" class="form-control" type="text" />
            </div>

            <div class="form-group">
              <label  class="col-md-12" for="">Designation of medical certifier</label>


                    <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_doctor">
                          <label for="position_of_certifier_doctor">Medical Doctor</label>                                          
                      </div>
                      <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_officer">
                          <label for="position_of_certifier_officer">Clinic Oficer</label>                                          
                      </div>

                      
                       <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_assistant">
                          <label for="position_of_certifier_assistant">Medical Assistant</label>                                          
                      </div>

                      <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_other">
                          <label for="position_of_certifier_other">Other</label>                                          
                      </div>

            <label for="other_position_of_certifier">Other Designation of medical certifier</label>
              <input name="other_position_of_certifier"
                     value="<%= @person.other_position_of_certifier%>" id="other_position_of_certifier" class="form-control" type="text" />
            </div>
             <div onclick="hit('manner_of_death_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="hit('icd_10_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
          </div>
           <div id="icd_10" class="container custom" style="display: none;" disabled="true">
                      <table style="width:100%; margin:auto; margin-bottom: 5%" >
                            <thead>
                              <tr>
                                  <th colspan="2">Person's sex,other details and cause of death</th>
                              </tr>
                              <tr>
                                  <td>Sex</td>
                                  <td><%= @person.gender %></td>
                              </tr>
                              <tr>
                                  <td>Date of Birth</td>
                                  <td><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
                              </tr>
                              <% if @person.died_while_pregnant=="Yes" %>
                              <tr>
                                  <td>Death occured while pregnant</td>
                                  <td><%= @person.died_while_pregnant rescue "No" %></td>
                              </tr>
                              <%end%>
                              <tr>
                                  <td>Physcial Adress</td>
                                  <td><%= "#{@person.current_district} District , TA #{@person.current_ta} , #{@person.current_village}" rescue "No" %></td>
                              </tr>

                             </thead> 
                             <tbody id="cause_summary">
                                  
                             </tbody>
                      </table>
                <div class="form-group">
                  <label for="icd_10_code">ICD-10 Code</label>
                  <input name="icd_10_code" id="icd_10_code" value="<%= @person.icd_10_code%>" class="form-control" type="text" />
              </div>

              <div onclick="hit('certification_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
            <div onclick="document.getElementById('frm').submit()" class="btn btn-success pull-right">Save&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></div>
          </div>
      </form>
  </div>

    </td>
</tr>
</table>
<div id="shield">
    <div id="number_field" class="messagebox">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header btn-primary" >
              <button type="button" class="close"  onclick="$('#shield').css('display','none');$('#number_field').css('display','none')">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">Field validation</h4>
            </div>
            <div class="modal-body">

              <div class="row">
                <div class="col-lg-12">
                    Field is for numbers only
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="$('#shield').css('display','none');$('#number_field').css('display', 'none')" > Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div id="messagebox" class="messagebox" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header btn-primary" >
            <button type="button" class="close"  onclick="$('#shield').css('display','none');$('#messagebox').css('display','none')">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="title">Title</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-12" id="message">
                  Message...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" onclick="$('#shield').css('display','none');$('#messagebox').css('display', 'none')" > Close</button>
                <button id="finish" class="btn btn-success pull-right" onclick="hideMessage()">Finish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="assets/jquery-ui/jquery-ui.min.js"></script>
<script src="/select2/select2.full.min.js"></script>
<script>
    function __$(id){
        return document.getElementById(id);
    }
    function showControls(id){

        var target = $("#"+id);
        if(target.attr('disabled')){
           //alert(id);
        }else{
          $(".custom").hide();
          $("#" + id).show();
        }
    }

    function hit(id){
        var d = document.getElementById(id);
        d.onmousedown.apply(d);
        $(d).find("input").prop('checked', 'checked')
    }

    hit("person_details_radio");

    var selects = document.getElementsByTagName("select");
    for (var i = 0; i < selects.length; i++){
        var value = selects[i].getAttribute("load");
        jQuery(selects[i]).val(value);
    }

   var h = {
        "other_position_of_certifier" : ['position_of_certifier', 'Other'],
        "date_certifier_signed" : ['certifier_signed', 'Yes'],
        "other_death_by_accident" : ['death_by_accident', 'Other'],
        "death_by_accident" : ['manner', 'Accident'],
        "other_manner_of_death" : ['manner', 'Other']
    }

    function checkConditions() {
        var conditionals = document.getElementsByClassName("conditional");
        for(var k = 0 in h){
            var node = document.getElementById(k);
            var parent = h[k][0];
            var value = h[k][1];
            if(document.getElementById(parent).value != value){
                node.setAttribute('disabled', true);
                jQuery(node).val("");
            }else{
                node.removeAttribute('disabled');
            }
        }
    }
    function setRequired(element,pos){
          if(element.value.length > 0){
              $("#onset_death_interval"+pos).attr("required","");
              $("#interval_unit"+pos).attr("required","");
          }else{
              $("#onset_death_interval"+pos).removeAttr("required");
              $("#interval_unit"+pos).removeAttr("required");
          }
    }
    function checkIfNumber(element){
        var reg = /^\d+$/;
        var value = element.value;

        if(reg.test(value)){

        }else{

          $("#number_field").show();
          element.value = value.substring(0,value.length-1);

        }
        
        console.log(reg.test(value));
       
    }
    var interval = setInterval("checkConditions()", 200);

    $.getJSON("/cause_of_death_list",function(data){

            for(var i =  1 ; i <=5 ; i++){
                switch(i){
                     case 1:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death1%>",data)
                        break;
                    case 2:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death2%>",data)
                        break;
                    case 3:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death3%>",data)
                        break;
                    case 4:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death4%>",data)
                        break;
                     case 5:
                        makeselect2("cause_of_death_conditions",null,data)
                        break;
                }
            }
    });
    function makeselect2(id , value,data){
        $("#"+id).select2({
                tags: data,
                tokenSeparators: []
        }).select2('val', value);
    }
    $(document).ready(function(){

              var mindate = $.datepicker.formatDate('dd/mm/yy',new Date("<%= @person.date_of_death %>"));
              var maxdate =  $.datepicker.formatDate('dd/mm/yy',new Date());
             $('#date_certifier_signed').datepicker({ dateFormat: 'dd/mm/yy',minDate: mindate, maxDate: maxdate});
    });

    function loaCauseSummary(){
             var table_body = $("#cause_summary");
             for(var i = 0 ; i < 4 ; i++){
                  var tr = document.createElement("tr");
             }
    }

    function clearOnset(pos){
      if($('#onset_death_interval'+pos).val().length > 0){
          var next = $("#cause_of_death"+(pos + 1));
          if(next){
              next.focus();
          }
      }else{
        $('#onset_death_interval'+pos).focus();
      }
      
    }
    function checkCauseFunction(){
        if(eval(__$('radioN').checked)== false && eval(__$('radioY').checked) == false){
            showMessage("Check question not responded !", 
              "Please select Yes or No for the question ","");
            return;
        }

        if(__$('radioN') && eval(__$('radioN').checked)){
            showMessage("Message", 
              "Section 2 for this form is not filled please proceed to next form","/nocause_available/<%=params[:person_id]%>");
        }else{
            var pending = ["HQ INCOMPLETE","HQ POTENTIAL INCOMPLETE",
                          "HQ CONFIRMED INCOMPLETE","HQ CONFLIT",
                          "HQ POTENTIAL DUPLICATE","HQ DUPLICATE"
                          ]
            var rejected = ["HQ REJECTED","HQ CONFIRMED DUPLICATE"]

            var inprocess = ["DC REAPPROVED","DC APPROVED","HQ COMPLETE", "DC REPRINT","DC AMENDED"]

            var available = ["HQ APPROVED","HQ REAPPROVED","HQ PRINT","HQ CLOSED","HQ DISPATCHED","HQ REPRINT"]
            if(available.indexOf(status) >= 0){
                var containers = $(".custom");
                for(var i = 0 ; i < containers.length; i++){
                    containers[i].removeAttribute('disabled');
                }
                for(var i = 2 ; i <= 5 ; i++){
                    $("#radio"+i).removeAttr("disabled");
                }
                hit('cause_of_death_radio');
            }

            if(pending.indexOf(status) >= 0){
                showMessage("Message", 
                "Record has issues so it id in pending queue to processed by NRB  check again after 5 days",
                "/search");
            }

            if(rejected.indexOf(status) >= 0){
                 showMessage("Message", 
                "Record is rejected by NRB",
                "/search");
            }

            if(inprocess.indexOf(status) >= 0){
                 showMessage("Message", 
                "Record is being processed by NRB check after 5 days",
                "/search");
            }
        }
    }

    function showMessage(title, message,link){
        $("#shield").show();
        $("#messagebox").show();
        $("#title").html(title);
        $("#message").html(message);
        if(link){
          $("#finish").attr("onclick","hideMessage(redirectTo('"+link+"'))");
        }  
    }

    function hideMessage(callBack){
        $('#shield').css('display','none');
        $("#finish").attr("onclick",hideMessage());
        if(callBack){
           callBack();
        }
    }

    function redirectTo(link){
        window.location.href = link;
    }
</script>
