<style>

    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }
    .input-group-btn .btn-group {
        display: flex !important;
    }
    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        #adv-search, #adv-search2, #adv-search3{
            width: 150;
            margin: 5px auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 350px;
        }
    }

    .radio {
        padding-left: 20px; margin: 25px;
        color: darkslategray}
    .radio label {
        display: inline-block;
        border-bottom: 1px dotted lightgray;
        position: relative;
        padding-left: 5px; }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
    .radio input[type="radio"] {
        opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
        opacity: 0.65; }
    .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca; }

    .custom{
        width: 85%;
        display: none;
    }

    .form-group{
        border: 1px dotted lightblue;
        border-radius: 5px;
        padding: 3px;
        background: #f8f8ff;
    }

    .form-control{
        background: rgb(254, 254, 254);
        width: 70%;
        margin-left: 10%;
    }

    form{


    }
</style>

<table class="table" style="background: white;height: 97%;width: 99.5%">
    <tr class="" style="width: 100%">
      <td class="" style="width: 25%;border: 1px solid gray">
        <div id="cause_of_death_radio" class="radio radio-primary" onmousedown="showControls('cause_of_death')">
          <input type="radio" name="radio" id="radio">
              <label for="radio">
                Cause of death
              </label>
        </div>

        <div id="manner_of_death_radio" class="radio radio-primary" onmousedown="showControls('manner_of_death')">
            <input type="radio" name="radio" id="radio0">
                <label for="radio0">
                    Manner of death
                </label>
        </div>

        <div id="certification_radio" class="radio radio-primary" onmousedown="showControls('certification')">
            <input type="radio" name="radio" id="radio1">
                <label for="radio1">
                    Certification
                </label>
            </div>
        </td>

        <td id = "input-td" class="" style="width: 75%; border: 1px solid gray">
          <form id="frm" class="form-horizontal" role="form" action="/save_cause_of_death">

          <div id="cause_of_death" class="container custom">
              <input name="person_id" value="<%= @person.id%>" type="hidden" type="text" />

            <div class="form-group">
              <label for="icd_10_code">ICD-10 Code</label>
              <input name="icd_10_code" id="icd_10_code" value="<%= @person.icd_10_code%>" class="form-control" type="text" />
            </div>

              <div class="form-group">
                <label for="">Cause of Death 1 </label>
                <input name="cause_of_death1" id="cause_of_death1" value="<%= @person.cause_of_death1%>" class="form-control" type="text" />

                <label for="">Cause of Death 1 onset to death Interval </label>
                <input name="onset_death_interval1" id="onset_death_interval1" value="<%= @person.onset_death_interval1%>" class="form-control" type="text" />
               </div>

              <div class="form-group">
                <label for="">Cause of Death 2 </label>
                <input name="cause_of_death2" id="cause_of_death2" class="form-control" value="<%= @person.cause_of_death2%>" type="text" />

                <label for="">Cause of Death 2 onset to death Interval </label>
                <input name="onset_death_interval2" id="onset_death_interval2" value="<%= @person.onset_death_interval2%>" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="">Cause of Death 3</label>
                <input name="cause_of_death3" id="cause_of_death3" value="<%= @person.cause_of_death3%>" class="form-control" type="text" />

                <label for="">Cause of Death 3 onset to death Interval</label>
                <input name="onset_death_interval3" id="onset_death_interval3" value="<%= @person.onset_death_interval3%>" class="form-control" type="text" />
              </div>


              <div class="form-group">
                <label for="">Cause of Death 4</label>
                <input name="cause_of_death4" id="cause_of_death4" class="form-control" value="<%= @person.cause_of_death4%>"  type="text" />

                <label for="">Cause of Death 4 onset to death Interval</label>
                <input name="onset_death_interval4" id="onset_death_interval4" value="<%= @person.onset_death_interval4%>" class="form-control" type="text" />
              </div>

              <div onclick="hit('manner_of_death_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
            </div>


          <div id="manner_of_death" class="container custom" style="display: none;">
              <div class="form-group">
                <label for="manner">Manner of death </label>
                <select name="manner_of_death" id="manner" load="<%= @person.manner_of_death%>" class="form-control">
                  <option value=""></option>
                  <option>Natural</option>
                  <option>Accident</option>
                  <option>Homicide</option>
                  <option>Suicide</option>
                  <option>Pending Investigation</option>
                  <option>Could not be determined</option>
                  <option>Other</option>
                </select>

                <label for="">Other manners of death</label>
                <input name="other_manner_of_death"
                       value="<%= @person.other_manner_of_death%>" id="other_manner_of_death" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="">How did injury/accident occur?</label>
                <select
                        name="death_by_accident" load="<%= @person.death_by_accident%>" id="death_by_accident" class="form-control">
                  <option value=""></option>
                  <option>Motor vehicle(driver)</option>
                  <option>Motor vehicle(passenger)</option>
                  <option>Motor</option>
                  <option>Drowning</option>
                  <option>Other</option>
                </select>

                <label for="other_death_by_accident">Other accident specify</label>
                <input name="other_death_by_accident"
                       value="<%= @person.other_death_by_accident%>" id="other_death_by_accident" class="form-control" type="text" />
              </div>

              <div onclick="hit('cause_of_death_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="hit('certification_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
          </div>


          <div id="certification" class="container custom" style="display: none;">
            <div class="form-group">
              <label for="certifier_signed">Certifier Signed</label>
              <select name="certifier_signed" load="<%= @person.date_certifier_signed%>" id="certifier_signed" class="form-control">
                <option value=""></option>
                <option>Yes</option>
                <option>No</option>
              </select>

              <label for="">Date certifier signed</label>
              <input name="date_certifier_signed" value="<%= @person.certifier_last_name%>" id="date_certifier_signed" class="form-control" type="text" />

            </div>

            <div class="form-group">
              <label for="">Certifier last name</label>
              <input name="certifier_last_name" value="<%= @person.certifier_last_name%>" id="certifier_last_name" class="form-control" type="text" />

              <label for="">Certifier first name</label>
              <input name="certifier_first_name" value="<%= @person.certifier_first_name%>" id="certifier_first_name" class="form-control" type="text" />
            </div>

            <div class="form-group">
              <label for="">Designation of medical certifier</label>
              <select name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier" class="form-control">
                <option value=""></option>
                <option>Physician</option>
                <option>Clinic Officer</option>
                <option>Medical Assistant</option>
                <option>Other</option>
              </select>

              <label for="other_position_of_certifier">Other Designation of medical certifier</label>
              <input name="other_position_of_certifier"
                     value="<%= @person.other_position_of_certifier%>" id="other_position_of_certifier" class="form-control" type="text" />
            </div>

            <div onclick="hit('manner_of_death_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
            <div onclick="document.getElementById('frm').submit()" class="btn btn-success pull-right">Save&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></div>
          </div>
      </form>
  </div>

    </td>
</tr>
</table>
<script>
    function showControls(id){
        $(".custom").hide();
        $("#" + id).show();
    }

    function hit(id){
        var d = document.getElementById(id);
        d.onmousedown.apply(d);
        $(d).find("input").prop('checked', 'checked')
    }

    hit("cause_of_death_radio");

    var selects = document.getElementsByTagName("select");
    for (var i = 0; i < selects.length; i++){
        var value = selects[i].getAttribute("load");
        jQuery(selects[i]).val(value);
    }

   var h = {
        "other_position_of_certifier" : ['position_of_certifier', 'Other'],
        "date_certifier_signed" : ['certifier_signed', 'Yes'],
        "other_death_by_accident" : ['death_by_accident', 'Other'],
        "death_by_accident" : ['manner', 'Accident'],
        "other_manner_of_death" : ['manner', 'Other']
    }

    function checkConditions() {
        var conditionals = document.getElementsByClassName("conditional");
        for(var k = 0 in h){
            var node = document.getElementById(k);
            var parent = h[k][0];
            var value = h[k][1];
            if(document.getElementById(parent).value != value){
                node.setAttribute('disabled', true);
                jQuery(node).val("");
            }else{
                node.removeAttribute('disabled');
            }
        }
    }

    var interval = setInterval("checkConditions()", 200);

</script>
