

<style>
    .table-cell{
        width: 50%;
        padding: 4px;
        padding-left: 30px !important;
        color: darkslategray;
    }
    .btn{
        min-width: 100px;
        margin-left: 10px;
    }
    .dynamic-button{
        margin-left: 15px;
        margin-right: 25px;
    }
    .summary{

        margin-bottom: 1%;

    }
    .summary td {

        background: #ffffff;
        text-align: left !important;
        padding: 5px;
        padding-left: 10px;
        border: 1px solid lightslategrey;
        color: #344351


    }

    .summary th{

         background: #344351;

         color: #ffffff;

         border : 1px solid #424244;

         padding: 0.5em;

         text-align: center
    }
    .clickable{

        font-weight: bold;
    }
    th{
        padding: 8px;
    }
</style>

<%
   @person_place_details = {}
%>
<div style="background: white">
  <div style="height: 535px; overflow: auto;padding: 0px; margin:0px;">
    <%= render :partial => "section2" %>
  </div>

  <div class="table-container-footer" style="padding: 0px;margin-bottom: 0px;">
    <table class="table table-striped table-hover table-condensed table-bordered">
      <tfoot>
      <tr>
        <th colspan="2" style="padding-left: 10px !important;">
        <% if true %>
            <div onclick= "window.parent.location = '/cause_of_death?person_id=<%= @person.id%>'"
                 class="dynamic-button btn btn-small btn-default pull-right btn-primary"><span>Edit Cause of death</span></div>
        <%end%>
            <div onclick= "window.parent.location = '/search'"
                 class="dynamic-button btn btn-small btn-default pull-left btn-danger"><span>Cancel</span></div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<script>
    function loadPopup(id){
        __$(id).style.display = "block";
    }

    function __$(id){
        return document.getElementById(id);
    }

    function ___$(clas){
        return document.getElementsByClassName(clas)[0];
    }

    function updateValue(obj){
        obj.getElementsByTagName('input')[0].checked = true
        __$("printer_name").value = obj.getAttribute('value');
    }

    function selectPrinter(){
        __$("printer_name").value = '';
        $(".printer_radio_button").prop( "checked", false );
    }

    function ajaxChange(status){
        $.ajax({
            url: "/ajax_change_status?next_status=" + status + "&person_id=<%=params['person_id']%>",
            success: function(feedback){
                window.parent.location = "<%= request.referrer%>";
            },
            error: function(error){
                alert("Something went wrong");
            }
        })
    }

    function ajaxify(route, btn){
        $.ajax({
            url: route + "&person_id=<%=params['person_id']%>",
            success: function(feedback){
                window.parent.location = "<%= request.referrer%>";
            },
            error: function(error){
                alert("Something went wrong");
            }
        })
    }

</script>
<style>
    #completeness, #printers{
        position : absolute;
        left: 30%;
        top: 15%;
        display: none;
    }
</style>

