<script type="text/javascript">
      var status = "<%= @person.status%>"
</script>
<link href="/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<style>
    input{
      border: 1px solid grey;
    }
    input[type=radio].css-checkbox {
      position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
    }

    input[type=radio].css-checkbox + label.css-label {
              padding-left:24px;
              height:19px;
              display:inline-block;
              line-height:19px;
              background-repeat:no-repeat;
              background-position: 0 0;
              font-size:1.0em;
              vertical-align:middle;
              cursor:pointer;

    }

    input[type=radio].css-checkbox:checked + label.css-label {
              background-position: 0 -19px;
    }
    label.css-label {
        background-image:url(/assets/checkbox/checkbox1.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #31404d;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }
    .input-group-btn .btn-group {
        display: flex !important;
    }
    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        #adv-search, #adv-search2, #adv-search3{
            width: 150;
            margin: 5px auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 350px;
        }
    }

    .radio {
        padding-left: 20px; margin: 25px;
        color: darkslategray}
    .radio label {
        display: inline-block;
        border-bottom: 1px dotted lightgray;
        position: relative;
        padding-left: 5px; }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
    .radio input[type="radio"] {
        opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
        opacity: 0.65; }
    .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca; }

    .custom{
        width: 85%;
        display: none;
    }

    .form-group{
        border: 1px solid lightgray;
        padding: 3px;
        padding-bottom: 7px;
        padding-left: 15px;
        border-radius: 2px;
        background: #eeeeee;
    }

    .form-control{
        background: rgb(254, 254, 254);
        width: 98%;
        margin-bottom: 1%;
    }
    #summary {
       width:  100%;
       margin: auto;
    }

    #summary td {
        padding: 0.5em;
        color :#242020;
    }

    #summary th{
      background: #1a2732;
      color:#ffffff;
    }
    .messagebox{
            position: absolute;
            top: 25%;
            left: 35%;
            display: none;

    }
    #shield{
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      left: 0px;
      top: 0px;
      background: rgba(128,128,128,0.35);
      z-index: 1050;
      display: none;
    }
    .table{
        border: none;
        box-shadow: 1.0px 1.0px 0.4px #adaba8;
        border-top: 2px solid darkgoldenrod;
        border-bottom: 2px solid darkgoldenrod
    }
    .table td{
        border: 1px solid #adaba8 !important;
    }
    input, select ,option{
        color:#1a2732 !important;
    }

    .clickable{
      font-weight: bold;
      font-size: 0.9em;
      color: #31404d !important;
   }
    .icon_plus_alt,.icon_minus_alt{
        font-size: 2.5em;
    }
    .icon_minus_alt{
        margin-top: 20%;
    }
</style>
 <link rel="stylesheet" href="/select2/select2.min.css">

<table class="table" style="background: white;height: 97%;width: 100%;">
    <tr class="" style="width: 100%">
      <td class="" style="width: 20%;border: 1px solid gray">
        <div id="person_details_radio" class="radio radio-primary" onmousedown="showControls('person_details')">
          <input type="radio" name="radio" id="radio0">
              <label for="radio0">
                Person details
              </label>
        </div>
         <div id="cause_of_death_check_radio" class="radio radio-primary" onmousedown="showControls('cause_of_death_check')">
          <input type="radio" name="radio" id="radio1">
              <label for="radio1">
                Check question
              </label>
        </div>
        <div id="cause_of_death_radio" class="radio radio-primary" onmousedown="showControls('cause_of_death')">
          <input type="radio" name="radio" id="radio2" disabled="true">
              <label for="radio2">
                Cause of death
              </label>
        </div>

        <div id="autopsy_radio" class="radio radio-primary" onmousedown="showControls('autopsy')">
            <input type="radio" name="radio" id="radio3" disabled="true">
                <label for="radio3">
                    Autopsy
                </label>
        </div>

        <div id="manner_of_death_radio" class="radio radio-primary" onmousedown="showControls('manner_of_death')">
            <input type="radio" name="radio" id="radio4" disabled="true">
                <label for="radio4">
                    Manner of death
                </label>
        </div>

        <div id="certification_radio" class="radio radio-primary" onmousedown="showControls('certification')">
            <input type="radio" name="radio" id="radio5" disabled="true">
                <label for="radio5">
                    Certification
                </label>
        </div>

        <div id="icd_10_radio" class="radio radio-primary" onmousedown="showControls('icd_10')">
            <input type="radio" name="radio" id="radio6" disabled="true">
                <label for="radio6">
                    ICD 10 Code
                </label>
        </div>
        </td>

        <td id = "input-td" class="" style="width: 100%; border: 1px solid gray">
          <form id="frm" class="form-horizontal" role="form" action="/save_cause_of_death">

          <div id="person_details" class="container custom"  style="width:100%">
              <div style="height: 520px; overflow: auto;padding: 0px; margin:0px;width:100%;margin-bottom: 15px; border-left:1px solid #d9d8d7; border-top:1px solid #d9d8d7;border-bottom:1px solid #d9d8d7">
                  <table class="summary" id="summary" style="">
                     <tr>
                      <td style="border-right:none" class="clickable"><b>Registration Category : </b></td>
                      <td colspan="2" style="color:#4775a1; border-left:none"><%= @person.registration_type%></td>
                      <td colspan="2" style="border-right:none" class="clickable" ><b>Record Status : </b></td>
                      <td colspan="2" style="color:#4775a1;border-left:none"><%= @person.status%></td>
                      <td style="border-right:none" class="clickable" ><b>DEN : </b></td>
                      <td style="color:#4775a1;border-left:none"><%= @person.den%></td>
                      <td style="border-right:none" class="clickable"><b>DRN : </b></td>
                      <td style="color:#4775a1;border-left:none"><%= @person.drn rescue ''%></td>
                    </tr>
                    <tr>
                    <tr>
                      <th colspan="11">Section 1 : Particulars of the deceased</th>
                    </tr>

                    <tr>
                      <td rowspan="11" style="background-color:#dbdada;">PART 1 <br/>PERSONAL DETAILS OF DECEASED</td>
                      <td>1</td>
                      <td  class="clickable" >Surname</td>
                      <td colspan="2" >*************</td>
                      <td class="clickable"  >First name</td>
                      <td  colspan="2">*************</td>
                      <td class="clickable"  >Other</td>
                      <td colspan="2">*************</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td class="clickable"  >ID No.</td>
                      <td style="border-bottom :1.5px solid black">*************</td>
                      <td>3</td>
                      <td class="clickable" >Nationality</td>
                      <td colspan="2" style="border-bottom :1.5px solid black"><%= @person.nationality rescue ""%></td>
                      <td>4</td>
                      <td class="clickable" >Sex</td>
                      <td style="border-bottom:1.5px solid black"> <%= @person.gender %></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td class="clickable" >Birth Date</td>
                      <td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
                      <td rowspan="2">6</td>
                      <td rowspan="2" class="clickable" >Birth certificate No.</td>
                      <td rowspan="2" style="border-bottom :1.5px solid black">*************</td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td class="clickable"  >Date of Death</td>
                      <td style="border-bottom: 1.5px solid black" colspan="5"><%= Date.parse(@person.date_of_death.to_s).strftime("%d/%b/%Y") %></td>
                    </tr>
                    <tr>
                      <td rowspan="3">8</td>
                      <td class="clickable" onclick="editField('hospital_of_death')" ><input type="radio" name="radiog_dark" id="facility" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">H/Facility</label></td>
                      <td colspan="8" style="border-bottom: 1.5px solid black"> <%= @person.hospital_of_death %></td>
                    </tr>
                    <tr>
                      <td class="clickable" onclick="editField('hospital_of_death')" ><input type="radio" name="radiog_dark" id="home" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Home</label></td>
                      <% if @person.place_of_death_country == 'Malawi'%>
                      <td class="clickable">Address</td>
                      <td class="clickable" onclick="editField('place_of_death_district')" >District</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_district %></td>
                      <td class="clickable" onclick="editField('place_of_death_ta')">TA</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_ta %></td>
                      <td class="clickable" onclick="editField('place_of_death_village')" >Village</td>
                      <td style="border-bottom:1.5px solid black" colspan="2"><%= @person.place_of_death_village %></td>
                    <%else%>
                      <td class="clickable" onclick="editField('place_of_death_country')" >Country</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_country %></td>
                      <td class="clickable" onclick="editField('place_of_death_foreign_state')">State</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.place_of_death_foreign_state %></td>
                      <td class="clickable" onclick="editField('place_of_death_foreign_district')" >District</td>
                      <td style="border-bottom:1.5px solid black" ><%= @person.place_of_death_foreign_district  %></td>
                      <td class="clickable" onclick="editField('place_of_death_foreign_village')" >Town</td>
                      <td style="border-bottom:1.5px solid black" ><%= @person.place_of_death_foreign_village  %></td>
                    <% end %>
                    </tr>
                    <tr>
                      <td><input type="radio" name="radiog_dark" id="other" class="css-checkbox" /><label for="radio4" class="css-label radGroup2">Other</label></td>
                      <td colspan="8"><%= @person.other_place_of_death rescue '' %></td>
                    </tr>
                    <tr>
                      <td class="clickable"  >Home</td>
                      <td>Address</td>
                      <td class="clickable"  >District</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.home_district %></td>
                      <td class="clickable" >TA</td>
                      <td style="border-bottom:1.5px solid black"><%= @person.home_ta %></td>
                      <td class="clickable"  >Village</td>
                      <td style="border-bottom:1.5px solid black" colspan="2"><%= @person.home_village %></td>
                    </tr>
                    <tr>
                      <td class="clickable"> Other</td>
                      <td colspan="8"></td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td colspan="3">Physical residential address</td>
                      <td class="clickable"  >District </td>
                      <td><%= @person.current_district %></td>
                      <td class="clickable" >TA</td>
                      <td><%= @person.current_ta %></td>
                      <td class="clickable"  >Village</td>
                      <td><%= @person.current_village %></td>
                    </tr>
                    <tr>
                      <td rowspan="2">11</td>
                      <td colspan="8" class="clickable"  >In case this is a female death, did the death occur while pregnant, at the time of delivery or within 6 weeks after the end of pregnancy?</td>
                      <td><%= @person.died_while_pregnant rescue "No" %></td>
                    </tr>
                    <tr>

                      <td colspan="9"></td>
                    </tr>
                    <tr>
                      <td rowspan="6">PART 2 <br/><br/>DETAILS OF PARENT</td>
                      <td rowspan="3">1</td>
                      <td colspan="6" class="clickable"  >Mother's name</td>
                      <td rowspan="3">2</td>
                      <td rowspan="3" class="clickable" >ID No.</td>
                      <td rowspan ="3" style="border-bottom:1.5px solid black">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable"  >Surname</td>
                      <td colspan="2">*************</td>
                      <td class="clickable" >First name</td>
                      <td colspan="2">************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Other names</td>
                      <td colspan="5">*************</td>
                    </tr>
                    <tr>
                      <td rowspan="3">3</td>
                      <td colspan="6" class="clickable" >Father's name</td>
                      <td rowspan="3">4</td>
                      <td rowspan="3" class="clickable" >ID No.</td>
                      <td rowspan ="3" style="border-bottom:1.5px solid black">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Surname</td>
                      <td colspan="2">*************</td>
                      <td class="clickable">First name</td>
                      <td colspan="2">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Other names</td>
                      <td colspan="5">*************</td>
                    </tr>

                    <tr>
                      <td rowspan="7" style="background-color:#dbdada;">PART 3 <br/>INFORMANTS DETAILS</td>
                      <td rowspan="2">1</td>
                      <td class="clickable"  >Surname</td>
                      <td colspan="2">*************</td>
                      <td class="clickable" >First name</td>
                      <td colspan="2">*************</td>
                      <td rowspan="2">2</td>
                      <td rowspan="2" class="clickable" >ID No.</td>
                      <td rowspan="2">*************</td>
                    </tr>
                    <tr>
                      <td class="clickable" >Other name</td>
                      <td colspan="5">*************</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td class="clickable" >Relation to the deceased</td>
                      <td colspan="8">
                        <%= @person.informant_relationship_to_deceased rescue @person.informant_relationship_to_deceased_other %>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">4</td>
                      <td>Adress</td>
                      <td class="clickable" >District</td>
                      <td colspan="2"><%= @person.informant_current_district %></td>
                      <td class="clickable" >TA</td>
                      <td colspan="2"><%= @person.informant_current_ta %></td>
                      <td class="clickable" >Village</td>
                      <td><%= @person.informant_current_village %></td>
                    </tr>
                    <tr>
                      <td class="clickable" >Postal address :</td>
                      <td colspan="6">
                       *************
                      </td>
                      <td class="clickable" >Telephone Number</td>
                      <td>*************</td>
                    </tr>
                    <tr>
                      <td rowspan="2">5</td>
                      <th colspan="9" style="background: #ffffff; color:black">I certify that the above information is correct and I am aware that I could face criminal prosecution if this information is incorrect in material respect.</th>
                    </tr>
                    <tr>
                      <td>Date:</td>
                      <td colspan="8"><%= Date.parse(@person.informant_signature_date.to_s).strftime("%d/%b/%Y") rescue "" %></td>
                    </tr>
                  </table>
              </div>
              <div onclick="hit('cause_of_death_check_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
          </div>
          <div id="cause_of_death_check" class="container custom">
            <div class="form-group">
              <div class="col-lg-12 col-md-12">
                      <label for="cause_of_death_available">Has the form been completed? </label>
                      <div id="form_completed_yes_radio" class="radio radio-primary" onmousedown="">
                          <input type="radio" name="cause_of_death_available" id="radioY">
                          <label for="radioY">Yes</label>
                      </div>
                      <div id="form_completed_no_radio" class="radio radio-primary" onmousedown="">
                          <input type="radio" name="cause_of_death_available" id="radioN">
                          <label for="radioN">No</label>
                      </div>

               </div>
              </div>
              <div onclick="hit('person_details_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="checkCauseFunction('radio2','cause_of_death')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
            </div>
          </div>
          <div id="cause_of_death" class="container custom" disabled="true">
            <input name="person_id" value="<%= @person.id%>" type="hidden" type="text" />
            <fieldset>
              <legend>Part I</legend>
              <p>Disease or condition directly leading to death <i style='color: red'>*</i></p>
               <div class="form-group" style=" padding-bottom:1%">
               <div class="col-md-12">
                    <label for="onset_death_interval1">cause of Death 1 </label>
                    <input name="cause_of_death1" id="cause_of_death1" value="<%= @person.cause_of_death1 rescue (@person.other_cause_of_death1 rescue '')%>" class="form-control select2" style="width:100%" onkeyup="addCauseField(this);checkSpace(this)" />
                </div>



              <div class="col-md-4">
                    <label for="onset_death_interval1">Onset to death Interval </label>
                    <input name="onset_death_interval1" id="onset_death_interval1"  value="<%= @person.onset_death_interval1%>" class="form-control" type="number" onkeyup="checkIfNumber(this)" min="1" />
                </div>
                <div class="col-md-4">
                    <label for="interval_unit1">Units</label>
                    <select name="interval_unit1" id="interval_unit1" load="" class="form-control" onchange="clearOnset(1)">
                      <option ></option>
                      <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>

                    </select>
                </div>
                <div class="col-md-4">
                    <label for="icd_10_1">ICD-10 </label>
                    <input name="icd_10_1" id="icd_10_1"  value="" onfocus="activateICDValidate(this)" class="form-control" type="text" />
                </div>


               </div>
              <p><b>Antecedent cause : </b> Morbid conditions, if any. giving rise to the above cause , stating the underlying condition last</p>

              <div class="form-group" style=" padding-bottom:1%">
                <div class="col-md-12">
                    <label for="">Cause of Death 2 </label>
                     <input name="cause_of_death2" id="cause_of_death2" value="<%= @person.cause_of_death2 rescue (@person.other_cause_of_death2 rescue '')%>" class="form-control select2" style="width:100%" onkeyup="validatePrev(this);addCauseField(this);checkSpace(this)" />
                </div>


                 <div class="col-md-4">
                    <label for="">Onset to death Interval </label>
                    <input name="onset_death_interval2" id="onset_death_interval2"  value="<%= @person.onset_death_interval2%>" class="form-control" type="number" onkeyup="checkIfNumber(this)" min="1" />
                </div>
                <div class="col-md-4">
                    <label for="">Units</label>
                    <select name="interval_unit2" id="interval_unit2"  load="" class="form-control" onchange="clearOnset(2)">
                      <option ></option>
                      <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>
                    </select>
                </div>

                    <div class="col-md-4">
                    <label for="icd_10_2">ICD-10 </label>
                    <input name="icd_10_2" id="icd_10_2"  value="" class="form-control" type="text" onfocus="activateICDValidate(this)" />
                </div>


              </div>

              <div class="form-group">
                <div class="col-md-12">
                    <label for="">Cause of Death 3</label>
                     <input name="cause_of_death3" id="cause_of_death3" value="<%= @person.cause_of_death3 rescue (@person.other_cause_of_death3 rescue '')%>" class="form-control select2" style="width:100%" onkeyup="validatePrev(this);addCauseField(this);checkSpace(this)"/>
                </div>


                <div class="col-md-4">
                    <label for="">Onset to death Interval </label>
                    <input name="onset_death_interval3" id="onset_death_interval3"  value="<%= @person.onset_death_interval3%>" class="form-control" type="number" onkeyup="checkIfNumber(this)" min="1"/>
                </div>
                <div class="col-md-4">
                    <label for="">Units</label>
                    <select name="interval_unit3" id="interval_unit3"  load="" class="form-control" onchange="clearOnset(3)">
                     <option ></option>
                     <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>
                    </select>
                </div>

                   <div class="col-md-4">
                    <label for="icd_10_3">ICD-10 </label>
                    <input name="icd_10_3" id="icd_10_3"  value="" class="form-control" type="text" onfocus="activateICDValidate(this)" />
                </div>

              </div>


              <div class="form-group">
              <div class="col-md-12">
                  <label for="">Cause of Death 4</label>
                  <input name="cause_of_death4" id="cause_of_death4" value="<%= @person.cause_of_death4%>" class="form-control select2" style="width:100%" onkeyup="validatePrev(this);addCauseField(this);checkSpace(this)" min="1"/>
                </div>

                 <div class="col-md-4">
                    <label for="">Onset to death Interval </label>
                    <input name="onset_death_interval4" id="onset_death_interval4"  value="<%= @person.onset_death_interval4%>" class="form-control" type="number" onkeyup="checkIfNumber(this)" />
                </div>
                <div class="col-md-4">
                    <label for="">Units</label>
                    <select name="interval_unit4" id="interval_unit4"  load="" class="form-control" onchange="clearOnset(4)">
                      <option ></option>
                      <option >Second(s)</option>
                      <option>Minute(s)</option>
                      <option>Hour(s)</option>
                      <option>Day(s)</option>
                      <option>Week(s)</option>
                      <option>Month(s)</option>
                      <option>Year(s)</option>
                    </select>
                </div>

                    <div class="col-md-4">
                    <label for="icd_10_4">ICD-10 </label>
                    <input name="icd_10_4" id="icd_10_4"  value="" class="form-control" type="text" onfocus="activateICDValidate(this)"/>
                </div>

              </div>
            </fieldset>
            <fieldset style="margin-bottom:2%">
             <legend>Part II</legend>
              <p>Other significant conditions contributing to death , but not related to the disease or condition causing it</p>
                <table><tr onclick="addEntry()"><td><i class="icon_plus_alt"></i></td><td><span style="font-size:1.2em">Add another entry</span></td></tr></table>
              <div class="form-group">
                  <table id="other_significant_cause_field" class="col-md-12">
                    <tr>
                      <th>Cause</th>
                      <th>ICD-10 Code</th>
                      <th>Remove</th>
                    </tr>
                    <tr id="other_significant_cause_div_1">
                       <td class="col-md-6">
                           <input name="other_significant_cause[1]" id="other_significant_cause_1" class="form-control select2" style="width:100%"/>
                        </td>
                        <td class="col-md-4">
                          <input name="other_significant_cause_icd_code[1]" id="other_significant_cause_icd_code_1" class="form-control select2" style="width:100%" onfocus="activateICDValidate(this)" />
                        </td>
                        <td>
                            <i class="icon_minus_alt" onclick="removeElement('other_significant_cause_div_1')"></i>
                        </td>
                    </tr>
                  </table>
                </div>
              </fieldset>
              <div onclick="hit('cause_of_death_check_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="checkPrimaryCause('radio3','autopsy','autopsy_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
            </div>

           <div id="autopsy" class="container custom" style="display: none;" disabled="true">
              <div class="form-group">
                <div class="col-lg-12 col-md-12">
                        <label for="autopsy_requested">Was an autopsy requested? </label>
                        <div id="autopsy_yes_radio" class="radio radio-primary" onmousedown="">
                            <input type="radio" name="autopsy_requested" id="autopsyY" onclick="enableAutopsyCertication('Yes')" value="Yes">
                            <label for="autopsyY">Yes</label>
                        </div>
                        <div id="autopy_no_radio" class="radio radio-primary" onmousedown="">
                            <input type="radio" name="autopsy_requested" id="autopsyN" onclick="enableAutopsyCertication('No')" value="No">
                            <label for="autopsyN">No</label>
                        </div>

                 </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-md-12">
                        <label for="autopsy_used_for_certification">If yes, were the findings used for certification?</label>
                        <div id="autopsy_used_for_certification_yes_radio" class="radio radio-primary" onmousedown="">
                            <input type="radio" name="autopsy_used_for_certification" id="autopsy_used_for_certificationY" value="Yes" disabled>
                            <label for="autopsy_used_for_certificationY">Yes</label>
                        </div>
                        <div id="autopsy_used_for_certification_no_radio" class="radio radio-primary" onmousedown="">
                            <input type="radio" name="autopsy_used_for_certification" id="autopsy_used_for_certificationN" value="No" checked="true" disabled>
                            <label for="autopsy_used_for_certificationN">No</label>
                        </div>

                  </div>
                </div>
                <div onclick="hit('cause_of_death_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
                <div onclick="checkPrimaryCause('radio3','manner_of_death','manner_of_death_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
              </div>
           </div>
           <div id="manner_of_death" class="container custom" style="display: none;" disabled="true">
              <div class="form-group">
                <label class="col-md-12" for="manner">Manner of death </label>


                     <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_natural" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value = "Natural">
                          <label for="manner_natural">Natural</label>
                    </div>

                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_accident" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value = "Accident">
                          <label for="manner_accident">Accident</label>
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_homicide" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value = "Homicide">
                          <label for="manner_homicide">Homicide</label>
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_suicide" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value = "Suicide">
                          <label for="manner_suicide">Suicide</label>
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_poisoning" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value = "Poisoning">
                          <label for="manner_poisoning">Poisoning</label>
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="manner_of_death" id="manner_pending_investigation" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value="Pending Investigation">
                          <label for="manner_pending_investigation">Pending Investigation</label>
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="manner_of_death" id="manner_not_determined" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value= "Could not be determined">
                          <label for="manner_not_determined">Could not be determined</label>
                      </div>
                      <div id="manner_of_death_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="manner_of_death" id="manner_other" load="<%= @person.manner_of_death%>" onclick="enableOtherField(this,'other_manner_of_death')" value="Other">
                          <label for="manner_other">Other</label>
                      </div>



                <label class="col-md-12" for="">Other manners of death</label>
                <input name="other_manner_of_death"
                       value="<%= @person.other_manner_of_death%>" id="other_manner_of_death" class="form-control" type="text"  disabled/>
              </div>

              <div class="form-group">
                <label class="col-md-12" for="">How did injury/accident occur?</label>
                   <div class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="motor_vehicle_driver" load="<%= @person.death_by_accident%>" value="Motor vehicle(driver)" onclick="enableOtherField(this,'other_death_by_accident')" disabled>
                          <label for="motor_vehicle_driver">Motor vehicle(driver)</label>
                    </div>

                    <div class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="motor_vehicle_passenger" load="<%= @person.death_by_accident%>" value="Motor vehicle(passenger)" onclick="enableOtherField(this,'other_death_by_accident')" disabled>
                          <label for="motor_vehicle_passenger">Motor vehicle(passenger)</label>
                    </div>

                    <div  class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="motor_vehicle" load="<%= @person.death_by_accident%>" value="Motor vehicle" onclick="enableOtherField(this,'other_death_by_accident')" disabled>
                          <label for="motor_vehicle">Motor vehicle</label>
                    </div>

                    <div class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="drowning" load="<%= @person.death_by_accident%>" value="Drowning" onclick="enableOtherField(this,'other_death_by_accident')" disabled>
                          <label for="drowning">Drowning</label>
                    </div>

                    <div class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" >
                         <input type="radio" name="death_by_accident" id="other_accidents" value="Other" onclick="enableOtherField(this,'other_death_by_accident')" disabled>
                          <label for="other_accidents">Other</label>
                    </div>


                <label class="col-md-12" for="other_death_by_accident">Other accident specify</label>
                <input name="other_death_by_accident"
                       value="<%= @person.other_death_by_accident%>" id="other_death_by_accident" class="form-control" type="text" />
              </div>

              <div onclick="hit('autopsy_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="validateManner('radio4','certification','certification_radio')" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
          </div>

          <div id="certification" class="container custom" style="display: none;" disabled="true">
            <div class="form-group">
                <label for="certifier_signed" class="col-lg-3 col-md-3">Certifier Signed ? </label>
                 <div id="certifier_signed_yes_radio" class="radio radio-primary col-lg-3 col-md-3" onmousedown="">
                  <input type="radio" name="certifier_signed" id="radiocsy" value="Yes" onclick="enableOtherCertifierFields(this,'date_certifier_signed','yes');addCertifierFields(this)">
                      <label for="radiocsy">Yes</label>
                  </div>

                  <div id="certifier_signed_no_radio" class="radio radio-primary col-lg-3 col-md-3" onmousedown="">
                      <input type="radio" name="certifier_signed" id="radiocsn" value="No" onclick="enableOtherCertifierFields(this,'date_certifier_signed','yes');addCertifierFields(this)">
                      <label for="radiocsn">No</label>
                  </div>
                <br/>

              <label for="" class="col-lg-12 col-md-12">Date certifier signed</label>
                <input name="date_certifier_signed" value="<%= @person.date_certifier_signed%>" id="date_certifier_signed" class="form-control col-lg-8 col-md-8" style="margin-left:2%" type="text" onkeyup="addCertifierFields(this)" onchange="addCertifierFields(this)" disabled/>
      </i>
    </span>
            </div>

            <div class="form-group">
              <p style="color:#1e1e23;font-weight:bold;margin-left:2%">Certifier surname</p>
              <input name="certifier_last_name" value="<%= @person.certifier_last_name%>" id="certifier_last_name" class="form-control col-lg-8 col-md-8" style="margin-left:2%" onkeyup="addCertifierFields(this)" />

              <p style="color:#1e1e23;font-weight:bold;margin-left:2%">Certifier first name</p>
              <input name="certifier_first_name" value="<%= @person.certifier_first_name%>" id="certifier_first_name" class="form-control col-lg-8 col-md-8" style="margin-left:2%" onkeyup="addCertifierFields(this)" />

              <p style="color:#1e1e23;font-weight:bold;margin-left:2%">MCM Registration No.</p>
              <input name="certifier_license_number" value="<%= @person.certifier_license_number%>" id="certifier_license_number" class="form-control col-lg-8 col-md-8" style="margin-left:2%" onkeyup="addCertifierFields(this)" onfocus="acivateMCMValidation(this)" />
            </div>

            <div class="form-group">
              <label  class="col-md-12" for="">Designation of medical certifier</label>


                    <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_doctor" value="Medical Doctor" onclick="enableOtherCertifierFields(this,'other_position_of_certifier','other');addCertifierFields(this)">
                          <label for="position_of_certifier_doctor">Medical Doctor</label>
                      </div>
                      <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_officer" value="Clinic Officer" onclick="enableOtherCertifierFields(this,'other_position_of_certifier','other');addCertifierFields(this)">
                          <label for="position_of_certifier_officer">Clinic Officer</label>
                      </div>


                       <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_assistant" value="Medical Assistant" onclick="enableOtherCertifierFields(this,'other_position_of_certifier','other');addCertifierFields(this)">
                          <label for="position_of_certifier_assistant">Medical Assistant</label>
                      </div>

                      <div id="certifier_signed_yes_radio" class="radio radio-primary col-xs-12 col-sm-6 col-md-4 col-lg-4" onmousedown="">
                         <input type="radio" name="position_of_certifier" load="<%= @person.position_of_certifier%>" id="position_of_certifier_other" value= "Other" onclick="enableOtherCertifierFields(this,'other_position_of_certifier','other');addCertifierFields(this)">
                          <label for="position_of_certifier_other">Other</label>
                      </div>

            <label for="other_position_of_certifier">Other Designation of medical certifier</label>
              <input name="other_position_of_certifier"
                     value="<%= @person.other_position_of_certifier%>" id="other_position_of_certifier" class="form-control" type="text" onkeyup="addCertifierFields(this)" disabled/>
            </div>
             <div onclick="hit('manner_of_death_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
              <div onclick="validateCertifier('radio5','icd_10','icd_10_radio');" class="btn btn-primary pull-right">Next&nbsp;&nbsp;<span class="glyphicon glyphicon-forward" aria-hidden="true"></span></div>
          </div>
           <div id="icd_10" class="container custom" style="display: none;" disabled="true">
                      <table style="width:100%; margin:auto; margin-bottom: 5%" >
                            <thead>
                              <tr>
                                  <th colspan="2">Person's sex,  other details and cause of death</th>
                              </tr>
                              <tr>
                                  <td>Sex</td>
                                  <td><%= @person.gender %></td>
                              </tr>
                              <tr>
                                  <td>Date of Birth</td>
                                  <td><%= Date.parse(@person.birthdate.to_s).strftime("%d/%b/%Y") %></td>
                              </tr>
                              <% if @person.died_while_pregnant=="Yes" %>
                              <tr>
                                  <td>Death occured while pregnant</td>
                                  <td><%= @person.died_while_pregnant rescue "No" %></td>
                              </tr>
                              <%end%>
                              <tr>
                                  <td>Physcial Adress</td>
                                  <td><%= "#{@person.current_district} District , TA #{@person.current_ta} , #{@person.current_village}" rescue "No" %></td>
                              </tr>

                             </thead>
                      </table>
                <div class="form-group">
                  <label for="icd_10_code">Final ICD-10 Code</label>
                  <input name="icd_10_code" id="icd_10_code" value="<%= @person.icd_10_code%>" class="form-control" type="text" />
              </div>

              <div onclick="hit('certification_radio')" class="btn btn-primary pull-left"><span class="glyphicon glyphicon-backward" aria-hidden="true">&nbsp;Back</span></div>
            <div onclick="validateICD10Field()" class="btn btn-success pull-right">Save&nbsp;&nbsp;<span class="glyphicon" aria-hidden="true"></span></div>
          </div>
      </form>
  </div>

    </td>
</tr>
</table>
<div id="shield">
    <div id="number_field" class="messagebox">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header btn-primary" >
              <button type="button" class="close"  onclick="$('#shield').css('display','none');$('#number_field').css('display','none')">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">Field validation</h4>
            </div>
            <div class="modal-body">

              <div class="row">
                <div class="col-lg-12">
                    Field is for numbers only
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" onclick="$('#shield').css('display','none');$('#number_field').css('display', 'none')" > Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div id="messagebox" class="messagebox" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header btn-primary" >
            <button type="button" class="close"    onclick="$('#shield').css('display','none');$('#messagebox').css('display','none')">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="title">Title</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-12" id="message">
                  Message...
              </div>
              <div class="modal-footer">
                <button id="finish" class="btn btn-success pull-right" id="finish" onclick="hideMessage()">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="fieldvalidation" class="messagebox" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header btn-primary" >
            <button type="button" id="close" class="close"    onclick="$('#shield').css('display','none');$('#messagebox').css('display','none')">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title" id="validationtitle">Title</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-lg-12" id="validationmessage">
                  Message...
              </div>
              <div class="modal-footer">
                <button id="ok" class="btn btn-success pull-right" id="finish" >OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="assets/jquery-ui/jquery-ui.min.js"></script>
<script src="/select2/select2.full.min.js"></script>
<script>
    String.prototype.capitalize = function(lower) {
        return (lower ? this.toLowerCase() : this).replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
    };

    String.prototype.capitalizeFirst = function(word){
      return this.charAt(0).toUpperCase() + this.slice(1);
    };

    function __$(id){
        return document.getElementById(id);
    }
    function showControls(id){

        var target = $("#"+id);
        if(target.attr('disabled')){
           //alert(id);
        }else{
          $(".custom").hide();
          $("#" + id).show();
        }
    }
    function checkSpace(element){
          element.value = element.value.capitalizeFirst();
          element.style.border ="1px solid blue;"
    }
    function hit(id){
        var d = document.getElementById(id);
        d.onmousedown.apply(d);
        $(d).find("input").prop('checked', 'checked')
    }

    hit("person_details_radio");

    var selects = document.getElementsByTagName("select");
    for (var i = 0; i < selects.length; i++){
        var value = selects[i].getAttribute("load");
        jQuery(selects[i]).val(value);
    }

   var h = {}

    function checkConditions() {
        var conditionals = document.getElementsByClassName("conditional");
        for(var k = 0 in h){
            var node = document.getElementById(k);
            var parent = h[k][0];
            var value = h[k][1];
            if(document.getElementById(parent) && document.getElementById(parent).value != value){
                node.setAttribute('disabled', true);
                jQuery(node).val("");
            }else{
                node.removeAttribute('disabled');
            }
        }
    }

    /*
      * Enabling other fields for manner of death
      * Manner of death validation
    */
    var manner_fields ={}

    function enableOtherField(element,field){
        var accident_fields = ['motor_vehicle_driver','motor_vehicle_passenger','motor_vehicle','drowning','other_accidents','other_death_by_accident'];
        if(element.name == "manner_of_death"){
            manner_fields[element.name] = "Manner of death"
        }
        if(element.value.toLowerCase().trim() =="other"){
            __$(field).removeAttribute('disabled');
            __$(field).focus();
        }else if(element.value.toLowerCase().trim()=="accident"){
              __$(field).value = "";
              __$(field).setAttribute('disabled',"disabled");
              for(var i = 0 ; i < accident_fields.length ; i++){
                   manner_fields["accidents"] = "How the accidents occured"
                  __$(accident_fields[i]).removeAttribute('disabled');
              }
              return;
        }else{
              __$(field).value = "";
              __$(field).setAttribute('disabled',"disabled");
        }
        for(var i = 0 ; i < accident_fields.length && accident_fields.indexOf(field) < 0 ; i++){
                  if(manner_fields["accidents"]){
                    delete manner_fields["accidents"];
                  }
                  __$(accident_fields[i]).checked = false;
                  __$(accident_fields[i]).setAttribute('disabled',"disabled");
        }
    }

    function enableAutopsyCertication(value){
        if(value == 'Yes'){
            __$("autopsy_used_for_certificationY").removeAttribute('disabled');
            __$("autopsy_used_for_certificationN").removeAttribute('disabled');
        }else{
            $('input[name="autopsy_used_for_certification"]').removeAttr('checked');
            __$("autopsy_used_for_certificationY").setAttribute('disabled',"disabled");

            __$("autopsy_used_for_certificationN").setAttribute('disabled',"disabled");
        }
    }
    function validateManner(next_radio,next_div,radio_group){
        manner_keys = Object.keys(manner_fields);
        if(manner_keys.indexOf("manner_of_death") < 0){
              //console.log( manner_keys);
                showMessage("Manner of death validatons!",
              "Please select ("+(manner_fields["manner_of_death"]? manner_fields["manner_of_death"]: "Manner of death" )+")","");
                return;
        }
        hitNext(next_radio,next_div,radio_group)
    }
    /**************************************************************/
    /* Cause of death validations*/

    var cause_of_death_fields ={}
    cause_of_death_fields["cause_of_death1"] = true;

    function addCauseField(element){
        if (element.value.length > 0){
            cause_of_death_fields[element.name] = true;
        }else{
            delete cause_of_death_fields[element.name]
        }
    }
    function validatePrev(element){
        var name = element.name;
        var prevpos = parseInt(name.charAt(name.length-1)) - 1;
        var fields_map ={
                          "cause_of_death" : "Cause of Death ",
                          "icd_10_" : "ICD 10 ",
                          "onset_death_interval" : "Onset Death Interval",
                          "interval_unit" : "Interval Unit "
        }
        var feilds = ["cause_of_death","icd_10_","onset_death_interval","interval_unit"];
        for(var i = 0 ; i < feilds.length ; i++){
            if(__$(feilds[i]+prevpos) && __$(feilds[i]+prevpos).value.length == 0){
              var field = __$(feilds[i]+prevpos);
              if(field){
                showValidationMessage("Field empty !","Please fill the field ("+fields_map[feilds[i]]+" "+prevpos+") ",field);
              }
              return;

            }
        }
    }
    function changeToBorderGray(element){
        element.setAttribute("style",(element.getAttribute("style")? element.getAttribute("style")+";1px solid gray" : "1px solid gray"));
    }

    function checkPrimaryCause(next_radio,next_div,radio_group){
          if(__$("cause_of_death1").value.length == 0){
            showValidationMessage("Field empty !","Please fill the field primary cause of death",__$("cause_of_death1"));
            return;

          }
          var causes_keys = Object.keys(cause_of_death_fields);

          for(var i = 0 ; i < causes_keys.length ; i++){
                 var pos = parseInt(causes_keys[i].charAt(causes_keys[i].length-1));

                  var fields_map ={
                                    "cause_of_death" : "Cause of Death ",
                                    "icd_10_" : "ICD 10 ",
                                    "onset_death_interval" : "Onset Death Interval",
                                    "interval_unit" : "Interval Unit "
                  }
                  var fields = ["cause_of_death","icd_10_","onset_death_interval","interval_unit"];

                  for(var j = 0 ; j < fields.length ; j++){
                    if(__$(fields[j]+pos).value.length == 0){
                      var field = __$(fields[j]+pos);
                      if(field){
                        showValidationMessage("Field empty !","Please fill the field ("+fields_map[fields[j]]+" "+pos+") ",field);
                        return;
                      }
                      break;
                    }
                  }
           }
           hitNext(next_radio,next_div,radio_group);
    }
    function setRequired(element,pos){
          cause_of_death_fields[element.name] = true;
    }
    function checkIfNumber(element){
        var reg = /^\d+$/;
        var value = element.value;

        if(reg.test(value) || value.indexOf("-") >= 0){

        }else{

          $("#number_field").show();
          element.value = value.substring(0,value.length-1);

        }
        element.style.border ="1px solid blue;"
    }
    var interval = setInterval("checkConditions()", 200);

    /*Certifier validations*/
    function enableOtherCertifierFields(element,field,value){
      console.log(value);
       if(element.value.toLowerCase().trim() == value.toLowerCase().trim()){
            __$(field).removeAttribute('disabled');
            __$(field).focus();
        }else{
              __$(field).value = "";
              __$(field).setAttribute('disabled',"disabled");
        }
    }
    /***********************/

    /* Certifier validatetions */
    var certifier_fields = {
                  "certifier_signed" : ["",true],
                  "date_certifier_signed" : ["",false],
                  "certifier_first_name" : ["",true],
                  "certifier_last_name" : ["",true],
                  "certifier_license_number" : ["",true],
                  "position_of_certifier" : ["",true],
                  "other_position_of_certifier" : ["",false]
    }
    var certifier_fields_maps = {
                  "certifier_signed" : "Certifier signed ?",
                  "date_certifier_signed" : "Date certifier signed",
                  "certifier_first_name" : "Certifier first name" ,
                  "certifier_last_name" : "Certifier surname",
                  "certifier_license_number" : "MCM Registration No.",
                  "position_of_certifier" : "Designation of medical certifier",
                  "other_position_of_certifier" :"Other Designation of medical certifier"
    }

    function addCertifierFields(element){

          if(element.value.length > 0){
              certifier_fields[element.name] = [element.value, true]
              if(element.name =="certifier_signed" && element.value == "No"){
                  certifier_fields["date_certifier_signed"] = ["", false]
              }else{
                   certifier_fields["date_certifier_signed"] = ["", true]
              }
              if(element.name =="position_of_certifier" && element.value == "Other"){
                  certifier_fields["other_position_of_certifier"] = ["", true]
              }else{
                 certifier_fields["other_position_of_certifier"] = ["", false]
              }
          }else{
              if(element.name == "other_position_of_certifier" || element.name == "date_certifier_signed"){
                certifier_fields[element.name] = ["", false]
              }else{
                certifier_fields[element.name] = ["", true]
              }
          }
    }

    function validateCertifier(next_radio,next_div,radio_group){
        certifier_keys = Object.keys(certifier_fields);
        for(var i = 0 ; i < certifier_keys.length ; i++){
            if(__$(certifier_keys[i])){

              if(__$(certifier_keys[i]).value == 0 &&  certifier_fields[certifier_keys[i]][1]){
                    showValidationMessage("Some field(s) empty !","Please fill or select fields ("+certifier_fields_maps[certifier_keys[i]]+")",certifier_keys[i]);
                    return;
                }
            }else{
                if(certifier_fields[certifier_keys[i]][0].length == 0 && certifier_fields[certifier_keys[i]][1]){
                    showValidationMessage("Some field(s) empty !","Please fill or select fields ("+certifier_fields_maps[certifier_keys[i]]+")",certifier_keys[i]);
                    return;
                }
            }
        }
        hitNext(next_radio,next_div,radio_group)
    }

    /*** Validate ICD10 field**/
    function validateICD10Field(){

          if(__$('icd_10_code').value == 0){
               showValidationMessage("Field empty !","Please fill  (ICD Code)","icd_10_code");
               return;
          }

          var icd_10_regex = /[A-TV-Z][0-9][A-Z0-9](\.?[A-Z0-9]{0,4})?/

          var element = __$('icd_10_code')

          var value = element.value;

          if(icd_10_regex.test(value)){
                  element.style.borderColor = "#b6b5b5";
          }else{
                  showValidationMessage("Code Validation", "Invade ICD Code",element);
                  return;
          }

          document.getElementById('frm').submit()
    }

    $.getJSON("/cause_of_death_list",function(data){

            for(var i =  1 ; i <=5 && false ; i++){
                switch(i){
                     case 1:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death1%>",data)
                        break;
                    case 2:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death2%>",data)
                        break;
                    case 3:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death3%>",data)
                        break;
                    case 4:
                        makeselect2("cause_of_death"+i, "<%= @person.cause_of_death4%>",data)
                        break;
                     case 5:
                        makeselect2("cause_of_death_conditions",null,data)
                        break;
                }
            }
    });
    function makeselect2(id , value,data){
        $("#"+id).select2({
                tags: data,
                tokenSeparators: []
        }).select2('val', value);
    }
    $(document).ready(function(){

              var mindate = $.datepicker.formatDate('dd/mm/yy',new Date("<%= @person.date_of_death %>"));
              var maxdate =  $.datepicker.formatDate('dd/mm/yy',new Date());
             $('#date_certifier_signed').datepicker({ dateFormat: 'dd/mm/yy',minDate: mindate, maxDate: maxdate});
    });

    function loaCauseSummary(){
             var table_body = $("#cause_summary");
             for(var i = 0 ; i < 4 ; i++){
                  var tr = document.createElement("tr");
             }
    }

    function clearOnset(pos){
      var prevunit =  __$("interval_unit"+(pos - 1));
      var prev =  __$('onset_death_interval'+(pos-1));

      var currentunit = __$("interval_unit"+(pos));
      var current =  __$('onset_death_interval'+(pos));

      var unit_multiplier = {
                              "Second(s)" : 1,
                              "Minute(s)" : 60,
                              "Hour(s)"   : (60 * 60),
                              "Day(s)"    : (60 * 60 * 24),
                              "Week(s)"   : (60 * 60 * 24 * 7),
                              "Month(s)"  : (60 * 60 * 24 * 7 * 30),
                              "Year(s)"   : (60 * 60 * 24 * 7 * 30 * 365)
      }

      if(prev){
          if((parseInt(prev.value) * unit_multiplier[prevunit.value]) > (parseInt(current.value) * unit_multiplier[currentunit.value])){
                showValidationMessage("Field validation","Onset to death Interval <b>"+(pos -1)+"</b> is greater than Onset to death Interval <b>"+(pos)+"</b>","onset_death_interval"+(pos));
            return
          }
      }

      if($('#onset_death_interval'+pos).val().length > 0){
          var next = $("#icd_10_"+(pos));
          if(next){
              next.focus();
          }
      }else{
        $('#onset_death_interval'+pos).focus();
      }

    }
    function checkCauseFunction(next_radio,next_div){
        if(eval(__$('radioN').checked)== false && eval(__$('radioY').checked) == false){
            showMessage("Check question not responded !",
              "Please select Yes or No for the question ","");
            return;
        }

        if(__$('radioN') && eval(__$('radioN').checked)){
            showMessage("Message",
              "Section 2 for this form is not filled please proceed to next form","/nocause_available/<%=params[:person_id]%>");
        }else{
            var pending = ["HQ INCOMPLETE","HQ POTENTIAL INCOMPLETE",
                          "HQ CONFIRMED INCOMPLETE","HQ CONFLIT",
                          "HQ POTENTIAL DUPLICATE","HQ DUPLICATE"
                          ]
            var rejected = ["HQ REJECTED","HQ CONFIRMED DUPLICATE"]

            var inprocess = ["DC REAPPROVED","DC APPROVED","HQ COMPLETE", "DC REPRINT","DC AMENDED"]

            var available = ["HQ APPROVED","HQ REAPPROVED","HQ PRINT","HQ CLOSED","HQ DISPATCHED","HQ REPRINT"]
            if(available.indexOf(status) >= 0){
               /* var containers = $(".custom");
                for(var i = 0 ; i < containers.length; i++){
                    containers[i].removeAttribute('disabled');
                }
                for(var i = 2 ; i <= 5 ; i++){
                    $("#radio"+i).removeAttr("disabled");
                }*/
                __$(next_div).removeAttribute("disabled");
                __$(next_radio).removeAttribute("disabled");
                hit('cause_of_death_radio');
            }

            if(pending.indexOf(status) >= 0){
                showMessage("Message",
                "Record has issues so it id in pending queue to processed by NRB  check again after 5 days",
                "/search");
            }

            if(rejected.indexOf(status) >= 0){
                 showMessage("Message",
                "Record is rejected by NRB",
                "/search");
            }

            if(inprocess.indexOf(status) >= 0){
                 showMessage("Message",
                "Record is being processed by NRB check after 5 days",
                "/search");
            }
        }
    }

    function hitNext(next_radio,next_div,radio_group){
                __$(next_div).removeAttribute("disabled");
                __$(next_radio).removeAttribute("disabled");
                hit(radio_group);
    }

    function showMessage(title, message,link){
        window.scrollTo(0, 0);
        $("#shield").show();
        $("#messagebox").show();
        $("#title").html(title);
        $("#message").html(message);
        $
        if(link){
          $("#finish").attr("onclick","hideMessage(redirectTo('"+link+"'))");
        }
    }

    function showValidationMessage(title, message,field){
        window.scrollTo(0, 0);
        $("#shield").show();
        $("#fieldvalidation").show();
        $("#validationtitle").html(title);
        $("#validationmessage").html(message);
        if(field){
          $("#ok").attr("onclick", "hideAndFocus('"+field.id+"')");
          $("#close").attr("onclick", "hideAndFocus('"+field.id+"')");
        }
    }

    function hideAndFocus(field){
         $('#shield').css('display','none');
         if(__$(field)){
          __$(field).focus();
          __$(field).style.border = "1px solid red";
         }

    }

    function hideMessage(callBack){
        $('#shield').css('display','none');
        $("#finish").attr("onclick",hideMessage());
        if(callBack){
           callBack();
        }
    }

    function redirectTo(link){
        window.location.href = link;
    }

    var div_number = 1;

    function removeElement(id){
        $("#"+id).remove();
        div_number = div_number - 1;
    }

    function addEntry(){
        div_number = div_number + 1
        var control = $("#other_significant_cause_field")
        var tr = document.createElement("tr");
        tr.id = "other_significant_cause_div_"+div_number;
        control.append(tr);

        var td =  document.createElement("td");
        tr.appendChild(td);

        var input = document.createElement("input");
        input.name = "other_significant_cause["+div_number+"]";
        input.id = "other_significant_cause_"+div_number;
        input.className ="form-control"
        td.appendChild(input);

        var td = document.createElement("td");
        tr.appendChild(td);

        var input = document.createElement("input");
        input.name = "other_significant_cause["+div_number+"]";
        input.className ="form-control"
        input.id = "icd_10_"+div_number
        input.setAttribute("onfocus","activateICDValidate(this)");
        td.appendChild(input);

        var td = document.createElement("td");
        tr.appendChild(td)

        var i = document.createElement("i");
        i.className ="icon_minus_alt";
        i.setAttribute("onclick","removeElement('other_significant_cause_div_"+div_number+"')");
        td.appendChild(i);

    }

    var place_of_death = "<%= @person.place_of_death %>"
      if (place_of_death.length == 0){
        place_of_death ="<%= @person.place_of_death_foreign %>"
      }

        if(place_of_death.trim() == 'Home'){
          __$('home').checked = true
          __$('home').setAttribute('disabled','disabled');
          __$('facility').setAttribute('disabled','disabled')
          __$('other').setAttribute('disabled','disabled')
        }
        if(place_of_death.trim().toLowerCase().match('facility')){
          __$('facility').checked = true
          __$('home').setAttribute('disabled','disabled');
          __$('facility').setAttribute('disabled','disabled')
          __$('other').setAttribute('disabled','disabled')
        }
        if(place_of_death.trim().toLowerCase().match('Other')){
          __$('other').checked = true
          __$('home').setAttribute('disabled','disabled');
          __$('facility').setAttribute('disabled','disabled')
          __$('other').setAttribute('disabled','disabled')
        }

        function validateIDC10(element){
              var icd_10_regex = /[A-TV-Z][0-9][A-Z0-9](\.?[A-Z0-9]{0,4})?/
              var value = element.value;
              if(value.length == 0){
                  return;
              }
              if(icd_10_regex.test(value)){
                  element.style.borderColor = "#b6b5b5";
              }else{
                  showValidationMessage("Code Validation", "Invade ICD Code",element)
              }
        }

        function activateICDValidate(element){
              element.setAttribute("onblur","validateIDC10(this)");
        }

        function validateMCMNumber(element){
            var mcm_number_regex = /\MCM\/(\D{2})\/\d+/
            var value = element.value;

            if(mcm_number_regex.test(value)){
                  element.style.borderColor = "#b6b5b5";
            }else{
                  showValidationMessage("MCM Number validation", "Invade MCM Number",element)
            }
        }

        function acivateMCMValidation(element){
             element.setAttribute("onblur","validateMCMNumber(this)");
        }

        $(document).ready(function(){
             $("form").each(function(){
                  var inputs = $(this).find(':input') //<-- Should return all input elements in that specific form.
                  for(var i = 0 ; i <inputs.length ;i++){
                      var exclude_types = ['radio','hidden'];
                      if(exclude_types.indexOf(inputs[i].type) < 0 ){
                          inputs[i].setAttribute("onblur","changeToBorderGray(this)");
                      }
                  }
              });

             setInterval(function(){
                  $("#main-content").scrollTop();
             },2000);
        });
</script>
