<!DOCTYPE HTML>
<html>
  <head>
    <title>eDRS Death Certificate</title>
    <script>

      function loadFrameCSS(){
        jQuery("iframe").contents().find("body").css({
          "border": "1px solid gray",
          "width": "91%"
        })
      }

      function confirmPrint()
      {

        if (__$("frm")) {

          __$("frm").submit();
          
          selectPrinter();
        }
      }

      function selectPrinter(){
        __$("printer_name").value = '';
        $(".printer_radio_button").prop( "checked", false );//Uncheck printer
        $('#myModal').modal('show');
      }

      function updateValue(obj){
        obj.getElementsByTagName('input')[0].checked = true
        __$("printer_name").value = obj.getAttribute('value');
      }

      function submitForm(){
        if (__$("printer_name").value != ''){
          if (__$("frm")){
            __$("frm").submit();
          }
        }
        else{
          alert('No printer is selected')
        }
      }
    </script>
    <style>

      body {
        margin: 10px;
        -moz-user-select: none;
        font-family: "Nimbus Sans L", "Arial Narrow", sans-serif;
        margin: auto;
        color: #3465a4;
        font-size: 15px;
      }

      iframe{

        width: 98%;
        height: 98%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        border: 1px solid #000000;
      }

      .red{
        display: none !important;
      }

      .left-pane{
        border: 1px solid lightgray;
        padding: 5px;
        overflow-y: auto;
      }

      .data{
        text-align: left !important;
        font-style: italic;
        padding: 5px;
      }
      caption{
        font-size: 20px !important;
        padding: 5px;
        background-color: #c0c0c0;
      }
      table.details tr{
        border-bottom: 1px solid #000000;
      }
      table.details td{
        padding: 5px;
        text-align: right;
      }
      table.details {
        border-collapse: collapse;
        border: 1px solid #808080;
      }

      .btn {
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
        border-image: none;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        padding: 4px 12px;
        text-align: center;
        vertical-align: middle;
        min-width: inherit;
        min-height: 20px;
      }

      .btn-primary {
        background-color: #006dcc;
        background-image: linear-gradient(to bottom, #08c, #04c);
        background-repeat: repeat-x;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }
      .modal-header {
        border-bottom: 1px solid #eee;
        padding: 9px 15px;
        font-weight: bold !important;
      }
      .modal-footer {
        background-color: #f5f5f5;
        border-radius: 0 0 6px 6px;
        border-top: 1px solid #ddd;
        box-shadow: 0 1px 0 #fff inset;
        margin-bottom: 0;
        padding: 14px 15px 15px;
        text-align: right;
      }
      h1, h2, h3, h4, h5, h6 {
        color: inherit;
        font-family: inherit;
        font-weight: bold;
        line-height: 20px;
        margin: 10px 0;
        text-rendering: optimizelegibility;
      }
      .modal-dialog {
        margin: 70px auto;
        width: 600px;
      }

      .modal-header .close {
        margin-top: 2px;
      }
      button.close {
        background: transparent none repeat scroll 0 0;
        border: 0 none;
        cursor: pointer;
        padding: 0;
      }
      .close {
        min-width: inherit;
        min-height: inherit;
      }

      #printers tr:hover{
        background-color: #e6e6e6;
        cursor: pointer;
      }
    </style>
  </head>
  <body style="color: #000;">
    <div style="height:100%; overflow-y: hidden"> 
    <table style="height: 100%; width: 99.5%; padding-left: 0.5%;">
      <tr>
        <td style="width: 32%;vertical-align: top;">
          <div class="left-pane" style=" width: 100%;height: 98%;">
            <table style="width: 100%;" class="details">
             <caption>Registered Details</caption>
              <tr>
                <td style="width: 40%;">
              
                  First Name :
                </td>
                <td class="data">
                  <%= @person.first_name %>
                </td>
              </tr>

              <tr>
                <td>
                  Middle Name :
                </td>
                <td class="data">
                  <%= @person.middle_name %>
                </td>
              </tr>

              <tr>
                <td >
                  Last Name :
                </td>
                <td class="data">
                  <%= @person.last_name %>
                </td>
              </tr>

              <tr>
                <td>
                  Date of Birth :
                </td>
                <td class="data">
                  <%= @person.birthdate.strftime("%d/%b/%Y")%>
                </td>
              </tr>

              <tr>
                <td>
                  Sex :
                </td>
                <td class="data">
                  <%= @person['gender']%>
                </td>
              </tr>

              <tr>
                <td>
                  Date of Death :
                </td>
                <td class="data">
                  <%= @person[:date_of_death].to_date.strftime("%d/%b/%Y") %>
                </td>
              </tr>
              <tr>
                <td >
                  Hospital of Death :
                </td>
                <td class="data">
                  <%= @person.hospital_of_death %>
                </td>
              </tr>

              <tr>
                <td>
                  Village of Death :
                </td>
                <td class="data">
                  <%= @person.place_of_death_village rescue nil %>
                </td>
              </tr>

              <tr>
                <td>
                  TA of Death :
                </td>
                <td class="data">
                  <%= @person.place_of_death_ta rescue nil %>
                </td>
              </tr>

              <tr>
                <td>
                  District of Death :
                </td>
                <td class="data">
                  <%= @person.place_of_death_district %>
                </td>
              </tr>
              
              
              <tr>
                <td >
                  Mother First Name :
                </td>
                <td class="data">
                  <%= @person[:mother_first_name] %>
                </td>
              </tr>
              
              <tr>
                <td >
                  Mother Middle Name :
                </td>
                <td class="data">
                  <%= @person[:mother_middle_name] rescue "N/A" %>
                </td>
              </tr>

              <tr>
                <td >
                  Mother Last Name :
                </td>
                <td class="data">
                  <%= @person[:mother_last_name] rescue "N/A" %>
                </td>
              </tr>

              <tr>
                <td >
                  Father First Name :
                </td>
                <td class="data">
                  <%= @person[:father_first_name] rescue "N/A" %>
                </td>
              </tr>

              <tr>
                <td >
                  Father Middle Name :
                </td>
                <td class="data">
                  <%= @person[:father_middle_name] rescue "N/A"%>
                </td>
              </tr>

              <tr>
                <td >
                  Father Last Name :
                </td>
                <td class="data">
                  <%= @person[:father_last_name] rescue "N/A"%>
                </td>
              </tr>
                         
            </table>
          </div>
        </td>
        
        <td style="height: 80%;width:60%;vertical-align: top;">
          <iframe src="/hq/death_certificate_preview?id=<%= @person.id %>"></iframe>
        </td>
        
      </tr>
      <tr>
        <td colspan="2">
          <div onclick='window.parent.location="<%= @targeturl%>"' id="btnFinish" class="btn btn-default pull-right btn-success"
               style="margin-bottom: 15px;  margin-left: 18px; margin-right: 18px;">Finish</div>
          <div
          onclick= "onclick=loadPopup('printers')" class="btn btn-default pull-right btn-primary"><span>Print</span></div>
        </td>
      </tr>
    </table>
    
    <%= form_tag("/hq/do_print_these", "method" => "post", "id" => "frm") do %>
      <input type="hidden" id="selected" name="selected" value="<%=  @person.id%>"/>
      <input type="hidden" id="printer_name" name="printer_name" value=""/>
    <% end %>
   </div>
  </body>

  <div class="" id="printers">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header btn-primary" >
          <button type="button" class="close"  onclick="__$('printers').style.display = 'none'">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">Select a printer</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-12">
              <table class="table table-condensed table-striped table-hover">
                <tbody>
                <% @available_printers.each do |printer| %>
                    <tr onmousedown="updateValue(this)" value="<%= printer %>" class="table-row" style="cursor: pointer">
                      <td class="table-cell"><input type="radio" class="printer_radio_button" value="<%= printer %>" name="printer_name"/></td>
                      <td class="table-cell" style="text-align: left; padding-left:50px;"><%= printer %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="__$('frm').submit()" > Print </button>
              <button type="button" class="btn btn-default" onclick="__$('printers').style.display = 'none'" > Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <style>
      #completeness, #printers{
          position : absolute;
          left: 30%;
          top: 15%;
          display: none;
      }
  </style>


  <script>
      function loadPopup(id){
          __$(id).style.display = "block";
      }

      function __$(id){
          return document.getElementById(id);
      }

      function ___$(clas){
          return document.getElementsByClassName(clas)[0];
      }

      function updateValue(obj){
          obj.getElementsByTagName('input')[0].checked = true
          __$("printer_name").value = obj.getAttribute('value');
      }

      function selectPrinter(){
          __$("printer_name").value = '';
          $(".printer_radio_button").prop( "checked", false );
      }

      function ajaxChange(status){
          $.ajax({
              url: "/ajax_change_status?next_status=" + status + "&person_id=<%=params['person_id']%>",
              success: function(feedback){
                  window.parent.location = "<%= request.referrer%>";
              },
              error: function(error){
                  alert("Something went wrong");
              }
          })
      }

      function ajaxify(route, btn){
          $.ajax({
              url: route + "&person_id=<%=params['person_id']%>",
              success: function(feedback){
                  window.parent.location = "<%= request.referrer%>";
              },
              error: function(error){
                  alert("Something went wrong");
              }
          })
      }
    </script>
</html>


