
<style>
    .table-cell{
        width: 50%;
        padding: 4px;
        padding-left: 30px !important;
        color: darkslategray;
    }
    .btn{
        min-width: 100px;
        margin-left: 10px;
    }
    .dynamic-button{
        margin-left: 15px;
        margin-right: 25px;
    }
    .summary{

        margin-bottom: 1%;

    }
    .summary td {

        background: #ffffff;
        text-align: left !important;
        padding: 5px;
        padding-left: 10px;
        border: 1px solid lightslategrey;
        color: #344351


    }

    .summary th{

         background: #344351;

         color: #ffffff;

         border : 1px solid #424244;

         padding: 0.5em;

         text-align: center
    }
    .clickable{

        font-weight: bold;
    }
    th{
        padding: 8px;
    }

     #shield{
      position: absolute;
      width: 100% !important;
      height: 100% !important;
      left: 0px;
      top: 0px;
      background: rgba(128,128,128,0.35);
      z-index: 1050;
      display: none;
    }
    .modal-body{
      background: #ffffff;
    }

    #wrong_modal, #correct_modal{
      position : absolute;
      left: 30%;
      top: 13.5%;
      display: none;
      z-index: 4000
  }

  #final_result_modal,#edit_code{
      position : absolute;
      left: 30%;
      top: 13.5%;
      display: none;
      z-index: 4000
  }

  #decision_modal{
      display: none;
      z-index: 4000
  }

  #decision{
    border: 1px solid gray;
  }
  
  #decision th {
      background-color: #6281a7;
      color:#ffffff;
      border: 1px solid gray;
      text-align: center;
  } 
  #decision td {
      border: 1px solid gray;
      text-align: center;
  } 

  #result_modal{
      position : absolute;
      display: none;
      z-index: 4000;
      left: 30%;
      top: 13.5%;
  }
</style>
<script type="text/javascript">
      var results = {}
</script>
<% if params[:index].present? &&  @sample.final_result.blank? %>
    <div class="row">
        <span class="pull-right" style="width: 20%; height : 30px ; background:#6281a7; color:#ffffff; text-align:center;padding:0.5%;margin-right:2%; font-weight:bold">
          Reviewing <%= params[:index].to_i + 1 %> / <%= @sample.sample.count %>
        </span>
    </div>
<%else%>
<%end%>
<div id="main" >
  <div style="height: 535px; overflow: auto;padding: 0px; margin:0px;">
    <%= render :partial => "section2" %>
  </div>
  <div class="table-container-footer" style="padding: 0px;margin-bottom: 0px;">
    <table class="table table-striped table-hover table-condensed table-bordered">
      <tfoot>
      <tr>
        <th colspan="2" style="padding-left: 10px !important;">
       
       		<% if (@sample.sample.count-1 ) == params[:index].to_i %>
	       		<div onclick= ""
	                 class="dynamic-button btn btn-small btn-default pull-right btn-primary hidden "><span>Finish</span>
	            </div>
            <%end%>
            <% if @sample.final_result.blank? %>
              <div onclick= "makeDecision()"
                 class="dynamic-button btn btn-small btn-default pull-right btn-success"><span>Review</span>
            </div>
            <% if false %>
            <div onclick= "correct()"
                 class="dynamic-button btn btn-small btn-default pull-right btn-success"><span>Correct ICD Code</span>
            </div>
            <div onclick= "wrong()" class="dynamic-button btn btn-small btn-default pull-right btn-danger"><span>Wrong ICD Code</span>
            </div>
            <%end%>
            <%end%>
 
            <div onclick= "window.parent.location = '/search'"
                 class="dynamic-button btn btn-small btn-default pull-left btn-danger"><span>Cancel</span></div>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div id="shield">
	<div class="" id="wrong_modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header btn-primary">
	        <h4 class="modal-title" id="wrong_modal_title">Change ICD 10</h4>
	      </div>
	      <div class="modal-body">

	        <div class="row">
	          <div class="col-lg-12">

	            <div class=" form-group">
	              <div class="container">
	                <div class="row" style="width: 550px;">
	                    <div style="width: 100%;margin-top: 20px;border-top: 1px solid #d3d3d3">
	                        <form id="comment-form" action="/save_mark">
	                        	<div class="form-group">
								  <label for="usr">Change ICD Code:</label>
								  <input type="text" class="form-control" id="icd_10_code"
								  style="width: 50%;margin-top: 4px;margin-bottom: 4px;" required>
								</div>
								<div class="form-group hidden">
									<label for="usr">Comment:</label>
									<textarea class="form-control" name="comment" placeholder="Add Comment" id="comment" style="width: 98%;margin-top: 4px;margin-bottom: 4px;" required></textarea>
								</div>
								<input type="hidden" name="decision" id="decision">
								<input type="hidden" name="sample_id" value="<%=params[:id]%>">
								<input type="hidden" name="index" value="<%= params[:index] %>">
								<input type="hidden" name="person_id" value="<%=@person.id%>">
	                        </form>
	                    </div>
	                  </div>
	              </div>
	            </div>
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-sm btn-default pull-left" onclick="__$('wrong_modal').style.display = 'none';hideModal()" > Close </button>
	            <button id="action_wrong_proceed" type="button" class="btn btn-sm btn-success" > Proceed to Next Record </button>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="" id="correct_modal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header btn-primary">
	        <h4 class="modal-title" id="correct_modal_title">ICD Code Correct</h4>
	      </div>
	      <div class="modal-body">

	        <div class="row">
	          <div class="col-lg-12">
	          		Please click 'Next' to proceed to next record
	          </div>
	          <div class="modal-footer">
	            <button type="button" class="btn btn-sm btn-default pull-left" onclick="__$('correct_modal').style.display = 'none';hideModal()" > Close </button>
	            <button id="action_correct_proceed" type="button" class="btn btn-sm btn-success" >Next</button>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>

  <div class="" id="result_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header btn-primary">
          <center>
              <h4 class="modal-title" id="result_modal_title">Results from the sampled</h4>
          </center>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-12" id="review_result">
                
            </div>
            <div class="modal-footer">
              <button type="button" onclick="finalReview()" class="btn btn-sm btn-success" >OK</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="" id="decision_modal" style="width:90%;margin-left:5%;margin-top:3%">
    <div class="modal-dialog" style="width:100%">
      <div class="modal-content">
        <div class="modal-header btn-primary">
          <center><h4 class="modal-title" id="decision_modal_title">Record review</h4></center>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-12">
                <table style="width:98%;margin:auto;" id="decision">
                      <tr>
                          <th rowspan="2"></th>
                          <th rowspan="2">Condition</th>
                          <th rowspan="2">Time between onset and death</th>
                          <th rowspan="2">Coder's ICD Code</th>
                          <th colspan="2">Supervisor's decision</th>
                          <th rowspan="2">Supervisor's ICD code</th>
                          <th rowspan="2">Supervisor's Reason</th>
                          <th rowspan="2">Final ICD Code</th>
                      </tr>
                      <tr>
                          <td>Wrong</td>
                          <td>Correct</td>
                      </tr>
                      <tr>
                          <td>a.</td>
                          <td><%= @person.cause_of_death1 %></td>
                          <td><%= @person.onset_death_interval1 rescue "" %></td>
                          <td id="code_1"><%= @person.icd_10_1 rescue "" %></td>
                          <td>
                              <input type="radio" name="icd_10_1_decision" id="icd_10_1_wrong" onclick="activateCode(this,1);addResult(this,1)"> 
                          </td>
                          <td>
                              <input type="radio" name="icd_10_1_decision" id="icd_10_1_correct" onclick="activateCode(this,1);addResult(this,1)">
                          </td>
                          <td><input type="" name="icd_10_1_review" id="icd_10_1_reviewed" class="form-control" disabled="true" onkeyup="fillFinal(1)"></td>
                          <td>
                              <input type="" name="reason_icd_10_1_changed" id="reason_icd_10_1_changed" class="form-control" disabled="true">
                          </td>
                          <td id="final_1"></td>
                      </tr>
                      <%if @person.cause_of_death2.present? %>
                      <tr>
                          <td>b.</td>
                          <td><%= @person.cause_of_death2 %></td>
                          <td><%= @person.onset_death_interval2 rescue "" %></td>
                          <td id="code_2"><%= @person.icd_10_2 rescue "" %></td>
                          <td>
                              <input type="radio" name="icd_10_2_decision" id="icd_10_2_wrong" onclick="activateCode(this,2);addResult(this,2)"> 
                          </td>
                          <td>
                              <input type="radio" name="icd_10_2_decision" id="icd_10_2_correct" onclick="activateCode(this,2);addResult(this,2)">
                          </td>
                          <td><input type="" name="icd_10_2_review" id="icd_10_2_reviewed" class="form-control" disabled="true" onkeyup="fillFinal(2)"></td>
                          <td>
                              <input type="" name="reason_icd_10_2_changed" id="reason_icd_10_2_changed" class="form-control" disabled="true">
                          </td>
                          <td id="final_2"></td>
                      </tr>
                      <%end%>
                      <%if @person.cause_of_death3.present? %>
                      <tr>
                          <td>c.</td>
                          <td><%= @person.cause_of_death3 %></td>
                          <td><%= @person.onset_death_interval3 rescue "" %></td>
                          <td id="code_3"><%= @person.icd_10_3 rescue "" %></td>
                          <td>
                              <input type="radio" name="icd_10_3_decision" id="icd_10_3_wrong" onclick="activateCode(this,3);addResult(this,3)"> 
                          </td>
                          <td>
                              <input type="radio" name="icd_10_3_decision" id="icd_10_3_correct" onclick="activateCode(this,3);addResult(this,3)">
                          </td>
                          <td><input type="" name="icd_10_3_review" id="icd_10_3_reviewed" class="form-control" disabled="true" onkeyup="fillFinal(3)"></td>
                          <td>
                              <input type="" name="reason_icd_10_3_changed" id="reason_icd_10_3_changed" class="form-control" disabled="true">
                          </td>
                          <td id="final_3"></td>
                      </tr>
                      <%end%>
                      <%if @person.cause_of_death4.present? %>
                      <tr>
                          <td>d.</td>
                          <td><%= @person.cause_of_death4 %></td>
                          <td><%= @person.onset_death_interval4 rescue "" %></td>
                          <td id="code_4"><%= @person.icd_10_4 rescue "" %></td>
                          <td>
                              <input type="radio" name="icd_10_4_decision" id="icd_10_4_wrong" onclick="activateCode(this,4);addResult(this,4)'"> 
                          </td>
                          <td>
                              <input type="radio" name="icd_10_4_decision" id="icd_10_4_correct" onclick="activateCode(this,4);addResult(this,4)">
                          </td>
                          <td><input type="" name="icd_10_4_review" id="icd_10_4_reviewed" class="form-control" disabled="true" onkeyup="fillFinal(4)"></td>
                          <td>
                              <input type="" name="reason_icd_10_4_changed" id="reason_icd_10_4_changed" class="form-control" disabled="true">
                          </td>
                          <td id="final_4"></td>
                      </tr>
                      <%end%>
                      <% @other_causes_keys = @person.cause_of_death_conditions.keys rescue [] %>
                      <% if @other_causes_keys.present?%>
                          <tr><th colspan="9">Other significant causes of death</th></tr>
                      <%end%>
                      <% @other_causes_keys.each do |key| %>
                          <tr>
                              <td><%=key%></td>
                              <td colspan="2"><%= @person.cause_of_death_conditions[key]["cause"] %></td>
                              <td id="code_<%= key%>i"><%= @person.cause_of_death_conditions[key]["icd_code"] %></td>
                              <td>
                                  <input type="radio" name="icd_10_<%= key%>i_decision" id="icd_10_<%= key%>i_wrong" onclick="activateCode(this,'<%= key%>i');addResult(this,'<%= key%>i')">
                              </td>
                              <td>
                                  <input type="radio" name="icd_10_<%= key%>i_decision" id="icd_10_<%= key%>i_correct" onclick="activateCode(this,'<%= key%>i');addResult(this,'<%= key%>i')">
                              </td>
                              <td>
                                  <input type="" name="icd_10_<%= key%>i_review" id="icd_10_<%= key%>i_reviewed" class="form-control" disabled="true" onkeyup="fillFinal('<%= key%>i')">
                              </td>
                              <td>
                                  <input type="" name="reason_icd_10_<%= key%>i_changed" id="reason_icd_10_<%= key%>i_changed" class="form-control" disabled="true">
                              </td>
                              <td id="final_<%=key%>i"></td>
                          </tr>
                      <%end%>
                      <tr>
                        <th colspan="2"></th>
                        <th>Coder's ID Code</th>
                        <th>Coder's Reason for Changing</th>
                        <th colspan="2">Supervisor's decision</th>
                        <th>Supervisor's ID Code</th>
                        <th>Supervisor's Reason for Changing</th>
                        <th>Final Code</th>
                      </tr>
                      <tr>
                          <td colspan="2">Tentative Code</td>
                          <td id="tentative_code_of_coder"><%= @person_icd_code.tentative_code rescue "" %></td>
                          <td ><%= @person_icd_code.reason_tentative_differ_from_underlying rescue "" %></td>
                          <td>
                            <input type="radio" name="tentative_code" id="tentative_code_reviewed_wrong" onclick="addFinalResults(this)">
                          </td>
                          <td>
                              <input type="radio" name="tentative_code" id="tentative_code_reviewed_correct" onclick="addFinalResults(this)">
                          </td>
                          <td>
                              <input type="" name="tentative_code_reviewed" id="tentative_code_reviewed" class="form-control" disabled="true" onkeyup="fillFinalCodes(this,'tentative_code')">
                          </td>
                          <td>
                              <input type="" name="reason_tentative_code_changed" id="reason_tentative_code_changed" class="form-control" disabled="true" onkeyup="fillFinalCodes(this)" >
                          </td>
                          <td id="tentative_code"></td>
                      </tr>
                      <tr>
                          <td colspan="2">Final Code</td>
                          <td id="final_code_of_coder"><%= @person_icd_code.final_code rescue ""%></td>
                          <td><%= @person_icd_code.reason_final_differ_from_tentative rescue ""%></td>
                          <td >
                              <input type="radio" name="final_code" id="final_code_reviewed_wrong" onclick="addFinalResults(this)">
                          </td>
                          <td >
                              <input type="radio" name="final_code" id="final_code_reviewed_correct" onclick="addFinalResults(this)">
                          </td>
                          <td>
                              <input type="" name="final_code_reviewed" id="final_code_reviewed" class="form-control" disabled="true" onkeyup="fillFinalCodes(this,'final_code')">                             
                          </td>
                          <td>
                              <input type="" name="reason_final_code_changed" id="reason_final_code_changed" class="form-control" disabled="true" onkeyup="fillFinalCodes(this)" >
                          </td>
                          <td id="final_code"></td>
                      </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default pull-left" onclick="__$('decision_modal').style.display = 'none';hideModal()" > Close </button>
              <button id="action_correct_proceed" type="button" class="btn btn-sm btn-success" onclick="saveReview()" >Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" id="edit_code">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header btn-primary">
          <h4 class="modal-title" id="correct_modal_title">Edit Incorrect ICD Code</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-12">
                <input type="" name="code" id="code" class="form-control">
                <input type="hidden" name="" id="field" >
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-sm btn-default pull-left" onclick="__$('edit_code').style.display = 'none';hideModal()" > Close </button>
              <button onclick="updateCode()" type="button" class="btn btn-sm btn-success" >Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% if @sample.final_result.present? %>
  <script type="text/javascript">
     $(document).ready(function(){
          $("#shield").show()
     })
  </script>
  <div class="" id="final_result_modal">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header btn-primary">
            <h4 class="modal-title" id="final_result_modal_title">Final Score</h4>
          </div>

          <div class="modal-body">
              <div class="row">
                  <div class="col-lg-12" style="text-align:center; font-size:1.2em">
                      The final percent score for<br/>
                      <b> <%= User.find(@sample.coder_id).first_name %> <%= User.find(@sample.coder_id).last_name %></b>
                      <br/><%= @sample.final_result.to_f.round(2)%> %
                  </div>
              </div>
              <div class="modal-footer">
                  <button id="final_result_modal_finish" onclick="window.location='/sampled_cases'" class="btn btn-sm btn-success" >Finish</button>
              </div>
          </div>

      </div>
    </div>
  </div>
  <%end%>
</div>
<script type="text/javascript">

	  function __$(id){
	  		return document.getElementById(id);
	  }

	  function hideModal(){
        var modals = $("#shield")[0].getElementsByTagName("div");
        for(var i = 0 ; i < modals.length ; i++){
            if (modals[i].id.match("modal")) {
                modals[i].style.display = "none";
            }
        }
        $("#shield").css('display','none')
      }

	  function wrong(){
        $("#shield").show()
        __$("wrong_modal").style.display = "block";
        __$("wrong_modal_title").innerHTML = "ICD Code Correct";
        __$("decision").value = "wrong"
        var action_bt = __$("action_wrong_proceed")
        action_bt.onmousedown = function(){
        	submitForm();
        }
      }
      function submitForm(){
      		var code = __$("icd_10_code").value
      		if(code.length == 0){
      			__$("icd_10_code").focus();
      			__$("icd_10_code").style.border = "1px solid red";
      			return;
      		}
      		__$("comment-form").submit()

      }

	  function correct(){
        $("#shield").show()
        __$("correct_modal").style.display = "block";
        __$("correct_modal_title").innerHTML = "ICD Code is correct";
        var action_bt = __$("action_correct_proceed")
        action_bt.onmousedown = function(){
        	window.location = '/save_mark?sample_id=<%=params[:id]%>&decision=correct&index=<%= params[:index] %>&person_id=<%=@person.id%>'
        }
      }
  function editCode(element){
    $("#shield").show()
    __$("edit_code").style.display = "block";
    __$("code").value = ""
    __$("field").value = element;
  }

  function updateCode(){
    var person_id = "<%= @person.id %>";
    var code = __$("code").value
    if (code.length == 0) {
        __$("code").style.border = "1px solid red"
    }else{
        $.get("/edit_icd_code?id=<%=@person.id%>&code="+code+"&field="+__$("field").value,function(result){
            if (result == "success") {
               window.location.reload();
            }
        })
    }
    
  }
  function activateCode(element,position){

      if (element.id =="icd_10_"+position+"_wrong") {
          __$("icd_10_"+position+"_reviewed").removeAttribute("disabled");
          __$("reason_icd_10_"+position+"_changed").removeAttribute("disabled");
      }else{
          __$("icd_10_"+position+"_reviewed").setAttribute("disabled","true");
          __$("icd_10_"+position+"_reviewed").value = ""
          __$("reason_icd_10_"+position+"_changed").setAttribute("disabled","true");
          __$("reason_icd_10_"+position+"_changed").value = "";
      }

  }
  function fillFinal(position){
      __$("final_"+position).innerHTML = __$("icd_10_"+position+"_reviewed").value;
      results["icd_10_"+position+"_reviewed"]["code"] = __$("icd_10_"+position+"_reviewed").value
  }


  function addResult(element,position){
      if (element.id.match("correct")) {
          results["icd_10_"+position+"_reviewed"] = {"code": "", "result" : 1}
          __$("final_"+position).innerHTML = __$("code_"+position).innerHTML;
          results["icd_10_"+position+"_reviewed"]["code"] = __$("code_"+position).innerHTML;;
      }else{
          results["icd_10_"+position+"_reviewed"] = {"code": "", "result" : 0}
           __$("final_"+position).innerHTML = ""
      }
  }
  function addFinalResults(element){
        if (element.id.match("correct")){
            results[element.name+"_reviewed"] = __$(element.name+"_of_coder").innerHTML.trim();
            __$(element.name).innerHTML = __$(element.name+"_of_coder").innerHTML.trim();

            __$(element.name + "_reviewed").value = "";
            __$(element.name + "_reviewed").setAttribute("disabled","true");

            __$("reason_"+element.name+"_changed").value = "";
            __$("reason_"+element.name+"_changed").setAttribute("disabled","true");
        }else{
          __$(element.name).innerHTML = ""
          __$(element.name + "_reviewed").value = ""
          __$(element.name + "_reviewed").removeAttribute("disabled");
           __$(element.name + "_reviewed").focus();
          __$("reason_"+element.name+"_changed").removeAttribute("disabled");
        }
  }

  function fillFinalCodes(element,target){
      results[element.name] = element.value
      if (target) {
        __$(target).innerHTML = element.value;
      }
  }
  function makeDecision(){
           $("#shield").show();
           __$("decision_modal").style.display ="block";

  }
  function saveReview(){
      results["id"] = "<%= @person.id %>";
        $.get("/hq/save_review",results, function(data){
              if (data =="ok") {
                  if (parseInt("<%= (params[:index].to_i + 1) %>") == parseInt("<%= @sample.sample.count %>")) {
                      $.get("/results/<%= @sample.id %>",function(result){
                          hideModal();
                          $("#shield").show()
                          __$("result_modal").style.display = "block";
                          __$("review_result").innerHTML = "<center>"+result+" % </center>";
                      });
                  }else{
                    window.location = "/review/<%= params[:id] %>?index=<%= (params[:index].to_i + 1) % @sample.sample.count %>";
                  }
              }
        });

  }

  function finalReview(){
     window.location = "/finalizereview/<%= @sample.id %>"
  }
</script>