<link href="/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<div style="background-color: rgb(98, 129, 167); color: rgb(238, 238, 238); padding: 1px;"><h4 align="center">   Causes Of Death Report  <br/>

</h4></div>
<form method="get" action="/causes_of_death">
<table>
                <tr>
                  <td><input type="checkbox" name="" onclick="enable(this,['district'])"></td>
                  <td>Select District: </td>
                  <td>
                      <select class="form-control" id="district" name = "district" style="border-radius: 0px; " required="true" disabled>
                                            <option></option>
                                          <% District.all.collect{|d| d.name}.sort.each do |name| %>
                                            <option><%= name%></option>
                                          <%end%>                                               
                                          </select>
                                    </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" onclick="enable(this,['start_date','end_date'])"></td>
                        <td>Date died</td>
                        <td></td>
                        <td style="text-align: right;">Start date</td>
                        <td><input type="" class="form-control" name="start_date" id="start_date" 
                                  value="<%= params[:start_date].present?? Time.parse(params[:start_date]).strftime('%Y-%m-%d') : ''%> " disabled></td>
                        <td style="text-align: right;">End date</td>
                        <td><input type="" class="form-control" name="end_date" id="end_date" 
                              value="<%= params[:end_date].present?? Time.parse(params[:end_date]).strftime('%Y-%m-%d') : ''%> " disabled></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" onclick="enable(this,['age_operator','start_age','end_age'])"></td>
                        <td >Select age</td>
                        <td>
                            <select class="form-control" name="age_operator" id="age_operator" style="border-radius: 0px; " onchange="enableAge(this)" disabled>
                              <option>=</option>
                              <option><</option>
                              <option><=</option>
                              <option>></option>
                              <option>=></option>
                              <option>=> Age <=</option>
                            </select>
                        </td>
                        <td style="text-align: right;" id="start_age_label">Age</td>
                        <td><input type="number" id="start_age" name="start_age" class="form-control" min=0 max=130  disabled></td>
                        <td style="text-align: right; visibility: hidden;" id="end_age_label">End Age</td>
                        <td style="text-align: right; visibility: hidden;" ><input type="number" name="end_age" id="end_age" min= 0 class="form-control" max=130 disabled></td>
                    </tr>
                    <tr>
                      <td><input type="checkbox" name="" onclick="enable(this,['autopsy_yes','autopsy_no'])"></td>
                      <td>Autopsy Requested</td>
                      <td>
                          <div class="radio radio-primary" onmousedown="">
                            <input type="radio" name="autopsy_requested" id="autopsy_yes" value="Yes" disabled>
                            <label for="autopsy_yes">Yes</label>
                          </div>
                      </td>
                      <td>
                          <div  class="radio radio-primary" onmousedown="">
                            <input type="radio" name="autopsy_requested" id="autopsy_no"  value="No" disabled>
                            <label for="autopsy_no">No</label>
                          </div>
                      </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td ></td>
                        <td></td>
                        <td style="text-align: right;"></td>
                        <td></td>
                        <td ></td>
                        <td style="text-align: right;">
                          <button class="btn btn-success">Load Data</button>
                        </td>
                    </tr>

    </table>
    </form>

<div style="background: white">

<table id="report">
  <thead>
    <tr style="background-color: rgb(98, 129, 167)">
      <th style="color: rgb(238, 238, 238)">Final ICD Code</th>
      <th style="color: rgb(238, 238, 238)">Male</th>
      <th style="color: rgb(238, 238, 238)">Female</th>
      <th style="color: rgb(238, 238, 238)">Total</th>
    </tr>
  </thead>
  <tbody>
  <% @data_codes.each do |code| %>
      <tr>
          <td><%= code %></td>
          <td><%= @data[code]['Male']%></td>
          <td><%= @data[code]['Female']%></td>
          <td><%= (@data[code]['Male'] + @data[code]['Female']) %></td>
      </tr>
  <%end%>
  </tbody>
</table>
</div>
<div style="position: fixed; bottom: 2%; right: 2%; background: #ffffff" >
    <button id="print_btn" class="btn btn-success pull-right"  onclick="downloadCSV()">DownLoad CSV</button> 
</div>
<script src="assets/jquery-ui/jquery-ui.min.js"></script>
<script src="/select2/select2.full.min.js"></script>
<script type="text/javascript">
  var dataTable = null;
  $(document).ready(function(){
      $('#start_date').datepicker({ dateFormat: 'yy-mm-dd', maxDate: $.datepicker.formatDate('yy-mm-dd',new Date())});
      $('#end_date').datepicker({ dateFormat: 'yy-mm-dd', maxDate: $.datepicker.formatDate('yy-mm-dd',new Date())});

       dataTable = $('#report').dataTable({
                  "pageLength": 10,
                  "autoWidth": true,
                  "lengthChange": true,
                  "order": [[ 3, "desc" ]]
                });
  })
  function enable(element, elements){

    for(var i = 0 ; i < elements.length ; i++ ){
      if(element.checked){
        $("#"+elements[i]).removeAttr("disabled")
      }else{
        $("#"+elements[i]).attr("disabled","disabled")
      }
    }
  }
  function enableAge(element){
    if (element.value == "=> Age <="){
      $("#start_age_label").html("Start Age")
      $("#end_age_label").html("End Age");
      $("#end_age_label").css({"visibility":"visible"})
      $("#end_age").css({"visibility":"visible"})
    }else{
      $("#start_age_label").html("Age")
      $("#end_age_label").css({"visibility":"hidden"})
      $("#end_age").css({"visibility":"hidden"})
    }
  }
</script>