<script type="text/javascript">
	var start_date = "<%= params[:start_date] rescue ''%>";
	var end_date = "<%= params[:end_date] rescue ''%>";
	var time_line = "<%= params[:time_line] %>";
</script>
<link href="/assets/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<script src="/assets/jquery-ui/jquery-ui.min.js"></script>
<script src="/select2/select2.full.min.js"></script>
<style type="text/css">
    table{
        color: darkslategray;
    }
	#report{
		width :100%;
		font-size: 1.4em;
		border-collapse: collapse;
        overflow: auto;

	}

	#report tr:nth-child(odd){
		background: #dcdbdb;

	}

	#report td, #report th {
		border : 1px solid lightgray;
		padding: 1em;
	}

	#report th {
		background: #4c79a3;
		color:#ffffff;
	}

	#statuses{
		list-style: none
	}
	#statuses li {
		font-size: 1.5em;
		display:  block;
		padding: 0.6em;
		border-bottom: 1px dotted lightgray;
	}

	#statuses li:hover {
		background: #9ec6e2;
	}
	#containt{
		height: calc(100-10px) !important;
	}

	#time_line{
		font-size: 1.2em;
		min-width: 100px;
		background: #dcdbdb;
		padding: 1%;
		border-radius: 1px;
		border: 1px solid lightgray;
	}

    #status{
        font-size: 1.2em;
        min-width: 100px;
        background: #dcdbdb;
        padding: 1%;
        border-radius: 1px;
        border: 1px solid lightgray;
    }


    #district{
        font-size: 1.2em;
        min-width: 100px;
        background: #dcdbdb;
        padding: 1%;
        border-radius: 1px;
        border: 1px solid lightgray;
    }
    #table{
        font-size: 1em;
        color: darkslategray;
    }
    #table th{
        border: 1px solid #6281a7;
        background-color: rgb(98, 129, 167);
        width: 2%;
        color: rgb(238, 238, 238);
        padding: 0.5em;
    }
    #table td{
       border: 1px solid #d3d3d3;
       padding: 0.6em;
    }

    .cat{
      font-weight: bold;
    }
    .mintable{
      width: 100%; 
      border:none;
      border-collapse: collapse;
    }
    .mintable td, .mintable th{
        width: 33.33333% !important;
        text-align: right;
        padding-right: 10%;
    }
    .clickable{
		list-style: none;
		margin-right:2em;
	}
	.clickable li {
		font-size: 1.3em;
		display:  block;
		padding: 0.4em;
		border-bottom: 1px dotted lightgray;
	}

	.clickable li:hover {
		background: #9ec6e2;
	}
</style>
<div style="background-color: rgb(98, 129, 167); color: rgb(238, 238, 238); padding: 1px; margin-bottom:2%"><h4 align="center">  By place of Death <br/>

</h4>
</div>
<table style="width:95%">
                    <tr>
                        <td><input type="checkbox" name="" onclick="enable(this,['start_date','end_date'])"></td>
                        <td>Date</td>
                        <td></td>
                        <td style="text-align: right;">Start date</td>
                        <td><input type="" class="form-control" name="start_date" id="start_date" disabled></td>
                        <td style="text-align: right;">End date</td>
                        <td><input type="" class="form-control" name="end_date" id="end_date" disabled></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" onclick="enable(this,['gender'])"></td>
                        <td>Gender</td>
                        <td></td>
                        <td style="text-align: right;">Select Gender</td>
                        <td>
                        	<select id="gender" class="form-control" disabled>
                        		<option>All</option>
                        		<option>Female</option>
                        		<option>Male</option>
                        	</select>
                    	</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" onclick="enable(this,['status'])"></td>
                        <td>Record Status</td>
                        <td></td>
                        <td style="text-align: right;">Select Status</td>
                        <td><select id="status" class="form-control" disabled>
			                    <option value="DC ACTIVE">Reported Deaths </option>
			                    <option value="HQ ACTIVE">Approved at DC </option>
			                    <option value="HQ CAN PRINT">In print Queue</option>
			                    <option value="HQ PRINTED">Printed Records</option>
			                    <option value="HQ DISPATCHED">Dispatched Records</option>
			                    <option value="HQ VOIDED">Voided records</option>
			                    <option value="HQ AMEND">Amended</option>
			                    <option value="HQ LOST">Lost</option>
			                    <option value="HQ DAMAGED">Damaged</option>
			            </select>
			            </td>
                        <td style="text-align: right;"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td ></td>
                        <td></td>
                        <td style="text-align: right;"></td>
                        <td></td>
                        <td ></td>
                        <td style="text-align: right;">
                          <button class="btn btn-success" onclick="fetchNewData()">Load Data</button>
                        </td>
                    </tr>

    </table>
<div style="background-color: #ffffff; color: rgb(238, 238, 238); padding: 1px;">
	<div style="width: 100%;border:1px solid gray;" >
					
					<table id='table' style="width: 100%;" cellpadding="5" cellspacing="0">

						  <thead>
						        <tr>
						          <th>District</th>
						          <th>Died and Registered in Pilot Facility</th>
						          <th>Died in Pilot Facility but registered at DR0</th>
						          <th>Non Pilot Health Facility</th>
						          <th>Home</th>
						          <th>Other</th>
						          <th>Total</th>
						        </tr>
						  </thead>
						  <tbody>
						  		<% @districts.each do |district| %>
						  				<% next if district.name.include?("City") %>
						  				<tr>
						  					<td><%= district.name %></td>
						  					<td id="<%=district.name%>_died_and_registered_at_pilot" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="<%=district.name%>_died_in_pilot_and_registered_at_dro" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="<%=district.name%>_non_pilot" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="<%=district.name%>_home" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="<%=district.name%>_other" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="<%=district.name%>_Total" style="text-align:right;margin-right:5%">loading...</td>
						  				</tr>
						  		<%end%>

						  		<tr>
						  					<td>Districts Total</td>
						  					<td id="died_and_registered_at_pilot" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="died_in_pilot_and_registered_at_dro" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="non_pilot" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="home" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="other" style="text-align:right;margin-right:5%">loading...</td>
						  					<td id="Total" style="text-align:right;margin-right:5%">loading... </td>
						  		</tr>
						  </tbody>
						</table>
	</div>
</div>
<div style="position: fixed; bottom: 2%; right: 2%; background: #ffffff" >
    <button id="print_btn" class="btn btn-success pull-right"  onclick="downloadCSV()">DownLoad CSV</button> 
</div>
<form method="post" id="district_data" action="/reports/download_place_of_death">
	<input type="hidden" name="died_and_registered_at_pilot" id="input_died_and_registered_at_pilot">
	<input type="hidden" name="died_in_pilot_and_registered_at_dro" id="input_died_in_pilot_and_registered_at_dro">
	<input type="hidden" name="non_pilot" id="input_non_pilot">
	<input type="hidden" name="home" id="input_home">
	<input type="hidden" name="other" id="input_other">
	<input type="hidden" name="Total" id="input_Total">
</form>
<script type="text/javascript">
	function __$(id){
		return document.getElementById(id)
	}
	var district_data = {}
	var district_data = {}
	var died_and_registered_at_pilot = 0
	var died_in_pilot_and_registered_at_dro = 0
	var non_pilot = 0
	var home = 0
	var other = 0
	var Total = 0
	function fetchData(start_date,end_date,status){
			Total = 0;
			$("Total").html(Total)
			<% @districts.each do |district| %>
					<% next if district.name.include?("City") %>
					district_data["<%=district.name%>"] = {}
					var categories = ["died_and_registered_at_pilot","died_in_pilot_and_registered_at_dro","non_pilot","home","other","Total"]
					for(var i = 0 ; i < categories.length; i++){
						var url = "/reports/by_place_of_death"
						url = url + "?district=<%=district.name%>&category="+categories[i];
						url = url + "&gender="+ $('#gender').val();
						url = url + "&start_date="+start_date+"&end_date="+end_date;
						url = url + "&status="+status;
						if (!__$( "<%=district.name%>_input_"+ categories[i])) {
							var input = document.createElement("input");
							input.id = "<%=district.name%>_input_"+ categories[i];
							input.name = "<%=district.name%>_input_"+ categories[i];
							input.type ="hidden";
							input.value = 0;
							$("#district_data").append(input);
						}
						$.getJSON(url,function(data){
								$("#"+data.district+"_"+data.category).html(data.count);
								$("#"+data.district+"_input_"+data.category).val(data.count);
								switch(data.category) {
								  case "died_and_registered_at_pilot":
								    died_and_registered_at_pilot = died_and_registered_at_pilot +  data.count
								    break;
								  case "died_in_pilot_and_registered_at_dro":
								    died_in_pilot_and_registered_at_dro = died_in_pilot_and_registered_at_dro +  data.count
								    break;
								  case "non_pilot":
								    non_pilot = non_pilot +  data.count
								    break;
								  case "home":
								    home = home + data.count
								    break;
								  case "other":
								    other = other + data.count
								    break;
								  case "Total":
								    Total = Total +  data.count
								    break;
								  default:
								    // code block
								}
								$("#input_"+data.category).val(eval(data.category));
								$("#"+data.category).html(eval(data.category));
						})
					}
					
			<%end%>
			var categories = ["pilot","non_pilot","home","other","Total"]
			for(var i = 0 ; i < categories.length; i++){
						var url = "/reports/by_place_of_death"
						url = url + "?district=All&category="+categories[i];
						url = url + "&gender="+ $('#gender').val();
						url = url + "&start_date="+start_date+"&end_date="+end_date;
						url = url + "&status="+status;
						$.getJSON(url,function(data){
								$("#"+data.district+"_"+data.category).html(data.count)
						})
			}


			 $('#start_date').val($.datepicker.formatDate('yy-mm-dd',new Date(start_date)));
			 $('#end_date').val($.datepicker.formatDate('yy-mm-dd',new Date(end_date)))
			 $("#status").val(status)
	}

	function fetchNewData(){
		<% @districts.each do |district| %>
					<% next if district.name.include?("City") %>
					var categories =  ["pilot","non_pilot","home","other","Total"]
					for(var i = 0 ; i <categories.length; i++){
						$("#<%=district.name%>_"+categories[i]).html("loading...")
					}
		<%end%>
		

		var start = $("#start_date").val();
		var end = $("#end_date").val();
		var status = $("#status").val();
		fetchData(start,end,status)
	}

	var start= "<%= Time.now.beginning_of_month.strftime('%Y-%m-%d 00:00:00') %>"
	var end  ="<%= Date.today.to_time.strftime('%Y-%m-%d 23:59:59') %>"
	fetchData(start,end,'DC ACTIVE');

  $(document).ready(function(){
      $('#start_date').datepicker({ dateFormat: 'yy-mm-dd', maxDate: $.datepicker.formatDate('yy-mm-dd',new Date())});
      $('#end_date').datepicker({ dateFormat: 'yy-mm-dd', maxDate: $.datepicker.formatDate('yy-mm-dd',new Date())});
  })
  function enable(element, elements){

    for(var i = 0 ; i < elements.length ; i++ ){
      if(element.checked){
        $("#"+elements[i]).removeAttr("disabled")
      }else{
        $("#"+elements[i]).attr("disabled","disabled")
      }
    }
  }
  function enableAge(element){
    if (element.value == "=> Age <="){
      $("#start_age_label").html("Start Age")
      $("#end_age_label").html("End Age");
      $("#end_age_label").css({"visibility":"visible"})
      $("#end_age").css({"visibility":"visible"})
    }else{
      $("#start_age_label").html("Age")
      $("#end_age_label").css({"visibility":"hidden"})
      $("#end_age").css({"visibility":"hidden"})
    }
  }

  function downloadCSV(){
  	 var form = $("#district_data");
  	 form.submit();
  }

</script>