<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="#">

    <title>eDRS HQ</title>
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%#= csrf_meta_tags %>
  
  <script>
    history.pushState(null, null, null);
    window.addEventListener('popstate', function(event) {
      history.pushState(null, null, null);
    })

    Object.defineProperty(Date.prototype, "format", {
       value: function (format) {
               var date = this;
               var result = "";

               if (!format) {

                            format = ""

               }

                var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

                var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September",
                            "October", "November", "December"];

                if (format.match(/YYYY\-mm\-dd/)) {

                            result = date.getFullYear() + "-" + padZeros((parseInt(date.getMonth()) + 1), 2) + "-" + padZeros(date.getDate(), 2);

                } else if (format.match(/mmm\/d\/YYYY/)) {

                            result = months[parseInt(date.getMonth())] + "/" + date.getDate() + "/" + date.getFullYear();

                } else if (format.match(/d\smmmm,\sYYYY/)) {

                            result = date.getDate() + " " + monthNames[parseInt(date.getMonth())] + ", " + date.getFullYear();

                } else {

                            result = date.getDate() + "/" + months[parseInt(date.getMonth())] + "/" + date.getFullYear();

                }

                        return result;
               }
    });
  </script> 

    <!-- Bootstrap CSS -->    
    <%#= stylesheet_link_tag    'bootstrap/bootstrap.min' %>
    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/assets/bootstrap/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/assets/bootstrap/elegant-icons-style.css" rel="stylesheet">
    <link href="/assets/bootstrap/font-awesome.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/assets/bootstrap/style.css" rel="stylesheet">
    <link href="/assets/bootstrap/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->

    <style>
      
      body {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none;          /* Likely future */   
        color:#394a59 !important;   
      }

      
      img {
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        pointer-events: none;
      }

      .left-info-footer {
        left: 200px;
        position: absolute;
        opacity: 1;
        transition: 1s opacity;
      }

      .credits {
        bottom: -355px;
        position: relative;
      }
      .icon-attr {
        height: 40%;
        width: 40%;
        padding-top: 10px;
      }

      .divbtn {
        height: 150px;
        width: 99%;
        display: table;
        margin-top: 10px;
        cursor:pointer;
        box-shadow: 10px 10px 5px #888888;
        text-align: center; 
        background-color: white;
        border: 1px solid #2e6da4;
      }
      label{
        font-weight: 600;
        color:  #2d2c2c;
      }
     input{
       color: #222121;
     }
     input, select ,option{
        color:#1a2732 !important;
     }
     .icon-attr {
          height: 40%;
          width: 40%;
          padding-top: 10px;
    }

    .divbtn {
      height: 155px;
      width: 99%;
      display: table;
      margin-top: 10px;
      cursor:pointer;
      box-shadow: 5px 5px 2.5px #888888;
      text-align: center; 
      background-color:#ffffff;
      border: 1px solid #d1d1d1;
      padding: 1em;
    }
    #main{
      width: 100%;
      background: #f8f8ff;
      margin-top: 10px !important;
      min-height: 553px;
      box-shadow: 1.5px 1.5px 1px #888888;
      border: 1px solid #efeff2;
      border-top: 2px solid darkgoldenrod;
    }
    
    #main h3{
        margin-left: 1%;
        font-family: Arial, Helvetica, sans-serif;
    }

    </style>

  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
      <!--header start-->
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/"> <img style="width:50px;height:50px;display:none" src="/assets/coa.png"></a>
            <a href="/" style="color:#ffffff;font-size: 2.5em;margin-left:1%">eDRS</a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">                    
                    <li>
                        <form class="navbar-form">
                            <!--input class="form-control" placeholder="Search" type="text"-->
                        </form>
                    </li>                    
                </ul>
                <!--  search form end -->                
            </div>

            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="#">
                            </span>
                            <span class="username"><%=User.current_user.username%></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="/profile/<%=User.current_user.id%>"><i class="icon_profile"></i> My account</a>
                            </li>
                            <li>
                                <a href="/settings/"><i class="fa fa-gears"></i> Settings</a>
                            </li>
                            <li>
                                <a href="/login"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">   

                  <li class="">
                      <a class="" href="/">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="">
                      <a class="" href="/search">
                          <i class="icon_search_alt"></i>
                          <span>Search</span>
                      </a>
                  </li>

                  <% if has_role("Add cause of death") %>
                  
                  <li class="">
                      <a class="" href="/causes_of_death/view">
                          <i class="icon_document_alt"></i>
                          <span>View Causes </span>
                      </a>
                  </li>
                  <li class="">
                      <a class="" href="/manage_ccu_dispatch">
                          <i class="icon_document_alt"></i>
                          <span>CCU Dispatch</span>
                      </a>
                  </li>
                  <%end%>
                  <% if has_role("View a record")  || has_role("Create User") %>
                  <li class="">
                      <a href="/tasks" class="">
                          <i class="icon_document_alt"></i>
                          <span>Manage cases</span>
                      </a>
                  </li>       
                  <%end%>
                  <% if has_role("Edit cause of death") %>
                    <li class="hidden">
                      <a href="/generate_cases" class="">
                          <i class="icon_document_alt"></i>
                          <span>Generate Sample</span>
                      </a>
                    </li> 
                    <li class="">
                      <a class="" href="/causes_of_death/view">
                          <i class="icon_document_alt"></i>
                          <span>View Causes </span>
                      </a>
                  </li>
                    <li class="">
                      <a href="/sampled_cases" class="">
                          <i class="icon_document_alt"></i>
                          <span>Sampled cases</span>
                      </a>
                    </li>   
                  <%end%>
                  <% if has_role("Manage incomplete records") || has_role("Reject a record") %>
                    <li class="hidden">
                      <a href="/rejected_cases_tasks" class="">
                          <i class="icon_document_alt"></i>
                          <span>Rejected cases</span>
                      </a>
                  </li> 
                  <%end%>
                  <% if has_role("Manage incomplete records")  %>
                     <li class="">
                      <a href="/edited_from_dc" class="">
                          <i class="icon_document_alt"></i>
                          <span>Edited from DC</span>
                      </a>
                  </li> 
                  <%end%>
                  <% if has_role("Manage incomplete records")  || has_role("Create User") || has_role("Reject a record") || has_role("Assess certificate quality")%>
                  <li class="">
                      <a href="/special_cases_tasks" class="">
                          <i class="icon_document_alt"></i>
                          <span>Special cases</span>
                      </a>
                  </li>       
                  <%end%>
                  <% if has_role("Manage duplicates") %>
                    <li class="">
                      <a href="/duplicate_cases_tasks" class="">
                          <i class="icon_document_alt"></i>
                          <span>Duplicate cases</span>
                      </a>
                  </li>  
                  <%end%>
                  <% if has_role("Make ammendments") || has_role("Manage duplicates") %>
                    <li class="">
                      <a href="/amendment_cases_tasks" class="">
                          <i class="icon_document_alt"></i>
                          <span>Amendments</span>
                      </a>
                  </li>  
                  <%end%>
                  <% if has_role("Authorise printing") %>
                    <li class="">
                      <a href="/print_out_tasks" class="">
                          <i class="icon_document_alt"></i>
                          <span>Print Cases</span>
                      </a>
                  </li>  
                  <%end%>
                  <% if has_role("Assess certificate quality") %>
                  <li class="">
                      <a href="/verify_certificates" class="">
                          <i class="icon_document_alt"></i>
                          <span>Printed Certificates</span>
                      </a>
                      <a href="/hq/quality_control" class="">
                          <i class="icon_document_alt"></i>
                          <span>Verify Certificates</span>
                      </a>
                  </li>       
                  <%end%>
                  <% if has_role("Authorise printing") || has_role( "Activate User") || has_role("Deactivate User") || has_role("Create User") || has_role( "Update User") || has_role("View Users") || has_role( "Add cause of death") || has_role( "Edit cause of death")%>
                    <li class="sub-menu">
                      <a href="/reports" class="">
                          <i class="fa fa-users"></i>
                          <span>Reports</span>
                      </a>
                  </li>
                  <!--li class="sub-menu ">
                      <a href="javascript:;" class="">
                          <i class="icon_documents_alt"></i>
                          <span>Reports</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">                          
                          
                            <li><a href="#">Printed Certificates</a></li>
                            <li><a href="#">Reported Births</a></li>
                            <li><a href="#">Registered Births</a></li>
                            <li><a href="#">Approved at HQ</span></a></li>
                            <li><a href="#">Voided Records</a></li>     

                      </ul>
                  </li-->
                  <% end %>
                  
                  <% if has_role("Create User") %>
                  <li class="sub-menu">
                      <a href="/manage_users" class="">
                          <i class="fa fa-users"></i>
                          <span>Manage Users</span>
                      </a>
                  </li>
                  <%end %>
                  <% if @current_user.role == "Certificate Signatory" %>
                  <li class="sub-menu">
                      <a href="/settings" class="">
                          <i class="fa fa-users"></i>
                          <span>Setting</span>
                      </a>
                  </li>
                  <%end%>
                   <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="fa fa-gears"></i>
                          <span>Profile</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                       <% if has_role("Create User") %>
                          <li><a class="" href="/settings">Settings</a></li>
                        <%end%>
                          <li><a class="" href="/my_account">My account</a></li>
                      </ul>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
		  <div class="row">
				<div class="col-lg-12">
					<!--h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3-->
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="/">Home</a></li>
						<li><i class="fa fa-bars"></i><%= controller.controller_name %></li>
						<li><i class="fa fa-square-o"></i><%= controller.action_name.gsub('_', ' ')%></li>
					</ol>
				</div>
			</div>
              <!-- page start-->
              <!-- javascripts -->
              <!--script src="assets/bootstrap/jquery.js"></script-->
              <script src="/assets/DataTables/jquery.js"></script>
              <script src="/assets/bootstrap/bootstrap.min.js"></script>
              <script src="/assets/bootstrap/jquery.scrollTo.min.js"></script>
              <script src="/assets/bootstrap/jquery.nicescroll.js"></script>
              <script src="/assets/bootstrap/scripts.js"></script>
              <%#=javascript_include_tag "bootstrap/jquery" %>                          
              <%#=javascript_include_tag "bootstrap/bootstrap.min" %>                          
              <!-- nice scroll -->
              <%#=javascript_include_tag "bootstrap/jquery.scrollTo.min" %>                          
              <%#=javascript_include_tag "bootstrap/jquery.nicescroll" %>                          
              <%#=javascript_include_tag "bootstrap/scripts" %>                          
              <% if (controller.controller_name == 'case' &&  controller.action_name != "show") || controller.action_name == 'do_search' || controller.action_name == 'build_mysql_database' || controller.action_name == 'database_load' || controller.action_name == "causes_of_death" || controller.action_name == 'user_audits'%>

                <!--script src="assets/DataTables/jquery.js"></script-->
                <script src="/assets/DataTables/jquery.dataTables.min.js"></script>
                <link href="/assets/DataTables/jquery.dataTables.css" rel="stylesheet">
                <link href="/assets/DataTables/demo_table_jui.css" rel="stylesheet">
                <link href="/assets/DataTables/demo_page.css" rel="stylesheet">
                <link href="/assets/DataTables/jquery-ui.css" rel="stylesheet">

              <%end%>
              <style type="text/css">
                  body { 
                        font-family: Arial, Helvetica, sans-serif;
                   }
              </style>
              <%= yield %>
              <% if flash[:notice].present? %>
                  <div class="" id="showmessage_modal" style=" position: absolute; left: 30%;top: 13.5%;visibility : <%= flash[:notice].present? ? 'visible' : 'hidden'%>">
                      <div class="modal-dialog">
                        <div class="modal-content">
                              <div class="modal-header" style="background:#477cc3;color:#ffffff">
                                <center><h4 class="modal-title" id="howmessage_modal_title">Message</h4></center>
                              </div>
                              <div class="modal-body">
                                    <center><%= flash[:notice] %></center>
                              </div>
                              <div class="modal-footer">
                                <!--buttons-->
                              </div>
                        </div>
                      </div>
                 </div>
                 <script type="text/javascript">
                     setTimeout(function(){
                            document.getElementById("showmessage_modal").style.visibility ="hidden";
                     },3000);
                 </script>
             <%end%>
          </section>
      </section>
      <!--main content end-->
      <div class="text-right">
            <div class="credits">
                <!-- 
                    All the links in the footer should remain intact. 
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                -->
                <span class="left-info-footer" style="opacity: 0.1;">
                  <a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> 
                  by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </span>
                <span class="right-info-footer">
                  <a href="#">NRB electronic Death Registration</a> 
                </span>
            </div>
        </div>
  </section>
  <!-- container section end -->

  
  </body>

</html>
