<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <% @title = "#{controller.controller_name.humanize} #{controller.action_name.humanize}" rescue ""  %>
    <script language="javascript">
      tstUserKeyboardPref = "abc"
      tstUsername = "XXXXXXXX";
      tstCurrentDate = "<%= Time.now.strftime("%Y-%m-%d") %>";
    </script>
    <script type="text/javascript" language="javascript" src="/js/icons.js" defer="true"></script>
    <script type="text/javascript" src="/assets/spin.min.js"></script>
     <script type="text/javascript" src="/assets/edrs.js"></script>
  </head>
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/edrs.css">
  <body id="container" onresize="resizeDiv()">
        <div style="width: 99.6%; margin :auto; margin-top: 0.5%; border: 1px solid #959595; height : calc(100%);">

              <div id="app_header">

                 <div id="home_button" onmousedown="window.location ='/'">
                        <i class=" fa fa-home"></i>
                  </div>

                <table style="min-width :20%; margin-top : 0.5em ;float:right">

                  <tr>
                    <% if @search.present? %>
                    <td><span class="fa fa-search" id="search" onclick="window.location.href ='/people/search'"></span></td>
                    <%end%>
                    <td style="text-align:right; "><font style="font-size:2em;vertical-align:bottom">NRB eDRS </font></td>
                    <td><img src="/images/coa.png" style="width :3.5em; float: right; margin-right : 0.6em"></td>
                  </tr>         
                </table>
                       
              </div>
              <div id="containt" style="width:100%">
                    
                    <%= yield %>

              </div>
              
              <div id="footer" style="border-top: 1px solid  #959595; min-height:21px; bottom : 10px">

              <% if @section=="Home" %>
                <button id="signout" class="red" onmousedown="window.location ='/logout'" ><span>Logout</span></button>

              <%else%>
                  <% if @targeturl.present?%>
                      <button id="signout" class="green" onmousedown="window.location ='<%= @targeturl %>'" ><span>Back</span></button>
                  <%elsif params[:next_url].present? %>
                      <button id="signout" class="green" onmousedown="window.location ='<%= params[:next_url] %>'" ><span>Back</span></button>
                  <%else %>
                      <button id="signout" style="display:none" class="green" onmousedown="window.location ='/'" ><span>Back</span></button>
                  <%end%>
              <% end %>

                <div id="section" >
                    <%= @section rescue "Home" %>
                </div>
                <div style="width :40%;margin:auto; margin-top : 0.5em ; font-weight:bold; font-style:italic; text-align:center;font-weight:400">
                      <%= User.current_user.username %>@HQ
        
                </div>
                   
              </div>
        </div>
      </div>
  </body>

  <script type="text/javascript">
      
  </script>
</html>
